[2014-03-05 15:10] garaemon opened #4 "jsk_pcl_rosで不必要なnodeletを整理する"

[2014-03-07 12:32] #4 closed, assigned to garaemon

[2014-03-07 12:35] garaemon opened #8 "DelayPointCloudは使っているのか"
DelayPointCloudをまだ使っているか調べて、そのようなプログラムがあったらVoxelGridManagerに置き換える.

@tarukosu

[2014-03-07 16:18] garaemon opened #10 "move image_shrink to jsk_recognition"
Let's move [image_shrink package](https://github.com/furushchev/image_shrink) to jsk_recognition.
Is there any problem?

I believe that package should be installed as default.

[2014-03-07 16:20] garaemon opened #11 "add groovy/catkin build test"

[2014-03-10 04:02] garaemon opened #12 "groovy/catkinでjsk_pcl_rosがコンパイルできない"
package.xmlにpclを含んでいない
- hydroではpclは含まない
- groovyではpclを含むべき (未対応)

[2014-03-10 10:36] #12 closed, assigned to nobody

[2014-03-10 10:36] #11 closed, assigned to garaemon

[2014-03-25 12:19] garaemon opened #15 "[jsk_pcl_ros] special nodes to run single nodelet should be auto-generated"
We can generate cpp codes to run single nodelet such as pointcloud_screenpoint.cpp.

[2014-03-25 17:29] #15 closed, assigned to garaemon

[2014-03-26 10:51] #8 closed, assigned to tarukosu

[2014-04-02 05:50] garaemon opened #20 "implement nodelet throttle/mux for PointCloud2 and Image"
implement them in jsk_pcl_ros (and send the PR to pcl_ros repository).

pcl_ros has mux/demux for PointCloud2 already.
1. implement throttle for PointCloud2 on jsk_pcl_ros.
2. implement mux/demux and throttle for Image on jsk_pcl_ros.
3. send PR to pcl_ros about 1.

[2014-04-02 14:39] garaemon opened #26 "LightWeight throttle for nodelet"
original throttle program of nodelet_topic_tools is pretty heavy because of queue length.

nodelet_topic_tools throttle utilizes 10 length queue, we can use 1 length queue and
put sleep to drop messages.

[2014-04-03 17:00] #26 closed, assigned to garaemon

[2014-04-03 17:00] #20 closed, assigned to garaemon

[2014-04-04 12:41] k-okada opened #28 "release as deb package"
I'll plan to release jsk_recognition as dep package.

Currently I'm waiting for
- [x] jsk_perception https://github.com/jsk-ros-pkg/jsk_recognition/pull/23

if you have another package to be released let me know.

NOTE: I'll plan to release package very frequently

[2014-04-07 12:32] garaemon opened #31 "[jsk_pcl_ros] VoxelGrid{Manager,Decoder} should use proper message"
because of a historical reason, it hacks sensor_msgs/PointCloud2 frame_id.
we should use more proper topic type

[2014-04-08 03:14] garaemon opened #32 "image_rotate supporting nodelet and tf2"
First, I will send PR to ros_perception.
and after that, I will add that to jsk_pcl_ros as a compensation until the PR will be committed.

motivation:
image_rotate inside of PR2 is pretty heavy because of tf and nodelet communication(?).

[2014-04-09 08:42] orikuma opened #36 "dependancy to pcl in jsk_perception"
In hydro, rosdep in jsk_perception cause error on dependancy to pcl in manifest.xml because there is not ros-hydro-pcl. (When I comment out <depend package="pcl"/>, rosdep successfully completed.)
How do I make both hydro and groovy successfully through rosdep?

[2014-04-09 16:08] #32 closed, assigned to garaemon

[2014-04-09 16:09] #31 closed, assigned to garaemon

[2014-04-13 16:30] k-okada opened #46 "cr_calibration fails to compile"
how do I compile cr_calibration package? or is it deprecated? It seems there are several robot hardware that uses cr setup.

[code]

[2014-04-15 11:52] hyaguchijsk opened #52 "new package request: clothbag_rim_detector"
I would like to add clothbag_rim_detector (Miyake, SI2013) to jsk_recognition.
I'm trying to create PR at
https://github.com/hyaguchijsk/jsk_recognition/tree/feature/clothbag_rim_detector

I've tested with Hydro/catkin and not tested with rosbuild yet,
so I will send PR after applying rosbuild.

[2014-04-17 15:34] k-okada opened #54 "renew_tracking.py fails on catkin workspace"
please update load_manifest part https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/scripts/renew_trakcing.py#L4) as  follows

[code]

because renew_tracknig.py fails as follows,

[code]

[2014-04-17 18:34] aginika opened #56 "libjsk_pcl_ros.so: error: undefined reference to 'cv_bridge::CvImage::toImageMsg() const'"
I got the error as below in hydro.
What should I do?

When I added the run_depend and build_depend to the cv_bridge and add cv_bridge to catkin.cmake, the make worked.But Travis seems to pass it, doesn't it?

[code]

[2014-04-19 07:14] #56 closed, assigned to nobody

[2014-04-24 09:42] #10 closed, assigned to furushchev

[2014-04-25 03:22] #54 closed, assigned to aginika

[2014-04-25 03:23] #28 closed, assigned to nobody

[2014-04-25 03:24] k-okada opened #66 "release 0.1.4"
ready?

[2014-04-30 05:08] wesleypchan opened #69 "Publishing same object using SelectPointCloudPublishAction twice crashes rviz"
Steps to reproduce:
1. Start roscore
2. roslaunch jsk_pcl_ros tracking.launch
3. rosrun rviz rviz
4. select and object in rviz
5. click SelectPointCloudPublish Action in the SelectPointCloudPublishAction plugin.
6. re-select the same object in rviz
7. click SelectPointCloudPublish Action in the SelectPointCloudPublishAction plugin again.
-> rviz crashes.

Reproducibility 5/5 times.
ROS version: hy

[2014-04-30 07:12] tarukosu opened #71 "Fail to load jsk_pcl/ImageRotateNodelet"
When loading jsk_pcl/ImageRotateNodlet, I received following errors.

[code]

[2014-05-01 10:28] garaemon opened #78 "refactor filter classes"
Filter関連が複雑すぎるので、もっと簡単な形にして管理しやすくする。

[2014-05-02 01:07] #36 closed, assigned to nobody

[2014-05-07 05:51] wesleypchan opened #82 "Publishing tracked object TF transformation in jsk_pcl_ros tracker"
Make jsk_pcl_ros tracker publish the TF transformation of the tracked object.

[2014-05-10 05:15] #66 closed, assigned to nobody

[2014-05-10 05:15] #46 closed, assigned to YoheiKakiuchi

[2014-05-10 05:17] #71 closed, assigned to nobody

[2014-05-10 05:26] k-okada opened #91 "認識用データセットを作る"
何処に置くかはチョット考え物だけど(gitに入れると重くなるか？），認識用のデータセットを作りたい

pr2で画像をbagをとるのでいいかな．１−３分ぐらいか．データを撮るのは
jsk_data/launch/pr2_record.launch でよいか．

@h-kamada エレベータホールのちょっと手前から動いていって，ボタンを（人が押して）中に入って，ボタンを見るところまで，
@aginika 部屋の中に８この布がある．机の上３，椅子の上１，床の上４，見回して一つ掴んでかごに入れるまで．
@furushchev 冷蔵庫と食洗機と洗濯機をみて回って洗濯機のボタンを押して物を入れる（最初からものは持っている），最後にチョット横に動いて箒を見る．
@mmurooka ３種類のバルブを一つづつ見る，移動してホースの先を見る，ホースは人が掴んで管に回し入れる，その時にホースの胴体が良く見える

[2014-05-10 05:44] #82 closed, assigned to nobody

[2014-05-10 07:15] k-okada opened #94 "release"
please let me know if you're ready to release

[2014-05-13 02:31] k-okada opened #100 "2014_05_12_610_clothes.bag のサンプルをつくる"
sample_610_clothes.launchをつくって，
/home/jsk/ros/data/large/2014_05_12_610_clothes.bag
をplayしてrvizで表示するものを作りましょう．

[2014-05-13 05:00] #78 closed, assigned to nobody

[2014-05-17 08:41] #100 closed, assigned to aginika

[2014-05-20 05:24] garaemon opened #119 "depth imageのscale/ROI指定がほしい"
depth imageでscaleやROIを設定すると、適した`sensor_msgs/Image`と`sensor_msgs/CameraInfo`が出てくるものがほしいです。

OrganizedなPointCloudのほうが高速な処理が期待できるためです

[2014-05-20 05:28] garaemon opened #120 "BoundingBoxを表現するメッセージが必要か"
3時限的なROIの表現や、認識結果などをBoundingBoxで表示するためにBoundingBoxのメッセージがあると良いか?

moveit_msgsのものを使えば良い? しかしheaderがない

[code]

[code]

[2014-05-23 11:40] YuOhara opened #130 "libsiftfastについて"
　point_pose_extractor_sample.launchを使う際に,imagesiftパッケージのimagesiftを使っています。この中で、libsiftfast.hの関数を使っています。
　siftのパラメーターを変えて使いたいと思っているのですが、これだと難しいです。
opencvのsiftを使うようにできないでしょうか？

[2014-05-23 17:20] garaemon opened #133 "no robot_self_filter in hydro"
- official kforge is lost https://kforge.ros.org/armnavigation/armnavigation
- github port is available for groovy/rosbuild https://github.com/uos/arm_navigation/tree/master/robot_self_filter
- moveit has self_filter https://github.com/ros-planning/moveit_ros/tree/hydro-devel/perception, but it's not exported

from answers.ros.org
- http://answers.ros.org/question/69004/robot-self-model-filter-for

[2014-05-26 13:18] #120 closed, assigned to nobody

[2014-06-08 15:52] #130 closed, assigned to nobody

[2014-06-20 08:18] tarukosu opened #164 "Segmentation fault in sparce_image_decorder"
Sparce_image_decorder is sometimes killed by segmentation fault.

[code]

[2014-06-23 11:07] #164 closed, assigned to nobody

[2014-06-28 09:09] #52 closed, assigned to nobody

[2014-06-29 02:40] #94 closed, assigned to nobody

[2014-07-08 01:23] k-okada opened #190 "fail to generate deb on hydro due to build_depend pcl"
bloom_release faild for hydro due to missing dependency for pcl
http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/bloom_release/754/console
due to https://github.com/jsk-ros-pkg/jsk_recognition/commit/21d9d0982e03f8988ffbca52186cd8e8e4a41ede
please remove depend to pcl and there are two direction, compile optical flow component only for hydro or higher.

[2014-07-09 04:43] #190 closed, assigned to garaemon

[2014-07-11 01:16] tarukosu opened #194 "/selected_pointcloud と /bounding_box_marker/sected_box_array の timestamp がずれている"
package://jsk_pcl_ros/launch/organized_multi_plane_segmentation.launch
を実行したときの，
/selected_pointcloud
と
/bounding_box_marker/sected_box_array
のtimestamp がずれている

[2014-07-11 07:08] #194 closed, assigned to nobody

[2014-08-15 02:05] wesleypchan opened #225 "Cannot start multiple particle tracker nodes to track multiple objects"
Starting particle tracking node under a namespace does not work, so cannot start multiple tracking nodes in separtated namespaces to track multiple objects.

[2014-08-15 04:25] k-okada opened #227 "rewrite organized point cloud with depth_image_creator and exiting code to convert depth->pointcloud"
https://github.com/jsk-ros-pkg/jsk_recognition/commit/36e59152bc17e0180474876d101f4eefde2ab162 should be removed

[2014-08-20 09:54] garaemon opened #233 "travisでjsk_pcl_rosがメモリ不足で死にすぎる"
並列数2でもメモリ不足で死ぬのはさすがに問題があるので問題を探りたい。
最適化のオプションをなくしてみる?

[2014-08-23 15:33] #119 closed, assigned to nobody

[2014-09-09 03:52] YuOhara opened #270 "color_histogram_matcher_nodeletでの類似度の可視化"
可視化のために、color_histogramの類似度の可視化をしてみようと思います。
何パターンか実装したので、画像を載せます

[2014-09-09 03:58] #270 closed, assigned to nobody

[2014-09-10 03:55] #225 closed, assigned to nobody

[2014-09-10 03:58] wesleypchan opened #274 "Particle fitler tracker does not use color information"
particle filter tracker does not use color information so it often starts tracking the arm when the object is picked up, even when the arm and the object have very different colors.

[2014-09-10 11:00] garaemon opened #277 "Pointcloud of stereo camera from multisense is not organized"
I've already reported https://bitbucket.org/crl/multisense_ros/issue/14/pointcloud-from-stereo-camera-is-not

[2014-09-10 15:59] #274 closed, assigned to nobody

[2014-09-12 02:08] 130s opened #287 "Is jsk_freenect2 not released as .deb on purpose"
Someone is [wondering here](http://answers.ros.org/question/192512/jsk-ros-pkg-configuring-incomplete-errors-occured/).

[2014-09-12 06:24] #287 closed, assigned to nobody

[2014-09-12 14:57] #233 closed, assigned to nobody

[2014-09-15 07:07] YuOhara opened #292 "organized_multi_plane_segmentation.launchに特定物体認識を加えたい"
jsk_recognitionのorganized_multi_plane_segmentation.launchで物体に対して、interactive_markerでタッチできるので、
そのときに送られてくる点群を登録して、再び見えたときに、それだよと教えてくれる
機能を追加したいです。

pclを使った認識がチュートリアル
http://pointclouds.org/documentation/tutorials/correspondence_grouping.php#correspondence-grouping
にあるので、それを組み込めばいいんじゃないかと思ってます。

あるいは、いい感じの方法や既存のプログラムなどがありますでしょうか

[2014-09-21 06:55] #133 closed, assigned to nobody

[2014-10-01 03:55] #277 closed, assigned to nobody

[2014-10-01 03:56] #227 closed, assigned to k-okada

[2014-10-01 11:57] robograffitti opened #326 "農園の認識に関するパッケージを置きたい"
jsk_tilt_laserを使って取得した農園の中で
農作物が植えられた畝と畝の間の通路の平面を検出したり
検出した平面に主成分分析を適用して移動の進行方向を示したり
通路幅を自動計測して表示するパッケージを作ったので
jsk_pcl_rosかどこかに置きたいと思っています

名前はjsk_gardenとかにしようと思います
![pca-single-all](https://cloud.githubusercontent.com/assets/5218765/4474716/a8d067be-4963-11e4-9f3e-80f7d24e4da0.jpg)

![measure-min](https://cloud.githubusercontent.com/assets/5218765/4474717/b7ad2a1a-4963-11e4-9b9d-0cdd1a1febf3.png)

[2014-10-02 12:30] garaemon opened #330 "jsk_pcl_ros documentation"
documentを作る。
* 何をするためのコードか
* パラメータの一覧
* ユースケース
* デモ画像・動画

[2014-10-08 05:23] garaemon opened #342 "particleFilterTrackingのパラメータをdynamic_reconfigureで設定できるようにする"

[2014-10-17 08:05] #342 closed, assigned to nobody

[2014-10-21 16:18] #326 closed, assigned to nobody

[2014-10-21 16:18] #292 closed, assigned to nobody

[2014-10-21 16:18] #69 closed, assigned to aginika

[2014-10-21 16:20] garaemon opened #357 "Estimate OpenNI z_scale and z_offset"
In order to calibrate depth value from openni sensors, we need to estimate z_scale and z_offset parameter.

[code]

[2014-10-25 07:55] garaemon opened #369 "Remove jsk_libfreenect2?"
[iai_kinect2](https://github.com/code-iai/iai_kinect2) seems to be better than jsk_libfreenect2.
Should we remove jsk_libfreenect2?

Does anyone try iai_kinect2?

[2014-10-26 13:42] #357 closed, assigned to nobody

[2014-10-31 17:50] #91 closed, assigned to nobody

[2014-11-04 09:44] h-kamada opened #397 "認識の並列化について"
冷蔵庫デモの実装上の相談です。
以前自分が書いた、認識のみ別個で走らせるコードは、立ち上げると常に認識結果を更新するようなコードになっており、かなり重いです。そのため、冷蔵庫デモを実際に行う際に立ち上げるlaunchでは、この部分のコードを採用しておらず、認識が必要になった時にObjectDetectionをsubscribeし始めるようになっている(jsk_perception/euslisp/detection-interface.l)ので、認識結果が必要な時のみ認識処理を回すようなコードとなっています。
認識結果を関数型ではなくactionlibで受け取るように変更したいので、認識処理を常に回す形に移行したいのですが、処理の重たさ故に冷蔵庫デモに支障を来すでしょうか？
必要ない時処理速度を落とすといった、賢い実装をした上でdemoのプログラムとつなげるべきでしょうか？

具体的には、

[2014-11-04 19:10] #369 closed, assigned to nobody

[2014-11-05 11:35] cretaceous-creature opened #407 "iai_kinect2は、ubuntu12.04に使うできだ"
The source code in github of IAI_kinect2 and Libfreenect2 are changing everyday.
Any one who wants to use the library plz carefully choose a stable commit
and also a small adjustment should be placed.
##1##. (Firstly U have to check whether ur GPU card is working or not)
##2##. git clone https://github.com/code-iai/iai_kinect2       to ur catkin workspace and also
install the libfreenect2(https://

[2014-11-11 07:53] hyaguchijsk opened #421 "openni2_remote.launchのキャリブレーションしてない時の挙動"
openni2_remote.launchのなかで，

[code]

ここのrosparamがdepth_calibration_fileに何も指定しないとエラーになってしまいます．
全個体をキャリブするというのが仕様になっている気がしますが，
そうではない個体に対してはどうしたらよいでしょうか？
ダミーのファイルを渡す？

のと，このlaunchファイル肥大化しすぎていませんか？
openni2_local.launchに対応するのがopenni2_remote.launchだという認識でしたが，
それ以上のことを単一のlaunchで行うのは正しい方向でしょうか．

後段のキャリブや画像縮小は他のファイルにして，includeする形にして，
やるかどうかはargで都度指定する，などはどうでしょうか．

[2014-11-11 10:01] #421 closed, assigned to nobody

[2014-11-12 04:39] hyaguchijsk opened #424 "euclidean_segmentation.launch failed"
ちょっとデバッグが困難なので分かる人におしえてもらいたいのですが、
以下のようなエラーでいくつかのノードレットが死んでしまいます。
何が原因として考えられるでしょうか？

[code]

[2014-11-14 11:25] #424 closed, assigned to nobody

[2014-11-20 11:38] #397 closed, assigned to nobody

[2014-11-20 11:55] garaemon opened #431 "jsk_pcl_ros nodelets subscribe tf"
because of inheritance of PCLNodelet

[2014-11-23 08:50] YuOhara opened #435 "connection_based_nodeletのadvertiseを使ってないnodeがある。"
#324 でconnection_based_nodeletが使われるようになってますが、

いくつかのコードで、advertiseのメソッドがconnection_based_nodelet
で定義されたものを使うものに更新されてない気がします。
#434 でpointcloud_screenpoint_nodelet.cppを変更してしまいましたが、

そのような変更がいくつかのコードで必要かもしれません。

[2014-11-23 10:28] #435 closed, assigned to nobody

[2014-11-27 06:20] mmurooka opened #446 "organized_multi_plane_segmentationでwarningがたくさん出る"
おそらく organized_multi_plane_segmentation.launch の中で、
以下のwarningが1秒に1回くらいの割合で出るのですが、抑制できますでしょうか。
平面検出と平面の上の物体検出は正常に動作しています。
[code]

[2014-12-16 03:46] garaemon opened #477 "support circle-dot pattern for checkerboard_detector"

[2014-12-17 06:50] chiwunau opened #481 "unorganized pointcloudに対して複数平面検出の方法"
床面上の物のclustersを検出して、clusterを選ぶことでclusterの平面を検出するようなLaunch fileを作ったのだが、clusterのselected_pointcloudを出す時点でunorganizedになってしまってorganized_multiplane_segmentationが使えなくなります

今はselected_pointcloudを一回pcl/NormalEstimationOMPにかけてRegionGrowingMultiplePlaneSegmentationに入れることで何となく平面が出ているが、
このままでいいでしょうか？
それともunorganized pointcloudの平面検出に他の方法があるのでしょうか
＊pointcloudはkinectのものです

[2014-12-19 09:30] #477 closed, assigned to nobody

[2014-12-19 09:30] #431 closed, assigned to nobody

[2014-12-19 14:26] chiwunau opened #493 "Euslisp handle estimatorの掴む方向に関する質問"
今[handle_estimator.l](https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/euslisp/handle_estimator.l)を使わせていて、平面上の物体を掴もうとしているのだが、出力のposeがたまに理想とは180度に回転して、すなわち物体を後ろうから掴もうとするという結果が出ます。

いま点群の座標を全部foot_printに変換して処理していて、organized_multiplaneにかけて、multiplane_extractorにかけたら、outputの結果がｐｒ２が見てる方向の反対側になっているので、output_nonplane_cloudをつかっているが、もしかして原因が平面の方向ベクトルが逆になっていて、alignしたboundingboxの軸も反転になって

[2014-12-20 10:22] #481 closed, assigned to nobody

[2014-12-24 15:07] #493 closed, assigned to nobody

[2014-12-26 15:34] k-okada opened #529 "indigo compile failure"
I'll handle this

[code]

[2014-12-27 17:41] #529 closed, assigned to k-okada

[2015-01-12 04:01] garaemon commented on #133
https://github.com/blodow/realtime_urdf_filter/pull/3

catkinized realtime_urdf_filter

[2015-01-19 17:55] #446 closed

[2015-01-19 17:55] garaemon commented on #446
solevd by https://github.com/jsk-ros-pkg/jsk_recognition/issues/611

[2015-01-22 01:37] garaemon opened #634 "travisのテストが終わらない"
プログラムが増えてきて、結構な頻度で50分以上のコンパイル時間がかかってしまうようです

どうするのが正解でしょうか？

1. 頑張ってコンパイル時間が短いコードを書く
2. jsk_pcl_rosとjsk_perceptionのテストを分ける(依存をなくす)
3. ほぼnodeletなのだなら、片っ端から.cppをincludeして一つの巨大.cppにしてコンパイルしてしまう

- [x] jsk_recognition_msgsを追加。
- [x] debリリース
- [x] jsk_travisにどのパッケージをコンパイルするかの指示ができるようにする
- [x]  jsk_pcl_rosとjsk_perceptionをjsk_recogntion_msgsを使う形に変更。テストもかえる
- [x]  jsk_control, jsk_visualizationもjsk_recogn

[2015-01-22 02:08] k-okada commented on #634
2ですかね．

--
◉ Kei Okada

2015-01-22 10:37 GMT+09:00 Ryohei Ueda <notifications@github.com>:

[2015-01-22 02:11] garaemon commented on #634
メッセージに依存があるのが△なので、jsk_recognition_msgsみたいなものを作ってそこにまとめる方向ですかね。

[2015-01-22 02:26] garaemon commented on #634
以下のような手順ですかね

1. jsk_recognition_msgsを追加。

  jsk_commonにあるべきパッケージだが、試行錯誤しやすいようにjsk_recognitionに配置

2. debリリース
3. jsk_travisにどのパッケージをコンパイルするかの指示ができるようにする
4. jsk_pcl_rosとjsk_perceptionをjsk_recogntion_msgsを使う形に変更。テストもかえる
5. jsk_control, jsk_visualizationもjsk_recognition_msgsを使うように変更する

[2015-01-24 07:09] garaemon commented on #634
* jsk_recognition_msgsを追加してrelease

[2015-01-27 16:55] garaemon commented on #634
jsk_visualization is ready
* https://github.com/jsk-ros-pkg/jsk_visualization/pull/296
* https://github.com/jsk-ros-pkg/jsk_visualization/pull/295

[2015-01-28 06:09] garaemon commented on #634
jsk_recognition is almost ready
* https://github.com/jsk-ros-pkg/jsk_recognition/pull/665

[2015-01-28 06:22] garaemon commented on #634
jsk_control is almost ready
* https://github.com/jsk-ros-pkg/jsk_control/pull/205

[2015-01-29 02:40] garaemon commented on #634
almost done

[2015-01-31 09:02] garaemon commented on #330
I'm planning to add doxygen documentation

[2015-01-31 09:02] garaemon commented on #407
nos jsk_pcl_ros works on indigo and we should use 14.04 for this purpose

[2015-01-31 09:02] #407 closed

[2015-02-01 04:01] garaemon commented on #634
a lot of work done!!

[2015-02-01 04:01] #634 closed

[2015-02-06 09:17] garaemon commented on #330
I think using [readthedocs](https://docs.readthedocs.org) is the best.
However it only support sphinx, we need to add plugin called breathe.

[cppformat](https://github.com/cppformat/cppformat/tree/master/doc) is a good example: http://cppformat.readthedocs.org/en/stable/

[2015-02-07 06:12] garaemon commented on #330
readthedocs only supports sphinx and in order to generate c++ documentation, we need to use [breathe](http://breathe.readthedocs.org/)

However, it does not work so well...

[2015-02-13 06:07] garaemon opened #698 "resize_points_publisher publishes wrong timestamp"
A lot of messages have the same timestamp

[code]

[2015-02-13 13:11] furushchev opened #701 "(ros::roseus-add-srvs "jsk_pcl_ros") fails."
after `catkin build`, roseus command `(ros::roseus-add-srvs "jsk_pcl_ros")` fails.

[code]

But

[code]

it works.

[2015-02-13 13:15] garaemon commented on #701
Have you compiled services?

✉︎ Ryohei Ueda

On Fri, Feb 13, 2015 at 5:12 AM -0800, "Furushchev" <notifications@github.com> wrote:

after catkin build, roseus command (ros::roseus-add-srvs "jsk_pcl_ros") fails.

$ roseus
1.irteusgl$ ros::roseus-add-srvs "jsk_pcl_ros"
/opt/ros/hydro/share/euslisp/jskeus/eus/Linux64/bin/irteusgl 0 error: no such package JSK_RECOGNITION_MSGS in (apply #'load-org-for-

[2015-02-13 13:49] furushchev commented on #701
@garaemon I just compiled as `catkin build jsk_pcl_ros`,
then reopen terminal, then sourced /opt/ros/hydro, ~/ros/hydro_parent/devel, ~/ros/hydro/devel.

[2015-02-13 13:53] garaemon commented on #701
`catkin build jsk_pcl_ros` does not generate services/messages for roseus.
Please make dependency in sub-project like drc_task_common:
https://github.com/jsk-ros-pkg/jsk_demos/blob/master/jsk_2015_06_hrp_drc/drc_task_common/catkin.cmake#L4

[2015-02-13 14:22] furushchev commented on #701
@garaemon thanks for advice...
now let's talk with example `detect_cans_in_fridge_201202`,
I changed catkin settings as follow:

[code]

then compiled with `catkin build detect_cans_in_fridge_201202 --force-cmake`, after which still occurs the same error...

[2015-02-13 14:33] garaemon commented on #701
Please check ~/ros/hydro/devel/share/roseus/ros/jsk_pcl_ros directory and if you have it, remove it and run catkin build again

[2015-02-13 14:33] garaemon commented on #701
And also confirm you dont have ~/.ros/roseus directory

[2015-02-13 14:41] furushchev commented on #701
I executed as follow:

[code]

and,,, it still occurs error:

[code]

now my env is:

[code]

[2015-02-13 14:48] garaemon commented on #701
Why do you have .sos under ~/.ros/roseus after `catkin build`?

[2015-02-14 06:12] furushchev commented on #701
@garaemon Sorry, this was just because of my bad bashrc.
I removed ros settings, re-removed `$HOME/.ros/roseus`, then cleaned by `catkin clean --all` and `catkin build`.
As you have said, `$HOME/.ros/roseus` directory no more exists, but still occurs the same error.

[code]

my detail env is:

[code]

[2015-02-14 06:27] garaemon commented on #701
Check ~/ros/hydro/devel/share/roseus/ros/jsk_pcl_ros/srv

[2015-02-14 06:35] furushchev commented on #701
[code]

[code]

It seems there is no problem.

[2015-02-14 06:37] garaemon commented on #701
I understand. please call ros::roseus-add-msgs "jsk_recognition_msgs" first

[2015-02-14 06:41] furushchev commented on #701
So, let's get back to beginning of this discussion (https://github.com/jsk-ros-pkg/jsk_recognition/issues/701#issue-57596910).

1. just calling `(ros::roseus-add-srvs "jsk_pcl_ros")` fails.
2. calling it after `(ros;;roseus-add-msgs "jsk_recognition_msgs")` works.

Most all of code is written only `(ros::roseus-add-srvs "jsk_pcl_ros")` in a file.
Must we fix this? Is it correct behavior of euslisp

[2015-02-14 06:42] garaemon commented on #701
(ros::load-ros-manifest "jsk_pcl_ros") should work

[2015-02-14 06:50] furushchev commented on #701
Umm, ok, so you mean:

1. use `(ros::load-ros-manifest <package>)` to load entire msg/srvs with resolving dependencies.
2. use `(ros::roseus-add-msgs <package>)` to load msg/srvs only of the package.

Is it correct?

[2015-02-14 06:54] garaemon commented on #701
Yes, but if you can write patch for add-msgs to resolve dependency, it sounds good.But I think we should change geneus scrip to add require in msg.l and it's not so easy task

✉︎ Ryohei Ueda

On Fri, Feb 13, 2015 at 10:50 PM -0800, "Furushchev" <notifications@github.com> wrote:

Umm, ok, so you mean:

use (ros::load-ros-manifest <package>) to load entire msg/srvs with resolving dependencies.
use (

[2015-02-17 10:07] garaemon opened #715 "jenkins testing does not end within 50 minutes"
One solution is to use ccache with shareding cache by different docker containers.
https://github.com/jsk-ros-pkg/jsk_travis/issues/53

[2015-02-17 10:14] garaemon commented on #715
@k-okada Can we use multiple processors on jenkins?

[2015-02-17 10:14] garaemon commented on #715
I plan to change parallel option from `-p1` to `-p8` or something like that.

[2015-02-17 10:21] garaemon commented on #715
Another solution is to separate jsk_pcl_ros into more smaller packages. for example, jsk_pcl_ros_util, jsk_pcl_ros_base, jsk_pcl_ros_core.

And jsk_pcl_ros depends on them. In testing phase, we can compile them separately

[2015-02-17 10:28] k-okada commented on #715
I think so, using -p8 on jenkins is ncie to do.

--
◉ Kei Okada

On Tue, Feb 17, 2015 at 7:21 PM, Ryohei Ueda <notifications@github.com>
wrote:

[2015-02-17 10:34] garaemon commented on #715
https://github.com/jsk-ros-pkg/jsk_recognition/pull/716

[2015-02-19 16:13] garaemon commented on #715
solved by using jenkins.jsk

[2015-02-19 16:13] #715 closed

[2015-02-19 16:14] garaemon commented on #698
I'm afraid of nodelet bug

[2015-02-20 02:29] mmurooka opened #727 "ドアノブ認識でX軸が逆向きになることがある"
緊急ではないですが報告です．
ドアノブ認識の結果で，X軸がノブの長軸方向ですが，
この向きが同じドアを認識したときに逆になったりならなかったりします．

[2015-02-20 02:33] k-okada commented on #727
全くのヤマカンですが，PCA使っているとこれは避けられないですね．受け取り側でロボットの視線との内積でも計算してv- しましょう．

--
◉ Kei Okada

2015-02-20 11:29 GMT+09:00 Masaki Murooka <notifications@github.com>:

[2015-02-20 03:39] garaemon commented on #727
当たりです。認識側でも対応しますが、eus側で無理やりflipしておいてください

✉︎ Ryohei Ueda

On Thu, Feb 19, 2015 at 6:33 PM -0800, "Kei Okada" <notifications@github.com> wrote:

全くのヤマカンですが，PCA使っているとこれは避けられないですね．受け取り側でロボットの視線との内積でも計算してv- しましょう．

--

◉ Kei Okada

2015-02-20 11:29 GMT+09:00 Masaki Murooka <notifications@github.com>:

—
Reply to this email directly or view it on GitHub.

[2015-02-20 03:53] mmurooka commented on #727
はい，現状はそのようにしています，ということで緊急ではないです．

[2015-02-20 03:54] garaemon commented on #727
z軸の向きとかも逆な気がしていて、この辺は明日修正します

✉︎ Ryohei Ueda

On Thu, Feb 19, 2015 at 7:53 PM -0800, "Masaki Murooka" <notifications@github.com> wrote:

はい，現状はそのようにしています，ということで緊急ではないです．

—
Reply to this email directly or view it on GitHub.

[2015-03-09 08:41] aginika opened #762 "What is the best way to make color image from organized point cloud?"
I want to create color image generated from organized point cloud (using pass_throughed point cloud as input, so some parts are null. I hope that those invalid points become black in the color image).

I used depth_image_creator, but it was monochrome.

[2015-03-09 22:57] garaemon commented on #762
We should use PointIndices and MaskImage.

1. generate PointIndices from organized pointcloud (You need to implement it)
2. convert PointIndices to MaskImage (jsk_pcl/PointIndicesToMaskImage)
3. apply mask image to the original image (jsk_perception/ApplyMaskImage)

[2015-03-10 03:43] #701 closed

[2015-03-10 11:45] aginika commented on #762
@garaemon  Thanks a lot !!
I added to #765 which you suggest to implement.
And I realied to generate image.
Thanks.

[2015-03-10 11:45] #762 closed

[2015-03-14 18:08] wkentaro opened #771 "[rgb_decomposer.cpp] Segmentation fault when received Image message without data array"
I tried below example with rgb_decomposer.cpp for object recognition with color histogram.
https://github.com/jsk-ros-pkg/jsk_recognition/commit/6adacb1e46f04dc6a1eff22b02704f77118a12b3

The output of this example is `/apply_mask/output` and it can be published without image data array. `rgb_decomposer.cpp` does not validate if the image message has image array, and that's why it raise segmentatio

[2015-03-16 02:22] #771 closed

[2015-03-17 02:27] garaemon commented on #727
多分治っています

[2015-03-17 02:27] #727 closed

[2015-03-19 19:39] tfoote opened #789 "wiki tracker links are out of date"
They link to sourceforge.

See the bottom of the page: http://wiki.ros.org/jsk_pcl_ros?distro=indigo

[2015-03-20 04:54] k-okada commented on #789
thanks you fixed

[2015-03-20 04:54] #789 closed

[2015-03-27 14:40] aginika opened #804 "Lack of ColorHistogramLabelMatch README Documents"

[2015-03-29 06:07] garaemon commented on #804
see https://github.com/jsk-ros-pkg/jsk_recognition/pull/807

[2015-03-29 06:22] aginika commented on #804
Thanks !!

[2015-03-29 06:22] #804 closed

[2015-04-25 10:37] h-kamada opened #864 "How can I check pointcloud is empty or not"
I have to check whether a pointcloud is empty or not.
If input empty pointcloud to kdtree.nearestKSearch, an error occurs.
[pcl::KdTreeFLANN::setInputCloud] Cannot create a KDTree with an empty input cloud!

[2015-04-25 12:58] aginika commented on #864
Maybe I don't understand what you mean fully, but below does not works for you?
[code]

[2015-04-25 14:23] h-kamada commented on #864
Sorry for not explaining enough.
Input pointcloud is multisense/organized_image_points2.
In this topic , I think depth unknown points are set Inf or NaN. (Is this misunderstanding??)
So, if all points I chose were Inf or NaN, nearestKsearch fails. (I think it's reason of error)

I want to know if there are valid points (not Inf or NaN) in pointcloud.

[2015-04-25 14:28] aginika commented on #864
If you want to check one by one, u can use `isnan`
[code]

Just removing , you might be able to use below function
[code]

[2015-04-25 14:30] aginika commented on #864
Belows are documantation

http://docs.pointclouds.org/trunk/namespacepcl.html
http://docs.pointclouds.org/trunk/filter_8hpp_source.html#l00046

[2015-04-25 15:21] h-kamada commented on #864
While reading http://docs.pointclouds.org/trunk/filter_8hpp_source.html#l00046 , I found is_dense attribute.
This is it.
Thank you!

[2015-04-25 15:21] #864 closed

[2015-04-25 23:53] h-kamada commented on #864
is_dense is true if no points are invalid. So, it was not I want.

[2015-04-29 05:13] h-kamada opened #873 "imagesiftで特徴点が見つからない"
冷蔵庫デモで使われている冷蔵庫マークの写真に関して、手元のPCで読み込みを行うと特徴点が見つからず、カメラ画像とのマッチングがそもそも行えなくなる。

[詳細]
jsk_perception/point_pose_extractorにおいて、テンプレートとなる画像を指定し、初期化の際にそのテンプレート画像を入力とし、imagesiftに対して特徴点を見つけるようservicecallしているのが現在の実装となっている。
この初期化において、imagesiftに渡された画像の特徴点が一つも見つからない。

[2015-04-29 05:14] h-kamada commented on #873
古田さんの手元のPCでは問題なく特徴点が見つかった。
launch をあげた際のterminalの表示は以下

NODES
  /
    camera (usb_cam/usb_cam_node)
    camera_image (topic_tools/relay)
    camera_info (topic_tools/relay)
    debug_view (image_view/image_view)
    fridge_demo_sift (imagesift/imagesift)
    fridge_detector (jsk_perception/point_pose_extractor)
    multi_view (image_view/image_view)

auto-starting new master
process[master]: start

[2015-04-29 05:19] h-kamada commented on #873
上のterminalのlogにおいて
imagesift: image: 36(size=921600), num: 936, sift time: 0.704s, total: 1.339s
のようにsizeが921600となっている方は、カメラ画像の特徴抽出で、こちらはkeypointsが936個見つかるなど上手くいっている。

一方、
[ INFO] [1430284358.841551837]: imagesift: image: 0(size=45087), num: 0, sift time: 0.004s, total: 0.004s
とsizeが45087となっている方がテンプレートとしている画像で、こちらの特徴抽出が上手くいっていない。
テンプレートとして用いている画像はデフォルトと変わらないdetect_cans_in_fridge_201202/data/openni

[2015-04-29 05:21] h-kamada commented on #873
launchファイルは以下

<launch>
  <node pkg="usb_cam" type="usb_cam_node" name="camera" />
  <node pkg="topic_tools" type="relay" name="camera_image"
        args="/camera/image_raw /multisense/left/image_rect_color" />
  <node pkg="topic_tools" type="relay" name="camera_info"
        args="/camera/camera_info /multisense/left/camera_info" />

  <node name="fridge_demo_sift" pkg="imagesift"
        type="

[2015-04-29 05:21] h-kamada commented on #873
間違えました。
<launch>
  <node pkg="usb_cam" type="usb_cam_node" name="camera" />
  <node pkg="topic_tools" type="relay" name="camera_image"
        args="/camera/image_raw /multisense/left/image_rect_color" />
  <node pkg="topic_tools" type="relay" name="camera_info"
        args="/camera/camera_info /multisense/left/camera_info" />

  <node name="fridge_demo_sift" pkg="imagesift"
        type="imagesi

[2015-04-29 05:33] h-kamada commented on #873
launchファイルうまくはれないんですね

[2015-04-29 05:39] h-kamada commented on #873
[code]

[2015-04-29 08:43] garaemon commented on #873
intrinsic matrixが0なのが問題でした。
エラーメッセージで対応

[2015-04-29 08:43] #873 closed

[2015-04-29 08:45] garaemon commented on #698
https://github.com/jsk-ros-pkg/jsk_recognition/issues/818 solved this issue

[2015-04-29 08:45] #698 closed

[2015-05-02 01:14] aginika opened #888 "[jsk_pcl_ros] Attention Clippers's crop PointCloud Indices including nan or inf points?"
When I use Attention Clipper with rosparam bounding box setting,
the outpu/point_indices seems to count nan / infinite value.
I hope this clipper only count the pointcloud in the bounding box

In below image, left top is the pointclou_indices and there are many white points
![attention_clipper](https://cloud.githubusercontent.com/assets/3803922/7439394/d7b64434-f0b3-11e4-9d10-0b3e3b9f650d.png)

[2015-05-02 02:07] aginika commented on #888
Thank you, I will try to use it.

[2015-05-02 02:07] #888 closed

[2015-05-02 02:25] garaemon commented on #888
I havent confurmed it works, please check it

[2015-05-03 17:12] aginika commented on #888
@garaemon I confirmed on baxter, Thanks. I fix a few parts in #891

[2015-05-04 14:36] aginika opened #896 "2dデプス画像のself fileterを実現するには"
２次元デプス画像でのself filterを行えるパッケージなどってありますでしょうか？

[2015-05-04 14:44] garaemon commented on #896
moveitに残骸がありますね

一度点群にできるならdepth_inage_procで点群にしてしまうと良いですが

[2015-05-04 14:59] aginika commented on #896
なるほど、ありがとうございます。

[2015-05-04 14:59] #896 closed

[2015-05-05 14:44] aginika opened #907 "Resize point cloud from Kinect2"
I tried to use OrganizedPassthrough and I can see the resized output in rviz, but the output topic has  1920 x 1080  according to `rostopic echo `'s width and hegiht ...(I expected 640 * 480 as I described in launch)
Can I really resize it?
Is it enough fast no matter whether I got really resized output or not?

[2015-05-05 14:45] garaemon commented on #907
filtered points are represented as nan point to keep it organized

[2015-05-05 14:54] aginika commented on #907
Is there any nodelet which can really trim the points and publish trimmed smaller points?(e.g. input: 1920x1080 -> outpu : 640 x480)

[2015-05-05 14:56] garaemon commented on #907
Passthrough with keep organized false or add flag to unorder pointcloud to organized passthrough

[2015-05-05 14:58] garaemon commented on #907
or apply crop_decimate to original depth image but i don't know it can handle float image

[2015-05-05 15:06] aginika commented on #907
hmm,Thanks a lot, I will use the organized passthrough

[2015-05-05 15:06] #907 closed

[2015-05-08 07:33] h-kamada opened #919 "[jsk_perception] make_warped_images in point_pose_extractor"
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/src/point_pose_extractor.cpp#L812-L817

見間違いなら申し訳ないのですが、この行によるfR3やfT3への変更がrvecやtvecなどに反映されていないように見えますが、反映されているのでしょうか？

[2015-05-08 08:23] wkentaro opened #920 "rgb/hsv_decomposer does not support bgra/rgba image"
I'd like rgb/hsv_decomposer to automatically convert bgra/rgba image to bgr/rgb and split it to rgb/hsv.
Are there other good solutions?
Or I will right the code for rgb/hsv_decomposer.

[2015-05-09 07:49] wkentaro commented on #920
See: #921

[2015-05-09 07:49] #920 closed

[2015-05-10 05:56] garaemon commented on #919
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/src/point_pose_extractor.cpp#L807

これがあるから反映されているんじゃないかな?

[2015-05-11 09:31] h-kamada commented on #919
すみません単純な勘違いをしていました。

[2015-05-11 09:31] #919 closed

[2015-05-20 02:45] wkentaro opened #950 "Why the encoding of GridLabel's output image is 32SC1?"

[2015-05-20 02:53] garaemon commented on #950
Because the value means label index

[2015-05-20 03:00] garaemon commented on #950
I know 8UC1 is better for this usage, you can change it.

[2015-05-20 12:35] wkentaro commented on #950
Thanks.

[2015-05-20 12:35] #950 closed

[2015-05-20 12:52] wkentaro commented on #950
I sent PR : https://github.com/jsk-ros-pkg/jsk_recognition/pull/951

[2015-06-16 09:57] wkentaro opened #974 "[jsk_pcl_ros] Error with launch pointcloud_screenpoint.launch"
[code]

[2015-06-17 02:45] #974 closed

[2015-06-24 09:07] wesleypchan opened #984 "particle_filter_tracker dies after startup when running in Ubuntu 14.04 indigo"
Using Ubuntu 14.04 indigo, openni2_launch, with an Asus Xtion Pro connected to a USB3.0 port on a Thinkpad W550s, after launching jsk_pcl_ros tracking_sample.launch, the particle_filter_tracker dies right after startup.

wesleyc@wesleyc-w550s:~$ roslaunch jsk_pcl_ros tracking_sample.launch
... logging to /home/wesleyc/.ros/log/893447fe-1a41-11e5-be45-6057186e77b0/roslaunch-wesleyc-w550s-8130.log
C

[2015-06-24 09:12] wesleypchan commented on #984
running the particle filter tracker nodelet in gdb results in the following error

program received signal SIGSEGV Segmentation fault
0x00007fffd7445a8c in boost::math::lanczos::lanczos_initializer<boost::math::lanczos::lanczos17m64, long double>::init::init()
from /usr/lib/libpcl_io.so.1.7

This seems to be a c++ version incompatibility issue
http://answers.ros.org/question/192560/rgbdslam-main-p

[2015-06-25 04:46] #984 closed

[2015-06-25 04:49] wesleypchan opened #986 "cannot change number of particles in particle filter tracker"
Tried setting the particle_num param to reduce the number of particles to speed up tracker, but in rviz it seems to still show a large number of particles.

After some initial debugging, it seems like the number of particles is getting set properly to particle_num initially, but after a few calls to cloud_cb it gets reverted back to 1000 for some reason.

[2015-06-25 05:45] wesleypchan commented on #986
After more debugging, it seems like the line of code causing the problem is tracker_->compute().
After calling tracker_->compute(), the number of particles gets reverted to 1000.

[2015-06-25 06:11] wesleypchan commented on #986
Seems like setting max_particle_num_ = particle_num solves the problem, but I'm not sure if this is the correct fix.

[2015-06-25 06:16] garaemon commented on #986
particle_num is just an initial number of particles . The number of
particles changes

◉  ryohei

On Thu, Jun 25, 2015 at 3:11 PM, wesleypchan <notifications@github.com>
wrote:

[2015-06-25 06:23] wesleypchan commented on #986
so if I want to limit the number of particles to make the tracker run faster what would be the proper way of doing it?

[2015-06-25 06:34] garaemon commented on #986
max_particle_num should work for the purpose

[2015-06-25 12:27] wesleypchan opened #987 "Particle filter tracker is broken?"
There seems to be something wrong with the particle filter tracker as testing with it today, the performance seems to have degraded significantly compared to when I last used it about 9 months ago.

Indeed, a simple test of tracking a static mug placed on the ground between the current version of the code and the version 9 months ago showed that, the code from 9 months ago was able to track the st

[2015-06-25 12:41] garaemon commented on #987
Please check it without -std option

[2015-06-26 01:38] wesleypchan commented on #987
Checked out the lasted version where the -std option has been removed, tested again but the problem is still there and the tracker stills drifts to the ground immediately.

[2015-06-26 01:43] garaemon commented on #987
please revert jsk_pcl_ros and find a commit which embed this bug

2015年6月26日金曜日、wesleypchan<notifications@github.com>さんは書きました:

--
✉︎ from iPhone

[2015-06-26 03:14] wesleypchan commented on #987
Here are the test results:

Commits on Jan 25, 2015 desktop
1a9cf2c55d950f01070e35078e8e9cb8a3efb9e0
Drifts. Broken.

Commits on Jan 25, 2015 desktop
e4648bd419ffc7370356a9a9ac4e7907e1925e30
Drifts. Broken.

Commits on Jan 25, 2015 desktop
5c0d158aa93a2fbee7586e7fbd02dfde485ecd3a
OK

Commits on Jan 15, 2015 desktop
a9e5cd54507c440c31289c10b37374c0037b04ea
OK

Commits on Sep 10, 2014
6adf320b0b8558

[2015-06-26 03:21] garaemon commented on #987
https://github.com/jsk-ros-pkg/jsk_recognition/commit/e4648bd419ffc7370356a9a9ac4e7907e1925e30#diff-af831319b3693155a673228b3b08e6d3R135
this line may be problem. Try without *10?

◉  ryohei

On Fri, Jun 26, 2015 at 12:14 PM, wesleypchan <notifications@github.com>
wrote:

[2015-06-26 05:29] wesleypchan commented on #987
Trying without * 10 fixes the problem. However in the latest version of the code that line has been changed to
coherence->setMaximumDistance(max_distance);

so how should we fix this?

[2015-06-26 05:34] garaemon commented on #987
Check default value of max_distance

2015年6月26日金曜日、wesleypchan<notifications@github.com>さんは書きました:

--
✉︎ from iPhone

[2015-06-26 05:40] wesleypchan commented on #987
max_distance is defaulted to 0.1 in the previous line
    pnh_->param("max_distance", max_distance, 0.1);

and this param does not appear to be provided in the tracking.launch or the tracking_sample.launch

[2015-06-26 05:44] garaemon commented on #987
Let's re-introduce `~octree_resolution` parameter

[2015-06-26 08:49] wesleypchan commented on #987
re-introducing octree_resolution worked.
Thanks.

I've sent a PR.

[2015-06-26 08:51] garaemon commented on #987
I misunderstood the code, I think you can decrease max_distance parameter by rosparam.

[2015-06-26 08:51] garaemon commented on #987
without changes of codes

[2015-06-26 08:58] wesleypchan commented on #987
octree_resolution is set to 0.01 in the cpp file.

So do you mean I should leave the cpp file unchanged, and set the rosparam max_distance to 0.01                                  in my own files when I use the tracker?

[2015-06-26 09:01] garaemon commented on #987
Yes, or change the default value of max_distance

[2015-06-26 09:01] garaemon commented on #987
Please check where ~max_distance is used.

[2015-06-26 09:02] wesleypchan commented on #987
max_distance is not used anywhere else in particle_filter_tracking_nodelet.cpp.

So is it safe to chagne

[2015-06-26 09:07] wesleypchan commented on #987
or should it be changed to
pnh_->param("max_distance", max_distance, octree_resolution);
?

[2015-06-26 09:08] garaemon commented on #987
Please change the line

[2015-06-26 09:14] wesleypchan commented on #987
should I change it to
pnh_->param("max_distance", max_distance, 0.01);
or
pnh_->param("max_distance", max_distance, octree_resolution);
?

[2015-06-26 09:17] garaemon commented on #987
looks good to me

[2015-06-26 09:39] wesleypchan commented on #987
I've change it and committed it.

[2015-06-26 10:31] #987 closed

[2015-07-20 13:05] garaemon opened #1008 "binding to flandmark"
Just a memo

https://github.com/uricamic/flandmark
http://cmp.felk.cvut.cz/~uricamic/flandmark/

flandmark is a code to detect faces based on deformable-part-model.
It looks better than haarlike feature method.

[2015-07-21 12:07] zweistein opened #1009 "compilation error in jsk_recognition"
I tired to install your jsk_recognition package in ROS indigo and I have compilation errors, could you be so kind to help me? I installed all necessary pkg: jsk_common-masterm, jsk_common_msgs-master, multisense_ros, navigation-indigo-devel, SLIC-Superpixels-master, and I have opencv-3.0.0-rc1.

The whole issue is posted on stakowerflow: http://stackoverflow.com/questions/31538142/opencv-linemod-n

[2015-07-21 14:13] k-okada commented on #1009
how about install ros-indigo-jsk-perception? we're not using opencv3 for
now.

--
◉ Kei Okada

On Tue, Jul 21, 2015 at 9:07 PM, zweistein <notifications@github.com> wrote:

[2015-07-21 14:25] zweistein commented on #1009
Will it work with opencv3? I can give a try to install like that.

[2015-07-21 14:31] k-okada commented on #1009
I think it is linked against opencv2

--
◉ Kei Okada

2015/07/21 23:25、zweistein <notifications@github.com> のメッセージ:

[2015-07-21 15:36] zweistein commented on #1009
Could you please give me the versions of dependencies so I can setup our environment to use your jsk pgk?

[2015-07-21 15:57] garaemon commented on #1009
Our environment is normal hydro environment, which includes opencv 2.4 and pcl 1.7.2

[2015-07-22 01:27] k-okada commented on #1009
it is also working on indigo
[code]

--
◉ Kei Okada

On Wed, Jul 22, 2015 at 12:57 AM, Ryohei Ueda <notifications@github.com>
wrote:

[2015-07-22 08:41] zweistein commented on #1009
I tired to migrate your code to OpenCV3.0-rc1 and I got stuck with an opencv functione used in snake_segmentation.cpp (jsk_perception). The function si cvSnakeImage() which seams to be dropped from the 3.0 version. Do you have any idea how could this be solved?

[2015-07-22 11:42] zweistein commented on #1009
I did what you suggested, installed opencv2.4.11 and apt-get install ros-indigo-jsk*. Now when I try to launch `roslaunch checkerboard_detector capture.launch` ROS throws an error:
`ERROR: cannot launch node of type [jsk_topic_tools/static_transform_pose_stamped]: can't locate node [static_transform_pose_stamped] in package [jsk_topic_tools]`
On the git repo I found the source of this node but in

[2015-07-22 12:16] k-okada commented on #1009
we're working on opencv3 compatibility at
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1011, once it is
merged, you can compile with opencv3

--
◉ Kei Okada

On Wed, Jul 22, 2015 at 8:42 PM, zweistein <notifications@github.com> wrote:

[2015-07-23 16:26] garaemon commented on #1009
I found some executable are not installed.
https://github.com/jsk-ros-pkg/jsk_common/pull/1046

But if you compiled jsk_topic_tools from source code, you should be able to find it...

[2015-07-30 09:08] #986 closed

[2015-07-30 09:08] wesleypchan commented on #986
changing max_particle_num worked

[2015-08-03 16:12] garaemon opened #1038 "Stochastic mask image for keypoint based detection"
Just an idea
cc: @h-kamada

1. Define mask image in stochastic representation (defined in probability density function)
2. Extract keypoints as usual
3. sample points like RANSAC based detection but sample them according to pre-defined stochastic mask image. cf. [sample with replacement](http://www.ma.utexas.edu/users/parker/sampling/repl.htm)
4. do not compute feature vectors if probability is un

[2015-08-07 07:11] h-kamada commented on #1038
Sorry for late response.
I can't understand several things.

  this part is realized by attention_clipper node and roi_clipper node in jsk_pcl_ros package.

extract by surf or sift..etc

I can't understand this part. How to sample points? Sample points (like particle filter) only in the region of stochastic mask image? (Is it correct?)  And if so, how to resample?

Each coordinate's probability is

[2015-08-07 07:22] garaemon commented on #1038
It's a binary representation. If object is out of ROI, we cannot recover from it.

RANSAC sample points based on purely random sampling. We can add bias to sampling according to a priori probability.

These two lines do not correspond.

* feature vector computation is heavy
* we need to compute them in order to compute corresponding keypoint pairs
* Now we may optout this computation based on mask

[2015-08-11 13:54] h-kamada opened #1045 "PoseWithCovarianceStampedがうまく表示されない"
#1041 のPRを使ってPoseWithCovarianceStampedを表示しようとしているのですが、対角成分が大きくなると表示すべきpointcloudの領域が増えてしまい、重くなりうまく表示ができません。

[2015-08-11 13:54] garaemon commented on #1045
rqt_reconfigureで点群の解像度が設定できるので変えてみてください

[2015-08-11 13:55] garaemon commented on #1045
https://github.com/jsk-ros-pkg/jsk_recognition/tree/master/jsk_pcl_ros#parameters-31

[2015-08-11 13:56] h-kamada commented on #1045
* 対角成分を0.3とした場合

![0 3](https://cloud.githubusercontent.com/assets/7262021/9199192/0e2ac0a4-407c-11e5-89d6-a7f8e944683e.png)

* 対角成分を1とした場合

![1](https://cloud.githubusercontent.com/assets/7262021/9199193/0fb4a4b2-407c-11e5-98a6-df277d685c5f.png)

* 対角成分を3とした場合

![3](https://cloud.githubusercontent.com/assets/7262021/9199197/1199b358-407c-11e5-8b2b-f1c462379569.png)

[2015-08-11 13:59] h-kamada commented on #1045
このような表示になるのですが、感覚的に対角成分を増加させるとむしろ領域が狭まっていきそうな気がするのですが、勘違いでしょうか？

[2015-08-11 14:04] garaemon commented on #1045
https://ja.wikipedia.org/wiki/%E3%83%95%E3%82%A1%E3%82%A4%E3%83%AB:Normal_Distribution_PDF.svg

sigmaが大きい方が分布がだらだらと広くなるんじゃない?

[2015-08-11 14:07] garaemon commented on #1045
`sigma^2=3`だと3sigmaまで表示するプログラムなので、`sqrt(3) * 3 = 5.19`なので+-5m程度の描画になるように作った気がします

[2015-08-11 14:16] h-kamada commented on #1045
あ、勘違いですすみません。
adaptive kalmanfilterを導入してみると、対角成分が68くらいの時にこれくらいのスケールです
![screenshot_from_2015-08-11 23 16 34](https://cloud.githubusercontent.com/assets/7262021/9199728/0a0e3c78-407f-11e5-83ee-b94a8444724b.png)

[2015-08-11 14:18] garaemon commented on #1045
単位がmmだったりはしない?

[2015-08-11 14:44] h-kamada commented on #1045
単位mmでした。
mに直してしまうと今度は小さくなりすぎてしまうので、自分のコードのどこかがまだおかしいかもしれません、、

[2015-08-11 14:45] #1045 closed

[2015-08-11 14:49] garaemon commented on #1045
逆にresolutionを小さくしてみると可視化できるかも。これもsigmaの大きさに依存させて決定した方がよさそうだね。もしくはサンプリングの個数を固定にした方がいいか

2015年8月11日火曜日、h-kamada<notifications@github.com>さんは書きました:

--
✉︎ from iPhone

[2015-08-11 14:51] garaemon commented on #1045
分散の値は正しそうなのかな？
やりたいこととしては、実はKFなんか使わなくても単純に直近のデータ列から分散を計算してみればいいだけな気はしてきた

2015年8月11日火曜日、Ryohei Ueda<garaemon@gmail.com>さんは書きました:

--
✉︎ from iPhone

[2015-08-14 02:17] k-okada commented on #1045
KFかParticleFilterかは別にして現在の対象の市姿勢を推定するのにはやはりトラッキングは必要かと．

--
◉ Kei Okada

2015-08-11 23:51 GMT+09:00 Ryohei Ueda <notifications@github.com>:

[2015-08-18 16:51] k-okada opened #1071 "jsk_perception compile error"
http://jenkins.ros.org/view/HbinP32/job/ros-hydro-jsk-perception_binarydeb_precise_i386/182/console

[2015-08-18 16:53] k-okada commented on #1071
[code]

[2015-08-24 07:47] wkentaro commented on #330
Is this issue done?
I tried breathe and got the doc like:
http://jsk-recognition.readthedocs.org/en/latest/jsk_perception/kmeans.html#_CPPv2N14jsk_perception6KMeansE
(the documentation in source code is https://github.com/wkentaro/jsk_recognition/blob/master/jsk_perception/include/jsk_perception/kmeans.h#L53)

I can transfer the owner of domain jsk-recognition.readthedocs.org to the owner account

[2015-08-24 07:49] garaemon commented on #330
Great!

Can you generate the doc on travis and deploy it to readthedoc?
I'd also want to use it on jsk_topic_tools

2015年8月24日月曜日、Kentaro Wada<notifications@github.com>さんは書きました:

--
✉︎ from iPhone

[2015-08-24 08:22] wkentaro commented on #330
How can I generate the doc on travis?
this says readthedoc supports webhooks.
https://read-the-docs.readthedocs.org/en/latest/webhooks.html

[2015-08-24 08:26] wkentaro commented on #330
I found that getting http://readthedocs.org/build/<project_name> by `curl` or `wget` triggers rebuild.
Do you prefer travis to GitHub webhooks?

[2015-08-24 08:32] garaemon commented on #330
webooks is ok to me.

[2015-08-24 08:52] garaemon opened #1080 "nodelets defined in libjsk_pcl_ros_util do not work"
[code]

[2015-08-24 09:10] wkentaro commented on #330
Okay, I will talk about this with @k-okada , who seems to have the lab account on readthedoc.

[2015-08-24 11:44] #1080 closed

[2015-08-25 04:54] k-okada commented on #330
I think we already have auto generated doc on ->
http://docs.ros.org/indigo/api/jsk_perception/html/classjsk__perception_1_1KMeans.html

http://docs.ros.org/indigo/api/jsk_perception/html/index.html

I'm not export on this but may be just to add
https://github.com/ros/ros_comm/blob/indigo-devel/clients/roscpp/include/ros/roscpp.dox
file will create nice index pages as
http://docs.ros.org/indigo/ap

[2015-08-25 04:57] garaemon commented on #330
https://github.com/jsk-ros-pkg/jsk_recognition/pull/724/files
I forget this pr

[2015-08-25 06:51] wkentaro commented on #330
so can we separate api doc about c++ class & method and ros usage doc like README?

IMO the READMEs are getting too large, slow to load, hard to search, and a little information about each tools because of that. Why dont we move the READMEs to docs.ros.org or readthedocs? (i dont know how to do it in docs.ros.org though)

[2015-08-25 09:46] garaemon commented on #330
We can move to docs.ros.org and doxygen supports markdown from 1.8.0.

[2015-08-25 09:53] garaemon commented on #330
According to the template file of rosdoc_lite https://github.com/ros-infrastructure/rosdoc_lite/blob/master/src/rosdoc_lite/templates/doxy.template, doxygen version should be greater than 1.8.0.

[2015-08-25 10:40] wkentaro commented on #330
thanks. after talking with also @k-okada .
we will use rosdoc_lite to generate documentation.
I tried and the output will be like below for jsk_perceptiion.

![image](https://cloud.githubusercontent.com/assets/4310419/9464682/c298fdfa-4b60-11e5-836b-19f880ff36de.png)

![image](https://cloud.githubusercontent.com/assets/4310419/9464681/bf696ef8-4b60-11e5-90d6-fd65e9c5dee2.png)

[2015-08-25 10:49] wkentaro commented on #330
However, my concern is that there is no searching service at codeapi page on docs.ros.org at present.
This is a big problem, and even in github page we can use `Ctrl-F`. and of cource in Sphinx page there is search form.
Do you know something about this? @garaemon @k-okada

[2015-08-25 11:08] garaemon commented on #330
client search? https://www.stack.nl/~dimitri/doxygen/manual/searching.html

[2015-08-25 12:58] mmurooka opened #1094 "catkin_build jsk_pcl_rosが通らない"
Ubuntu12.04 hydroで #1081以降コンパイルが通らないです．
Ubuntu14.04 indigoでは普通に通っています．
[code]

[2015-08-25 12:58] mmurooka commented on #1094
すいません @YuOhara です

[2015-08-25 13:00] garaemon commented on #1094
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1093
が必要かも

[2015-08-25 13:06] YuOhara commented on #1094
すいません１４．０４で通ったは間違いで，
pclをsourceから入れたPCでmakeが通ってます

[2015-08-25 13:17] k-okada commented on #1094
travis は通っているように見えるが．

--
◉ Kei Okada

On Tue, Aug 25, 2015 at 10:06 PM, Yu Ohara <notifications@github.com> wrote:

[2015-08-25 13:18] garaemon commented on #1094
はい、ただしいです。というわけでコンパイルは通るはず、なんですが。

https://github.com/jsk-ros-pkg/jsk_recognition/pull/1093
がないと実行はできない予感はしています。

[2015-08-25 13:25] garaemon commented on #1094
これは結局どれがエラーなんだろうか. `std::transform`?

[2015-08-25 13:34] garaemon commented on #1094
みてみましたが、やはりbuild_check.cpp.inがあやしすぎるか。
とりあえず無視していても大丈夫なので進めておいてください > @YuOhara

build_check.cpp.in -> build_check.cppでやっていることは
1. include/jsk_pcl_rosのすべてのヘッダをincludeする
2. jsk_pcl_nodelets.xmlに書いてあるクラスのインスタンスをすべて作る

[2015-08-25 13:45] garaemon commented on #1094
build/jsk_pcl_ros/build_check.cppを貼ってみてください。
僕の手元では
[code]

[2015-08-25 13:47] garaemon commented on #1094
ちなみに、build_checkは実行できません。
[code]

[2015-08-25 13:49] YuOhara commented on #1094
[code]

[2015-08-25 14:08] garaemon commented on #1094
* include guardがかぶっているものがある。
* なぜかlinemodをincludeすると動かない環境がある

[2015-08-25 14:10] garaemon commented on #1094
* headerのインクルード順が環境依存

[2015-08-25 14:12] garaemon commented on #1094
headerをアルファベット順にしてincludeしてみたところ、@YuOhara 環境と同じエラーが出ました。

[2015-08-25 14:17] garaemon commented on #1094
headerに`using namespace`があるのが原因のよう

[2015-08-25 14:22] wkentaro commented on #330
maybe client search cannot be used in rosdoc_lite at present according to [here 2.3.3](http://wiki.ros.org/rosdoc_lite) (because no option for SEARCHENGINE).

[2015-08-25 14:23] wkentaro commented on #330
If search function cannot be used, I'd like to use sphinx and readthedocs, because for codeapi we can add link to docs.ros.org/api.

[2015-08-25 14:28] k-okada commented on #330
if current version working on rosdoc.yaml, I'll merge this and release them
to see how it works.
--
◉ Kei Okada

On Tue, Aug 25, 2015 at 11:23 PM, Kentaro Wada <notifications@github.com>
wrote:

[2015-08-25 14:32] garaemon commented on #330
hmm, make sense.

@wkentaro Your plan is to use readthedocs to host markdown files only, right?

[2015-08-25 14:35] wkentaro commented on #330
Yeah, I will just split README.md with sections like http://jsk-recognition.readthedocs.org/en/latest/ without breathe and doxygen.

[2015-08-25 14:41] garaemon commented on #330
How about to write the contents of markdown in header files and
autonatically generates separated markdown?
is it too hacky?

2015年8月25日火曜日、Kentaro Wada<notifications@github.com>さんは書きました:

--
✉︎ from iPhone

[2015-08-25 14:44] garaemon commented on #330
In my opinion, managing separated markdown is not good idea, it requires a
lot of effort to maintain.

2015年8月25日火曜日、Ryohei Ueda<garaemon@gmail.com>さんは書きました:

--
✉︎ from iPhone

[2015-08-25 15:11] wkentaro commented on #330
I'm not so familiar with doxygen so don't know how to do it.
But I think that is better and easy to maintain.

[2015-08-25 17:01] garaemon commented on #1094
長い戦いでしたが、解決しました。

build_checkによって、実装されていないメソッドがあった場合には

[2015-08-25 17:01] garaemon commented on #1094
長い戦いでしたが、解決しました。

build_checkによって、実装されていないメソッドがあった場合には以下のようなエラーが出ます.

[code]

[2015-08-25 17:02] #1094 closed

[2015-08-26 01:23] wkentaro commented on #330
As discussed here: https://github.com/ros-infrastructure/rosdoc_lite/issues/56
The client search will be available in docs.ros.org like:
![](https://cloud.githubusercontent.com/assets/4310419/9476425/a4745558-4ba7-11e5-9647-adcb66a4d7dd.png)
But I found doxygen does not support full text search with client engine. (it's very poor)
https://www.stack.nl/~dimitri/doxygen/manual/searching.html

[2015-08-26 02:17] garaemon commented on #330
Is breathe better than doxygen in searching?

[2015-08-26 02:20] wkentaro commented on #330
strictly speaking, sphinx is better than doxygen in terms of text search.
popular themes of sphinx supports full text search.

[2015-08-26 02:25] wkentaro commented on #330
if we can use custom theme in docs.ros.org I think full text search is possible. But as described here https://github.com/ros-infrastructure/rosdoc_lite/issues/58#issuecomment-134747020
using custom theme with doxygen seems hard.

[2015-08-26 03:09] garaemon opened #1101 "if jsk_topic_tools is installed from apt AND source and jsk_pcl_ros from source, DiagnosticNodelet::onInit does not work"
`--start-with-this` has a problem?

[2015-08-26 03:12] garaemon commented on #1101
[code]

my local environment
[code]

[2015-08-26 04:03] k-okada commented on #1101
forget to install .so ? how about output of `ldd`

[2015-08-26 07:01] garaemon opened #1105 "Implement wrapper for NDT"
[NDT](http://www.researchgate.net/profile/Martin_Magnusson2/publication/229213868_The_Three-Dimensional_Normal-Distributions_Transform_---_an_Efficient_Representation_for_Registration_Surface_Analysis_and_Loop_Detection/links/02e7e5257c4cd257de000000.pdf) is implemented in [PCL](http://docs.pointclouds.org/1.7.0/classpcl_1_1_normal_distributions_transform.html)
and it used in [autoware](https://gi

[2015-08-27 04:11] garaemon commented on #330
discussion is moved to https://github.com/jsk-ros-pkg/jsk_recognition/pull/1092

[2015-08-27 07:01] garaemon commented on #1105
done

[2015-08-27 07:01] #1105 closed

[2015-09-02 13:11] garaemon opened #1138 "failed to run jsk_perception/eusmodel_template_gen.l"
[code]

[2015-09-02 13:16] garaemon commented on #1138
because there is no directory in jsk_perception/template

[2015-09-05 17:46] #330 closed

[2015-09-06 05:57] #1138 closed

[2015-09-06 09:06] wkentaro opened #1165 "Why jsk_pcl/* on README in jsk_perception?"
@garaemon

https://github.com/jsk-ros-pkg/jsk_recognition/tree/6a83868c95fe2d35fa84e10cbf398e911b7bdd9b/jsk_perception#jsk_pcltabletopcolordifferencelikelihood

And the image is from jsk_pcl_ros/images/ .
That's confusing to me.

Because of that, there is some dead link in new readthedocs documents.
http://jsk-recognition.readthedocs.org/en/latest/jsk_perception/nodes/colorize_float_image.html

[2015-09-06 09:07] garaemon commented on #1165
it's just a mistake.

[2015-09-06 09:16] wkentaro commented on #1165
Ok.

[2015-09-07 02:41] #1165 closed

[2015-09-26 12:48] wkentaro opened #1181 "[checkerboard_detector] different pose b/w PoingCloud and Detected Pose"
![image](https://cloud.githubusercontent.com/assets/4310419/10117599/df59960c-6497-11e5-8d9e-044d655f7a81.png)
![image](https://cloud.githubusercontent.com/assets/4310419/10117603/fedc77ce-6497-11e5-9b9e-cef0df9e9849.png)

There is difference between PoseStamped (which is published by checkerboard_detector) and PointCloud when visualize.

Am I missing something?

I'm using checkerboard
* board_typ

[2015-09-26 12:49] garaemon commented on #1181
Is camera intrinsic parameter calibrated?

[2015-09-26 12:51] wkentaro commented on #1181
Not so much, maybe that is the cause.

[2015-09-26 12:52] garaemon commented on #1181
check debug image and confirm checkerboard is detected correctly first.
If it is correct, you are using size of checkerboard or intrinsic camera parameter.

[2015-09-26 12:59] wkentaro commented on #1181
![image](https://cloud.githubusercontent.com/assets/4310419/10117664/c2f7a326-6499-11e5-8602-f858f8d0b01e.png)

checkerboard seems detected correctly.
I will do calibration of kinect2.

[2015-09-26 13:39] garaemon commented on #1181
Looks good, intrinsic parameter and checkerboard size may be wrong.

[2015-09-26 13:42] wkentaro commented on #1181
is checkerboard size also wrong?
that size is written on the board.

[2015-09-26 13:45] garaemon commented on #1181
measure it and 1mm difference of checkerboard size will result in 1cm error of estimated checkeboard pose.

[2015-09-26 13:47] wkentaro commented on #1181
I see, I will.

2015年9月26日土曜日、Ryohei Ueda<notifications@github.com>さんは書きました:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2015-09-27 10:13] wkentaro commented on #1181
The checkerboard was printed with reduction of scale, so the actual rectsize was 0.0278 not 0.03.
After changing the specified size, the distance looks correct but pointcloud does not.
https://drive.google.com/open?id=0B9P1L--7Wd2vTWc2dnJfcnlUTzQ

And I calibrated kinect2 on baxter head, and it now looks better.
https://drive.google.com/open?id=0B9P1L--7Wd2vZUxGSXFiaHppSFE

Thank you.

[2015-09-27 10:13] #1181 closed

[2015-10-02 17:18] wkentaro opened #1187 "[jsk_pcl_ros] ClusterPointIndicesDecomposer does not publish clouds"
![image](https://cloud.githubusercontent.com/assets/4310419/10252797/c038f998-6974-11e5-8a1d-777587e282e6.png)

I used the launch file in jsk_pcl_ros/launch.
but actually there is no clouds.

The launch file I used was below (edited some lines):
https://github.com/wkentaro/jsk_recognition/blob/cluster-pi-trial/jsk_pcl_ros/launch/euclidean_segmentation.launch

[2015-10-02 17:27] garaemon commented on #1187
try ClusterPointIndicesDecomposer instead of ClusterPointIndicesDecomposerZAxis

[2015-10-02 17:29] wkentaro commented on #1187
I also tried it, but seems not publish clouds.
and It seems that the feature is not used recently.

[2015-10-02 17:31] garaemon commented on #1187
check timestamp of inputs of cluster decomposer

[2015-10-02 17:31] garaemon commented on #1187
/pcl_nodelet/voxelgrid/output and /pcl_nodelet/clustering/output

[2015-10-02 17:46] wkentaro commented on #1187
I found the reason, ClusterPointIndices does not prepare publications before subscribing cluster_point_indices because number of clusters is unknown.
That is the reason why there is no clouds topics in rostopic list because ConnectedBasedNodelet does not subscribe topics until subscribed.

[2015-10-02 17:47] wkentaro commented on #1187
I can see clouds after subscribing one of the topics.

[2015-10-02 17:49] garaemon commented on #1187
I see, tricky. Please use debug_output (http://jsk-recognition.readthedocs.org/en/latest/jsk_pcl_ros/nodes/cluster_point_indices_decomposer.html#publishing-topics)

I don't recomment to use `~output%02d` topics

[2015-10-02 18:35] wkentaro opened #1188 "[jsk_pcl_ros] AttentionClipper dies unexpectedly when subscribe its topic"
![image](https://cloud.githubusercontent.com/assets/4310419/10254559/81c150e2-697f-11e5-8597-88502f6f167e.png)

There are no error..

[2015-10-02 19:12] wkentaro commented on #1187
BTW, are there simple command line tool to apply point indices to point
cloud?

I'd like to use it when viewing on rviz.

2015年10月3日土曜日、Ryohei Ueda<notifications@github.com>さんは書きました:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2015-10-02 19:14] garaemon commented on #1187
pcl_msgs/PointIndices? You can use pcl/ExtractIndices

[2015-10-02 19:15] garaemon commented on #1188
Your tf looks illegal

[2015-10-02 19:17] wkentaro commented on #1188
I think I transform the tf correctly.

https://github.com/wkentaro/jsk_apc/blob/filter-pod-outer/jsk_2015_apc_common/launch/in_kiva_pod_clipper.launch

And without any change of code, it is now fixed.. I don't know the reason..

[2015-10-02 19:26] garaemon commented on #1188
Do you use `rosbag play -l`?

[2015-10-02 19:27] wkentaro commented on #1188
At present?
No I'm using the realtime data in lab.

[2015-10-02 19:28] wkentaro commented on #1188
In fact, I doubt the change of jsk_topic_tools/ConnectedBasedNodelet. because nodelet_manager dies in this issue.

[2015-10-02 19:29] wkentaro commented on #1188
And I'm doing `git checkout` and `catkin bt` recursively...

[2015-10-02 19:30] garaemon commented on #1188
hmm, please test with gdb.

[2015-10-02 19:32] wkentaro commented on #1188
Actually, I don't have the error at present. I don't know why as said above..
I will do the test when I encountered same problem.

[2015-10-02 20:04] wkentaro commented on #1187
Not for writing code but command line tool.
Like:

rosrun jsk_pcl_ros pointindices_to_pointcloud ~input:=/kinect2/qhd/points
~target:=/pointcloudindices

2015年10月3日土曜日、Ryohei Ueda<notifications@github.com>さんは書きました:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2015-10-03 03:46] wkentaro commented on #1188
I think I found the reason.
AttentionClipper dies when negative value is specified as initial_pos_(x|y|z).
I don't know where is the cause of this at present.

[2015-10-03 03:47] #1187 closed

[2015-10-03 04:30] wkentaro commented on #1188
these lines may be the cause.
https://github.com/jsk-ros-pkg/jsk_common/blob/master/jsk_topic_tools/src/rosparam_utils.cpp#L48-L55

[code]

does not appear the screen of roslaunch.

[2015-10-03 04:32] garaemon commented on #1188
`XmlRpc::XmlRpcValue::TypeDouble` cannot catch negative values?

[2015-10-03 04:34] wkentaro commented on #1188
Yeah I doubt that.

[2015-10-03 04:36] wkentaro commented on #1188
I don't know how to do print debug in that file (rosparam_utils.cpp) because ROS_WARN does not appear..

[2015-10-03 04:37] garaemon commented on #1188
really? it's strange but please use `std::cerr` as quick hack.

[2015-10-03 04:49] wkentaro commented on #1188
I confirmed that  `XmlRpc::XmlRpcValue::TypeDouble` does not catch negative value.

**no negative**
![image](https://cloud.githubusercontent.com/assets/4310419/10261495/80947ab8-69d5-11e5-806e-61fa0de00aeb.png)

**with negative**
![image](https://cloud.githubusercontent.com/assets/4310419/10261488/6375d8aa-69d5-11e5-8ac3-cafb0b5dcc06.png)

You can focus on `jsk_topic_tools 8` message.

[2015-10-03 04:55] wkentaro commented on #1188
Actually I'm not familiar to C++ libraries.
Do you know some alternatives or how to fix this?

[2015-10-03 05:04] garaemon commented on #1188
can you show me `rosparam get` result?

[2015-10-03 05:07] wkentaro commented on #1188
dimension_x: 0.25
dimension_y: 0.22
dimension_z: 0.22
frame_id: /kiva_pod_base
initial_pos: [-.21, 0.29, 0.36]
initial_rot: [0, 0, 0]

​

On Sat, Oct 3, 2015 at 2:04 PM, Ryohei Ueda <notifications@github.com>
wrote:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2015-10-03 05:10] garaemon commented on #1188
-0.21? Do you have 0 in your launch file?

[2015-10-03 05:30] wkentaro commented on #1188
oh, -.21 does not work for Xml:Rpc.
It is fixed.
Sorry, I thought this can be used (becausee python allow)..

[2015-10-03 05:53] wkentaro commented on #1188
Xml:Rpc allows .29 but not -.29.

[2015-10-03 05:56] garaemon commented on #1188
regular expression should be `^[+-]?(\d*\.\d+|\d+\.?\d*)([eE][+-]?\d+|)` but libxml is probably wrongly implemented.

[2015-10-03 05:58] wkentaro commented on #1188
I see.
Should we warn about it in this?
https://github.com/jsk-ros-pkg/jsk_common/pull/1157

[2015-10-03 06:08] garaemon commented on #1188
Yes, it should help users a lot

[2015-10-03 06:08] garaemon commented on #1188
I've commented about improvements.

[2015-10-04 08:45] wkentaro commented on #1188
Closed via https://github.com/jsk-ros-pkg/jsk_common/pull/1157

[2015-10-04 08:45] #1188 closed

[2015-10-05 09:27] wkentaro opened #1195 "fix image/roslaunch links of doc"
http://jsk-recognition.readthedocs.org/en/latest/jsk_pcl_ros/nodes/pointcloud_screenpoint.html#pointcloudscreenpoint

assinged to: @otsubo

[2015-10-13 07:13] k-okada opened #1215 "add krish segmentation/tracking modules"
@iKrishneel
[ ] add segmetation module
[ ] add tracking modulule
[ ] add building object objet

[2015-10-13 07:15] k-okada commented on #1215
@wkentaro  will provide `rosbag` data

[2015-10-13 07:24] wkentaro commented on #1215
Ok, please tell me what kind of log data you need.

[2015-10-13 07:45] garaemon opened #1219 "Rewrite PolygonArrayTransformer with tf::MessageFilter"

[2015-10-13 07:56] iKrishneel commented on #1215
@wkentaro I will need the dataset of APC.

[2015-10-13 08:30] wkentaro commented on #1215
The shelf model is available here:
http://amazonpickingchallenge.org/gazebo_pod.shtml?

The object models are available here:
http://rll.berkeley.edu/amazon_picking_challenge/
(you can just run python script here: http://rll.berkeley.edu/amazon_picking_challenge/scripts/downloader.py)

[2015-10-13 10:47] k-okada commented on #1215
we need `rosbag` data for APC tasks,
I think you have rviz screen shot video for RSJ and asked to re-take them
which the robot actually grab object from the bin, if you have bag data
during that procedure. That exactly what we need. If you do not have them,
it is nice chance to take them.

--
◉ Kei Okada

On Tue, Oct 13, 2015 at 5:30 PM, Kentaro Wada <notifications@github.com>
wrote:

[2015-10-13 12:02] wkentaro commented on #1215
Actually I don't have bagfiles which contains pointcloud.
So I will take that rosbag. When is the deadline? @iKrishneel

[2015-10-13 12:08] iKrishneel commented on #1215
This is to test some on going research algorithm. You can take the data at your suitable time.

[2015-10-13 12:08] wkentaro commented on #1215
Okay, thanks.

On Tue, Oct 13, 2015 at 9:08 PM, Krishneel <notifications@github.com> wrote:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2015-10-14 18:56] wkentaro opened #1232 "[bug] [jsk_pcl_ros] build error on indigo at compiling plane_supported_cuboid_estimator"
[code]

[2015-10-15 03:56] garaemon commented on #1232
quick hack

`touch $(rospack find jsk_pcl_ros)/cfg/{PlaneSupportedCuboidEstimator.cfg,InteractiveCuboidLikelihood.cfg}`

[2015-10-15 04:33] wkentaro opened #1239 "split location of scripts and nodes"
I think scripts and nodes should be located in different directories.

I mean as
**scripts** for example:

*  https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/scripts/download_trained_data.sh
* https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/scripts/check_cascadeclassifier.py

and
**nodes** for example:

* https://github.com/jsk-ros-pkg/jsk_recogn

[2015-10-15 04:36] garaemon commented on #1239
node_scripts directory?

[2015-10-15 04:37] wkentaro commented on #1239
+1

[2015-10-15 04:43] garaemon commented on #1239
change  as you like. :relaxed:

[2015-10-15 05:08] wkentaro commented on #1239
thanks. :sunglasses:

[2015-10-15 06:30] #1232 closed

[2015-10-15 11:39] #1239 closed

[2015-10-15 16:48] #1071 closed

[2015-10-19 10:55] wkentaro opened #1261 "[jsk_pcl_ros] Are there MergePointClouds?"
I have two kinect2's and I have two point cloud topics.
Are there way to merge these topics?

[2015-10-19 10:56] wkentaro commented on #1261
cc: @YuOhara

[2015-10-19 10:56] garaemon commented on #1261
https://github.com/ros-perception/perception_pcl/blob/jade-devel/pcl_ros/pcl_nodelets.xml#L127

[2015-10-19 10:58] garaemon commented on #1261
PointCloudConcatenateDataSynchronizer and please confirm your pcl_ros includes [this PR](https://github.com/ros-perception/perception_pcl/pull/85)

[2015-10-19 11:02] wkentaro commented on #1261
Thanks. :smile:

[2015-10-19 11:02] #1261 closed

[2015-10-19 11:02] garaemon commented on #1261
When you want to merge two pointclouds, be careful about timestamp.

[2015-10-19 11:03] wkentaro commented on #1261
I'm going to merge two point clouds at the first node of the pass through nodes.

[2015-10-19 11:43] wkentaro commented on #1261
I have a lots of below error message:
[code]
do you know about this?

[2015-10-19 11:51] garaemon commented on #1261
https://github.com/garaemon/perception_pcl/blob/4ec3d5fd9d2c724eb60643ee6ce3b096bb765f6e/pcl_ros/src/pcl_ros/io/concatenate_data.cpp#L205

transformation between kinect2_torso_rgb_optical_frame and kinect2_head_rgb_optical_frame can be solved

[2015-10-19 11:52] wkentaro commented on #1261
once in three times it succeeds. I think..

[2015-10-19 11:54] garaemon commented on #1261
need to call `waitForTransform` in PointCloudConcatenateDataSynchronizer before solving tf.
`tf::MessageFilter` is better https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/src/tf_transform_cloud_nodelet.cpp#L102

[2015-10-19 13:29] wkentaro commented on #1261
I sent PR: https://github.com/ros-perception/perception_pcl/pull/109

[2015-10-19 14:08] wkentaro opened #1262 "[question] [jsk_perception] Is that possible to merge two images from two Kinects?"
as #1261 to point clouds.

[2015-10-19 14:19] garaemon commented on #1262
tile_image?

meging image is difficult because simply merged image does not satisfy
camera model.
if you put the third virtual camera at the middle of them, you can create
image from pointcloud not from images.
i don't know virtual_camera_publisher supprts it.

2015年10月19日月曜日、Kentaro Wada<notifications@github.com>さんは書きました:

--
✉︎ from iPhone

[2015-10-19 15:08] wkentaro commented on #1262
Thank you for your information.
I will search on google for that.

2015年10月19日月曜日、Ryohei Ueda<notifications@github.com>さんは書きました:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2015-10-19 15:24] garaemon commented on #1262
If you need to implement it, [this](https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/src/add_color_from_image_nodelet.cpp#L107) is a good sample.

But if you want to implement it in realtime, you may need to use GPU to render pointcloud on image.
keywords: depth buffer, z buffer, offscreen rendering, OpenGL

[2015-10-19 15:25] garaemon commented on #1262
references
* http://research.microsoft.com/en-us/um/redmond/projects/hyperlapse/
* http://repository.dl.itc.u-tokyo.ac.jp/dspace/bitstream/2261/43684/1/48037413.pdf

[2015-10-19 15:27] garaemon commented on #1262
* [DepthImageCreator](https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/src/depth_image_creator_nodelet.cpp) can generate depth image from point cloud.

[2015-10-20 06:51] garaemon opened #1264 "resized_image_transport subscribe input topics even if output is not subscribed"
@orikuma resized_image_transport does not use `jsk_topic_tools::DiagnosticNodelet` and it always subscribe input topics.
You can modify it not to subscribe input topics until output topics is subscribed.

[2015-10-20 06:53] garaemon commented on #1264
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/resized_image_transport/src/image_processing_nodelet.cpp

[2015-10-20 09:01] orikuma opened #1266 "multisense_ros driver publish 8UC1 and this causes error in cv_bridge of jsk multisense pipline"
We can avoid this problem by `roscd multisense_ros && hg up 3.4.3`.
ref. https://bitbucket.org/crl/multisense_ros/issues/52/image_rect-has-8uc1-format-not-mono8

[2015-10-20 14:25] garaemon commented on #1266
will be fixed soon

[2015-10-20 16:29] wkentaro opened #1269 "[bug] [jsk_recognition_utils] Opposite transformation in lookupTransformWithDuration()"
current
[code]

**correctly**

[code]

http://docs.ros.org/jade/api/tf/html/c++/classtf_1_1Transformer.html#ac01a9f8709a828c427f1a5faa0ced42b

[2015-10-20 16:45] wkentaro commented on #1269
see https://github.com/jsk-ros-pkg/jsk_recognition/pull/1271#issuecomment-149628708 for *before* and *after*.

[2015-10-20 18:18] wkentaro commented on #1262
Thanks.
I have tried `convert_pointcloud_to_image` and it does not work on my issue.
http://wiki.ros.org/pcl_ros

I'd like to try implement these feature, but I don't have time for it now.
Maybe I will try in the future.

[2015-10-20 18:18] #1262 closed

[2015-10-21 04:41] garaemon commented on #1269
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_recognition_utils/include/jsk_recognition_utils/tf_listener_singleton.h#L58

[code]

[2015-10-21 04:43] garaemon commented on #1269
current implementation is correct and lookupTransformWithDuration is already used in some nodelets.
If you want to swap to_fram and from_frame,
1. rename argument
2. fix cpp implementation
3. fix all lookupTransformWithDuration used

[2015-10-21 04:45] wkentaro commented on #1269
I don't think so. See:
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_recognition_utils/src/tf_listener_singleton.cpp#L69-L70

[2015-10-21 04:48] wkentaro commented on #1269
Yeah, so maybe we need test all nodes. :sob:

[2015-10-21 05:02] garaemon commented on #1269
Hmm, I'm not confident about this issue...

[2015-10-21 05:03] garaemon commented on #1269
Start with writing unittest in jsk_recognition_utils.

[2015-10-21 05:28] wkentaro commented on #1269
It's simple, isn't it? from_frame and to_frame should be passed to opposite pos.
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_recognition_utils/src/tf_listener_singleton.cpp#L69-L70

because from_frame is source_frame, and to_frame is target_frame.

[2015-10-22 08:14] garaemon commented on #1269
[code]

But it uses in opposite manner.
https://github.com/ros/geometry/blob/indigo-devel/tf/src/tf_echo.cpp#L107
[code]

But tf document says
[code]

is tf document wrong?

[2015-10-22 10:25] garaemon commented on #1269
https://github.com/ros/geometry/issues/108
reported

[2015-10-22 10:27] garaemon commented on #1269
I think order of arguments of `tf::Transformer::lookupTransformation` will not change because it will affect so many codes.

we need to write unittest to be confident about tf.
1. run `static_tf_transform_publisher` with known offset
2. verify the offset by `TfLookupTransformWithDuration`

[2015-10-22 10:37] wkentaro commented on #1269
Ok, TfLookupTransformWithDuration is just a shallow wrapper of
tf::lookupTransform, so I will write a test for it and will change
TfLookupTransformWithDuration according to the result.

2015年10月22日木曜日、Ryohei Ueda<notifications@github.com>さんは書きました:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2015-10-22 16:53] wkentaro commented on #1269
I sent PR to test tf::Transform::lookupTrasform: https://github.com/jsk-ros-pkg/jsk_recognition/pull/1274

[2015-11-04 04:23] wkentaro opened #1300 "[bug] [jsk_pcl_ros] Nodelet manager down without no error message at 438c63a"
at https://github.com/jsk-ros-pkg/jsk_recognition/commit/6a1bcef887ee3d27765b5999695da232e2b654b2 it does not down.

The manager handles nodelets in jsk_pcl_ros. And when I checkout to https://github.com/jsk-ros-pkg/jsk_recognition/commit/6a1bcef887ee3d27765b5999695da232e2b654b2 and after recompiling `jsk_recognition_utils` and `jsk_pcl_ros`, this problem is fixed.

So, the changes between

a. htt

[2015-11-04 04:40] wkentaro commented on #1300
the result of ldd libjsk_pcl_ros*.so

* [works](https://gist.github.com/wkentaro/8cee95840225af10fa57)
* [does not work](https://gist.github.com/wkentaro/6af99e592221cc1f7142)

[2015-11-04 04:42] wkentaro commented on #1300
commenting out [these](https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/CMakeLists.txt#L37-L41) fixed this issue.

[2015-11-04 04:52] mmurooka commented on #1300
In my commits those libraries are additionally linked to libjsk_pcl_ros.so .
Maybe one of those libraries is the cause of the problem.

The difference of ldd result is as follows.
[code]
The result of diff command.
[code]

[2015-11-04 05:00] wkentaro commented on #1300
these seems to affect euclid_clustering.
[code]

![image](https://cloud.githubusercontent.com/assets/4310419/10929896/7190f9de-82fc-11e5-9b4b-e6af54b1710d.png)

[2015-11-04 06:34] wkentaro commented on #1300
output of gdb back trace
[code]

[2015-11-04 06:40] mmurooka commented on #1300
[code]
octmapとリンクするとKdTreeが動かなくなる？
調べてみます．

[2015-11-04 06:47] wkentaro commented on #1300
テストケース: https://gist.github.com/wkentaro/956e993e938ce0ad0989

[2015-11-04 12:52] mmurooka commented on #1300
僕の手元では、hydroでjsk_recognitionのorigin/masterで再現しませんでした。

https://gist.github.com/mmurooka/a2d99dae5dc39902645e
で、確認したところSIGVは再現しませんでしたが、
[code]
と、コンパイル時にでて、pclがソースから入っていて干渉しているようなので、
これが関係あるかもしれないです。

[2015-11-04 14:22] wkentaro commented on #1300
ソースから入れると依存関係はどう解決するのがいいか、知っている人いますか。
すべて（octreeなどpclに依存しているものすべて）をソースというのが解でしょうか。

[2015-11-04 17:40] k-okada commented on #1300
ソースから入れたら，基本はそれに依存しているものも全てコンパイルしなおしではないでしょうか

--
◉ Kei Okada

2015-11-04 23:22 GMT+09:00 Kentaro Wada <notifications@github.com>:

[2015-11-04 18:23] wkentaro commented on #1300
*a*のパッケージがpcl-1.7にリンク
*b*のパッケージがpcl-1.8にリンク
*c*のパッケージが*a*,*b*にリンク

*a* = octomap_server
*b* = pcl_segmentation
*c* = jsk_pcl_ros

というときにsegfaultというのがこのissueの原因だと思うのですが，
*a*がpcl-1.7が1.8にリンクしてくれないとダメなので*a*もソースから入れるしかないでしょうか．

そうなると，pcl-1.7にリンクしてしまっているパッケージ（依存しているもの）は全てソースから入れなければいけなくなりますが，そういうものですか？

[2015-11-04 18:31] k-okada commented on #1300
そうだとおもいます。なのでapiをきがるにかえるといいこちがないわけですが、
ところでpcl_segmentation はどこにあるでしょうか？なぜpcl1.8に依存していますか？

[2015-11-04 18:39] wkentaro commented on #1300
となると避ける方法は①とことんソースでいれる or ②pcl-1.8を諦めるということになりますね．．

/usr/local/lib/libpcl_features.so.1.8
https://github.com/jsk-ros-pkg/jsk_recognition/issues/1300#issuecomment-153712264

でpclをソースからインストールしたものだと思います．
(おそらく @aginika がapcの為に入れていたのだと思います）

[2015-11-05 00:07] k-okada commented on #1300
そもそなぜ1.8が入っているかが知りたいですが
十分な理由があればrosinstall_generatorを駆使して
ソースから入れればいいと思います

--
◉ Kei Okada

2015/11/05 3:39、Kentaro Wada <notifications@github.com> のメッセージ:

[2015-11-05 09:39] wkentaro commented on #1300
@aginika にも確認しましたが，入れた覚えが特にないということなので，消します．

[2015-11-06 05:25] wkentaro commented on #1300
pclを消すと治りました。

[2015-11-06 05:25] #1300 closed

[2015-11-06 09:41] wkentaro commented on #1215
![image](https://cloud.githubusercontent.com/assets/4310419/10993742/8911da1a-84b4-11e5-96c0-eb9a999c18d9.png)

for log files
[code]

[2015-11-06 09:42] wkentaro commented on #1215
VIDEO: https://drive.google.com/open?id=0B9P1L--7Wd2vTjJzRk55VUNMNjA

[2015-11-06 09:43] wkentaro commented on #1215
Please wait for a while for log uploading and video encoding.

[2015-11-06 14:38] garaemon opened #1304 "ExtractIndices only supports PointXYZRGB, cannot use for PointNormal and so on"
@wkentaro

We should use `pcl::PointCloud2` class

[2015-11-09 03:46] iKrishneel commented on #1215
@wkentaro thanks I will look into it. :+1:

[2015-11-09 15:24] wkentaro opened #1306 "SLICSuperPixels does not work?"
![slic_super_pixels_does_not_work](https://cloud.githubusercontent.com/assets/4310419/11037507/70a37a30-8741-11e5-952f-0c62b40b3ea0.gif)

[2015-11-09 15:39] wkentaro opened #1308 "Segfault SLICSuperPixels because of large image"
https://gist.github.com/wkentaro/84e4cd9ee84a206cef3e

[code]

[2015-11-09 15:40] wkentaro commented on #1306
this will be fixed by #1307

[2015-11-11 09:25] aginika opened #1311 "edge detector duplication"
From https://github.com/ros-perception/vision_opencv/issues/80

Below are duplicating
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/src/edge_detector.cpp
https://github.com/ros-perception/vision_opencv/blob/indigo/opencv_apps/src/nodelet/edge_detection_nodelet.cpp

@k-okada I didn't intend to write the documents of opencv_apps .... Did you mean jsk_perception?

[2015-11-11 10:13] k-okada commented on #1311
opencv_apps are stable version of the jsk_recognition, so if that is ok,
we'll use them and remove correspondence src from jsk_recognition.
so add tutorials to the opencv_apps, wiki is ok, just a few line on how to
run launch or how to run crom command line, and ask kochigami-san to put
image on that

--
◉ Kei Okada

On Wed, Nov 11, 2015 at 6:25 PM, Yuto Inagaki <notifications@github.com>
wrote:

[2015-11-11 12:55] aginika commented on #1311
OK, Thank you. I wrote
http://wiki.ros.org/opencv_apps

[2015-11-11 12:55] #1311 closed

[2015-11-12 05:34] snozawa opened #1312 "Compile error in organized_edge_detector_nodelet.cpp"
When I ran catkin build on my laptop, jsk_pcl_ros compile failed.
[code]
The error message is here:
[code]

My laptop is:
- Ubuntu: 14.04
- ROS: indigo
- PCL: 1.7.2 (deb)

In CMakeLists.txt, PCL 1.7.1+ is required.
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/CMakeLists.txt#L288
But, on my laptop, PCL version is greater than 1.7.1 and
`
pcl/features/organized_edge_detecti

[2015-11-12 05:37] k-okada commented on #1312
duplicates of https://github.com/jsk-ros-pkg/jsk_recognition/pull/1301

[2015-11-12 05:38] k-okada commented on #1312
merged,

btw, are you going to let B3 students to compile jsk_recognition ;-9

[2015-11-12 05:51] snozawa opened #1313 "hsi_color_filter does not work on deb ros-indigo-jsk-pcl-ros (0.3.6-0trusty-20150915-1556-+0000)"
I installed ros-indigo-jsk-pcl-ros from deb  (0.3.6-0trusty-20150915-1556-+0000).

I tried hsi_color_filter, which worked one year before,
and it failes by linking error.

How to reproduce problem
- Launch hsi_color_filter: (example on turtlebot + Ubuntu14.04 + indigo)

[code]
- Subscribe results:

[code]
- hsi_color_filter died like this:

[code]

The cause of error seems to be linking error of p

[2015-11-12 05:54] snozawa commented on #1312
Thanks and sorry for existent problem:
[code]

Yew, currently, deb-installed jsk-pcl-ros seem not to work:
https://github.com/jsk-ros-pkg/jsk_recognition/issues/1313

[2015-11-12 06:10] #1312 closed

[2015-11-12 06:14] k-okada commented on #1313
aha, jsk_pcl_ros is compiled against pcl 1.7.1 on ros buildfirm and not
working with pcl-1.7.2 on your machine, so even if you release newer
version, it may fail.
Also your computer did not use shadow-fixed, so even if you release newer
version, it will take ~month to use them

another option is to recompile from deb package.

--
◉ Kei Okada

On Thu, Nov 12, 2015 at 2:51 PM, Shunichi Nozawa <notif

[2015-11-12 06:25] k-okada commented on #1313
[code]
will recompile deb package, so you can put generated deb package and ask
them to install this

--
◉ Kei Okada

On Thu, Nov 12, 2015 at 3:13 PM, Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
wrote:

[2015-11-14 08:43] rkoyama1623 opened #1316 "How to use Skeletonization?"
@iKrishneel

I am trying to recognize truss, so I want to use skeltonization.
I tried skeltonization.launch by using following picture.

* topoic name: /image_raw
![image_raw](https://cloud.githubusercontent.com/assets/11606776/11162795/c9934bdc-8af4-11e5-99c1-52dffef25147.png)

and edge_detector and dilate_mask_image output following pictures.

* topic name: /edge/image
![edge_image](https://clou

[2015-11-14 09:11] wkentaro commented on #1316
What kind of output do you expect?
I think that output is normal, because the input image is very simple.
Maybe you can change the params with `rqt_reconfigure`. or try more complex input image.

[2015-11-14 09:25] rkoyama1623 commented on #1316
最終的に，赤い線のような画像が出て欲しいです．
hough_lineを適応する前処理として，細線化をしたくて，issueを立てました．

![good_result](https://cloud.githubusercontent.com/assets/11606776/11162927/c867440e-8afc-11e5-9a22-673f0c16cd89.png)

[2015-11-14 09:30] iKrishneel commented on #1316
@rkoyama1623
I tried the node and its working.

As @wkentaro said, can you try to increase the dilate_mask_image in rqt_reconfigure, perhaps by large amount until both sides of the edges fades as one. Please try to confirm using live stream on Xtion sensor.

@wkentaro
The output will be single pixel wide skeleton of the edge.

Input edge
![screenshot from 2015-11-14 18 28 45](https://cloud.githubu

[2015-11-14 09:56] wkentaro commented on #1316
yeah, I browsed your reference a bit.
http://rosettacode.org/wiki/Zhang-Suen_thinning_algorithm

On Sat, Nov 14, 2015 at 6:30 PM, Krishneel <notifications@github.com> wrote:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2015-11-14 10:04] rkoyama1623 commented on #1316
Thank you for advices.
I changed picture to my webcam, and the Dilated Edges are as follows:
![image](https://cloud.githubusercontent.com/assets/11606776/11163012/1fd3e562-8b02-11e5-9415-6700aa3d1459.png)

but still /skeltonization/image_output is black.
I also checked jsk_perception version, but it was latest.

my input image is 2D. Is it OK?

[2015-11-14 10:11] wkentaro commented on #1316
@rkoyama1623
It works if the input image is 2D mono.
I tried use image you attached llike
[code]
![image](https://cloud.githubusercontent.com/assets/4310419/11163029/334f90b8-8b03-11e5-9905-8d40c59484b1.png)

[2015-11-14 10:12] iKrishneel commented on #1316
@rkoyama1623
my input image is 2D. Is it OK?
- Yes it works only for 2D image space.

Please check input image type. It only takes single channel 8bit input.

[2015-11-14 10:15] wkentaro commented on #1316
but there is conversation between input image encoding to 8bit mono one here:
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/src/skeletonization_nodelet.cpp#L68-L74

so if there is no errors (liks `cv_bridge exception XXXX`), the conversation should be working.

[2015-11-14 10:17] wkentaro commented on #1316
maybe there is an another reason why the `skeletonization` does not work on @rkoyama1623 's PC.

[2015-11-14 10:28] iKrishneel commented on #1316
If @rkoyama1623 does not get an exception, the encoding is correct so I am wondering what is the reason it does not work when he runs the node.

[2015-11-14 10:49] rkoyama1623 commented on #1316
@wkentaro solved my pc problem.
my image_view and rqt_image_view was old (hydro), and they cannot display the message with encoding type of 32FC1.
By using rviz, the image was displayed correctly.

The time seem to come when I must update the ros version to indigo.

Thank you for everything, @wkentaro and @iKrishneel !

[2015-11-14 10:52] wkentaro commented on #1316
@rkoyama1623
Please add documentation about the output topic's image encoding here:
 http://jsk-recognition.readthedocs.org/en/latest/jsk_perception/nodes/skeletonization.html#publishing-topic.

like http://jsk-recognition.readthedocs.org/en/latest/jsk_perception/nodes/mask_image_to_label.html

[2015-11-14 10:54] wkentaro commented on #1316
you can change doc here. https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/doc/jsk_perception/nodes/skeletonization.md

[2015-11-14 11:20] rkoyama1623 commented on #1316
OK, I sent PR.
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1317

[2015-11-14 11:26] #1316 closed

[2015-11-14 18:25] #1304 closed

[2015-11-15 08:50] wkentaro opened #1322 "How can we test c++ function?"
I mean function like https://github.com/jsk-ros-pkg/jsk_recognition/pull/1314
any idea?

[2015-11-15 09:31] garaemon opened #1323 "cannot compile jsk_pcl_ros on fuji"
@mmurooka

[code]

[2015-11-15 09:32] garaemon commented on #1323
[code]

[2015-11-15 10:03] #1306 closed

[2015-11-15 13:27] wkentaro commented on #1322
gtest is a candidate.
http://wiki.ros.org/gtest

but I have not found method `assert_called_with` in mock for python.

[2015-11-15 14:27] k-okada commented on #1322
is this answer your question?
http://answers.ros.org/question/181708/rostest-minimum-working-example/?answer=181934#post-id-181934
https://github.com/ros/ros_comm/blob/indigo-devel/test/test_roscpp/test/test_header.cpp

--
◉ Kei Okada

On Sun, Nov 15, 2015 at 5:50 PM, Kentaro Wada <notifications@github.com>
wrote:

[2015-11-15 14:32] wkentaro commented on #1322
yeah, I found gtest and created PR here: https://github.com/jsk-ros-pkg/jsk_common/pull/1238
(I mistook creating issue on jsk_recognition not jsk_common)

Now I'm wondering there is c++ version of `mock.assert_called_with` in python..

[2015-11-15 14:34] wkentaro commented on #1322
I'd like test this kind of c++ function.
https://github.com/jsk-ros-pkg/jsk_common/pull/1229/files

But this function does not return value, so maybe it is difficult.
with python, I managed it like https://github.com/jsk-ros-pkg/jsk_common/pull/1237/files#diff-84305c6b98b19f3cad0718b5dc2501a6R47

[2015-11-15 22:45] wkentaro commented on #1322
**Memo**
Test C++ code with Rostest: https://github.com/jsk-ros-pkg/jsk_recognition/pull/1324

[2015-11-16 22:01] wkentaro commented on #1322
@k-okada
返り値がvoidの関数のテストは、単体ではできないでしょうか。それとも、boolを返り値にするのが正解ですか。

[2015-11-16 22:03] wkentaro commented on #1195
ping

[2015-11-16 22:17] wkentaro commented on #1038
It's a binary representation. If object is out of ROI, we cannot recover from it.

actually I don't follow all your discussions, but how do you get the first ROI?
What @garaemon means with Stochastic mask image based detection is like below?
1. making the first ROI bigger
2. split it in many patterns randomly
3. compute matches in each decomposed ROIs

[2015-11-17 04:12] mmurooka commented on #1323
遅くなりました．
octomap_serverについては，diffはcheckoutしてからmasterにしました．
octomap_server, jsk_pcl_rosのbuild通りました．

[2015-11-17 22:07] k-okada commented on #1322
わかっていませんが，多分 yes

--
◉ Kei Okada

On Tue, Nov 17, 2015 at 7:01 AM, Kentaro Wada <notifications@github.com>
wrote:

[2015-11-18 02:57] wkentaro commented on #1322
ありがとうございます。

On 2015年11月18日 7:07 +0900, Kei Okada<notifications@github.com>, wrote:

[2015-11-18 08:01] snozawa opened #1331 "Request for new version release"
Request for new version release and tag to include https://github.com/jsk-ros-pkg/jsk_recognition/pull/1301.

Is this release possible through jenkins?

[2015-11-18 17:18] k-okada commented on #1331
released new version http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/add_tag/146/, but for your purpsoe, please follow my instruction at https://github.com/jsk-ros-pkg/jsk_recognition/issues/1313#issuecomment-156013536

[2015-11-18 17:19] k-okada commented on #1331
and your student uses ros from released repo, not shadow fixed

[2015-11-18 17:57] k-okada commented on #1331
Because of https://github.com/jsk-ros-pkg/jsk_recognition/pull/1213/files
We could not release this
Any idea?   @mmurooka

[2015-11-18 18:03] k-okada commented on #1331
Btw why this passed the test

[2015-11-18 18:11] mmurooka commented on #1331
Where can I see the error message?

[2015-11-18 23:33] k-okada commented on #1331
hope this has been resolved by
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1334
This mean you rosdep install does not install robot_self_filter, you have
to intentionally install them via source

[code]

--
◉ Kei Okada

On Thu, Nov 19, 2015 at 3:11 AM, Masaki Murooka <notifications@github.com>
wrote:

[2015-11-19 00:27] mmurooka commented on #1331
Yes, the apt package of robot_self_filter is not released now. https://github.com/PR2/robot_self_filter/issues/3
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1213#issuecomment-147377177 is related to this.

In travis test,
`Could not resolve rosdep key 'robot_self_filter'` error is ignored by`-r` option.

[2015-11-19 04:59] k-okada opened #1335 "jsk-pcl-ros could not compile with pcl 1.7.2"
[code]
if we recompile jsk_recognition_utils, it works ok.

cc: https://github.com/jsk-ros-pkg/jsk_recognition/issues/1313
cc: https://github.com/jsk-ros-pkg/jsk_recognition/pull/1301
cc: https://github.com/jsk-ros-pkg/jsk_recognition/issues/1312

[2015-11-19 21:16] wkentaro opened #1337 "[help wanted] [jsk_pcl_ros] ExtractIndices does not work for keep_organized"
this is caused by https://github.com/jsk-ros-pkg/jsk_recognition/commit/dc615cb15ea16beb7a95b7f5b472e57611890a37 .
but I have no idea why this happens, pcl-1.7's bug?

any idea?

test code: #1336

[2015-11-21 08:27] wkentaro commented on #1195
ping

[2015-11-25 13:22] #1322 closed

[2015-11-26 06:13] wkentaro commented on #1195
ping

[2015-11-28 17:34] #1323 closed

[2015-11-29 10:25] furushchev opened #1356 "fails to build jsk_pcl_ros/collision_detector_nodelet.cpp & jsk_pcl_ros/octomap_server_contact_nodelet.cpp"
catkin build fails on building jsk_pcl_ros/collision_detector_nodelet.cpp & jsk_pcl_ros/octomap_server_contact_nodelet.cpp.

[jsk_pcl_ros_build_log.txt](https://github.com/jsk-ros-pkg/jsk_recognition/files/46561/jsk_pcl_ros_build_log.txt)

in my env (hydro):
`robot_self_filter` is installed from source, and confirmed it is the latest.

[code]

and `jsk_pcl_ros` is also cloned the latest source.
(H

[2015-11-29 16:11] mmurooka commented on #1356
Yes, if you merge those two PRs, build should be succeded.

現状が正解だったのか自信はないのですが，
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1213#issuecomment-147377177 で，
robot_self_filterを入れるならこの2つのPRが反映されていないと通らなくなっています．
同じトラブルを抱える方が多そうだったらどうするのがいいでしょう．

[2015-11-30 00:16] k-okada commented on #1356
よくわかっていないですが，現状hydro use_deb=trueで通っていないのかな？
https://travis-ci.org/jsk-ros-pkg/jsk_recognition/builds/86870990
は何故通っているのかな．

--
◉ Kei Okada

2015-11-30 1:11 GMT+09:00 Masaki Murooka <notifications@github.com>:

[2015-11-30 02:32] mmurooka commented on #1356
robot_self_filterが入っていなかったら，
collision_detectorなどのnodeletはコンパイルされないようになっていて，
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/CMakeLists.txt#L409

travisでは，
robot_self_filterはdebでリリースされておらずインストールされていないので，
通っています．

[2015-11-30 02:53] k-okada commented on #1356
では何故このエラーがでるのかな．

--
◉ Kei Okada

On Mon, Nov 30, 2015 at 11:32 AM, Masaki Murooka <notifications@github.com>
wrote:

[2015-11-30 04:19] wkentaro commented on #1356
古田さんがrobot_self_filterをソースから入れているからだと思います。

On 2015年11月30日 11:53 +0900, Kei Okada<notifications@github.com>, wrote:

[2015-11-30 04:32] k-okada commented on #1356
だったら，ソース上でマージしてコンパイルすればいいですね．

--
◉ Kei Okada

On Mon, Nov 30, 2015 at 1:19 PM, Kentaro Wada <notifications@github.com>
wrote:

[2015-11-30 07:37] furushchev commented on #1356
返信遅れました。了解です。依存パッケージのマージを待たなくてもマージしていただけるものなのですね。

[2015-11-30 07:37] #1356 closed

[2015-12-02 12:28] ban-masa opened #1360 "hsi_color_filter.lanchはtfを出力しますか？"
```$ roslaunch jsk_pcl_ros hsi_color_filter.launch DEFAULT_NAMESPACE:=/camera/depth_registered INPUT:=points h_min:=40 h_max:=45 s_min:=50```
とすると以下のような結果になるのですが、ロボットモデル上部に表示されているtfは検出されたboxのものなのでしょうか？
![jsk_recog](https://cloud.githubusercontent.com/assets/14898742/11530879/96bd9884-993b-11e5-8c98-df95657ce558.png)

[2015-12-02 14:23] YuOhara commented on #1360
報告ありがとうございます。

モデルの上部に出ている矢印ですが、こちらはTFでなく（TFなら名前が出るはず）、RvizのDisplays/BoundingBoxのshow coordsの結果だと思われます。

本来なら左下の箱の真ん中に出るべきものですが、表示のプログラム(jsk_rviz_plugins)のプログラムにバグがあって、正しく表示されてないのだと思います。おそらく座標変換が間違えているのかと。

[2015-12-02 14:28] YuOhara commented on #1360
ちなみにですが、BoundingBoxのTFを出したいということなら、それも可能で、
https://jsk-recognition.readthedocs.org/en/latest/jsk_pcl_ros/nodes/cluster_point_indices_decomposer.html
~publish_tfというrosparamをtrueにすれば、TFが出ます。

[2015-12-03 06:59] wkentaro commented on #1331
Now `robot_self_filter` is released. https://github.com/PR2/robot_self_filter/issues/3#issuecomment-161046436
Is that possible to release this package for now?
(I'm trying to test it https://github.com/jsk-ros-pkg/jsk_recognition/pull/1362)

[2015-12-03 08:03] wkentaro commented on #1269
closes via https://github.com/jsk-ros-pkg/jsk_recognition/pull/1324

[2015-12-03 08:03] #1269 closed

[2015-12-03 08:03] wkentaro commented on #1195
closes via https://github.com/jsk-ros-pkg/jsk_recognition/pull/1349

[2015-12-03 08:03] #1195 closed

[2015-12-03 08:09] wkentaro opened #1363 "[bug] [jsk_pcl_ros] compile error at compiling collision_detector_nodelet.cpp"
appears after the release of `ros-indigo-robot-self-filter`. (I found this at travis test on https://github.com/jsk-ros-pkg/jsk_recognition/pull/1361)

assigned to @mmurooka ?
[code]

[2015-12-03 08:14] furushchev commented on #1363
related: https://github.com/jsk-ros-pkg/jsk_recognition/issues/1356

[2015-12-03 09:33] wkentaro commented on #1363
I appreciate if this issue is fixed as soon as possible.

[2015-12-03 09:49] garaemon commented on #1363
https://github.com/PR2/robot_self_filter/issues/9

[2015-12-03 11:49] garaemon commented on #1266
https://bitbucket.org/crl/multisense_ros/issues/52/image_rect-has-8uc1-format-not-mono8
fixed

[2015-12-03 11:49] #1266 closed

[2015-12-04 00:15] wkentaro commented on #1337
Sent PR: https://github.com/PointCloudLibrary/pcl/pull/1462

[2015-12-04 00:16] wkentaro commented on #1337
Use latest class method by adding patch file.
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1366

[2015-12-04 10:30] garaemon commented on #1363
I understood. I will fix it
.

[2015-12-04 12:37] wkentaro commented on #1363
now released.
![image](https://cloud.githubusercontent.com/assets/4310419/11589858/330e5612-9acf-11e5-9db0-0929f0acfbef.png)

[2015-12-05 11:37] garaemon commented on #1360
再現するbagファイルを送ってください。
トピックは、`/tf`と`//camera/depth_registered/boxes`です

[2015-12-05 16:58] garaemon commented on #1308
give me gdb output

[2015-12-05 16:59] #1264 closed

[2015-12-06 07:15] #1337 closed

[2015-12-06 13:43] wkentaro commented on #1308
not repriduced in your environment?

[2015-12-06 15:13] wkentaro commented on #1308
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1378

[2015-12-07 18:13] ban-masa commented on #1360
遅くなってしまい申し訳ありません。
/tfと/camera/depth_registered/boxesのbagファイルですがこれでよろしいでしょうか。

[hsi_color_filter_test.zip](https://github.com/jsk-ros-pkg/jsk_recognition/files/54386/hsi_color_filter_test.zip)

[2015-12-08 06:16] garaemon commented on #1360
@ban-mesa 確認してみます

[2015-12-08 06:19] garaemon commented on #1360
@ban-mesa

たぶんこれで解決されたんじゃないかと思います
https://github.com/jsk-ros-pkg/jsk_visualization/pull/535

![screenshot from 2015-12-08 15 18 29](https://cloud.githubusercontent.com/assets/40454/11649137/0b39cca0-9dbf-11e5-8f69-0e3025e80e21.png)

[2015-12-09 07:19] garaemon opened #1384 "Remove dependency to ml_classifiers"
ml_classifiers is not maintained anymore.

[2015-12-09 07:23] garaemon commented on #1335
recompile is the only way to solve this issue

[2015-12-09 07:23] #1335 closed

[2015-12-09 07:33] garaemon commented on #1384
[code]

[2015-12-09 11:34] ban-masa commented on #1360
ありがとうございます。
実機で確認したところ、boxの位置に正しく座標系が出るようになりました。

[2015-12-09 12:46] #1360 closed

[2015-12-10 08:44] h-kamada opened #1387 "imagesift process is working even after no subscribers for a while"
Imagesift is inheriting nodelet. So, imagesift process sleeps when there are no subscribers.
But, the span time of going to sleep is very slow.
In PR2, it took about 1 minutes before going to sleep.
I want to end working immediately after there are no subscribers.
What should I do? Is there a timeout variable?

[2015-12-10 09:00] wkentaro commented on #1387
Do you mean the `ConnectionBased` does not work?

[2015-12-10 09:05] h-kamada commented on #1387
Yes, but I tried again, and this time, it ended immediately. So, something I wrote might be wrong.

[2015-12-10 09:05] #1387 closed

[2015-12-10 14:04] garaemon commented on #1363
solved

[2015-12-10 14:04] #1363 closed

[2015-12-10 17:55] garaemon opened #1395 "Release for jade"
now jsk_pcl_ros can compile without ml_classifiers.
Can we release jsk_perception to jade?

https://github.com/jsk-ros-pkg/jsk_recognition/pull/1385

[2015-12-10 17:55] garaemon commented on #1308
I have seen SEGV a lot of times.

[2015-12-10 17:58] garaemon commented on #1308
I think slic does not need to release `cv::Mat`.

https://github.com/garaemon/SLIC-Superpixels/blob/master/slic.cpp#L24

[2015-12-10 18:00] garaemon commented on #1308
https://github.com/garaemon/SLIC-Superpixels/pull/1

It may solve the issue.

[2015-12-11 04:22] k-okada commented on #1395
https://github.com/jsk-ros-pkg/jsk_recognition/issues/1331#issuecomment-157898646 block this, wait a moment

[2015-12-11 06:51] k-okada commented on #1395
ok, done for indigo
https://github.com/ros/rosdistro/pull/10024

now releasing jade

[2015-12-11 06:51] #1395 closed

[2015-12-11 07:47] garaemon commented on #1395
When I want to add release patch, what can I do?

[2015-12-12 14:44] wkentaro commented on #1308
It does not work, but I don't use this node so it's ok.
this node maybe works only for small images.
**360x486**
[![image](https://cloud.githubusercontent.com/assets/4310419/11762447/fa747d16-a129-11e5-8840-0cf9e717b265.png)

**1080x1920**
![image](https://cloud.githubusercontent.com/assets/4310419/11762452/15b5e10a-a12a-11e5-8541-433b2a38f97f.png)

[2015-12-12 15:13] wkentaro commented on #1331
@snozawa This can be close?

[2015-12-14 05:53] #1331 closed

[2015-12-14 09:01] garaemon opened #1401 "cannot install cuboid_parameterConfig"
http://jenkins.ros.org/view/IbinS32/job/ros-indigo-jsk-pcl-ros_binarydeb_saucy_i386/88/console

[code]

[2015-12-14 09:03] garaemon commented on #1401
cuboid_parameter.py generates two headers but dynamic_reconfigure CMake macro
tries to install generated file estimated from file name convention.

[2015-12-14 10:28] #1401 closed

[2015-12-14 11:06] garaemon commented on #1401
I will release new version

[2015-12-15 18:22] garaemon opened #1410 "Cannot import bounding_rect_of_mask"
@wkentaro

http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/trusty-travis-jsk-ros-pkg-jsk_recognition-indigo-deb-true-true/445/console

[code]

[2015-12-15 18:31] garaemon opened #1411 "Do not import child modules from jsk_recogntiion_utils/__init__.py"
Difficult to handle matplotlib on all the environment including head-less environment

https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_recognition_utils/python/jsk_recognition_utils/__init__.py

https://github.com/jsk-ros-pkg/jsk_recognition/issues/1410

[2015-12-16 04:29] garaemon commented on #1410
@wkentaro Could you rewrite it without matplotlib, for example use opencv instead?

I think it is because of GUI thread of matplotlib.

We can set proper 'backends' of matplotlib to work it but it is a little bit tricky.

[2015-12-16 04:39] wkentaro commented on #1410
I hope below fixes this problem
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1412/files

[2015-12-16 09:22] garaemon opened #1413 "jsk_pcl_ros test data is too large (~200M)"
Decrease the size.

[2015-12-16 09:27] garaemon commented on #1413
You can see long log to download it.
http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/trusty-travis-jsk-ros-pkg-jsk_recognition-jade-deb-false-true/499/console

[2015-12-16 09:28] garaemon commented on #1413
If we can use wget instead of gdown, we can use --timestamping option to avoid re-download the file (we can cache it somewhere)

[2015-12-16 09:29] garaemon commented on #1410
fixed

[2015-12-16 09:29] #1410 closed

[2015-12-16 10:30] wkentaro commented on #1413
gdown uses wget inside.
https://github.com/wkentaro/gdown/blob/master/gdown/__init__.py#L14

[2015-12-16 10:37] wkentaro commented on #1413
gdown is necessary to download large file from good drive.
just using wget command does not work.

[2015-12-16 12:06] wkentaro opened #1416 "[enhancement] Fix linter error in c++ code"
![image](https://cloud.githubusercontent.com/assets/4310419/11840339/6f61e328-a438-11e5-88d8-be9b453d22fb.png)
![image](https://cloud.githubusercontent.com/assets/4310419/11840350/86337896-a438-11e5-9810-0f5433221eaf.png)

I'd like to automate the style check by maintainers. Using roslint
http://wiki.ros.org/roslint

for python code, we can use autopep8
https://pypi.python.org/pypi/autopep8/
to fo

[2015-12-16 14:17] garaemon commented on #1416
Need to think about pros and cos before being a fashionista.

* Pros
  * Guaranteed consistency
  * Auto-format

* Cons
  * Coding style itself is not important.
  * Slow development.
  * Too many rules to develop.
  * Education cost of linter tool.
  * The style used in roslint does not match current coding style. It is important to follow the style of existing code rather than roslint. (roslint

[2015-12-16 15:47] wkentaro commented on #1416
Please stop looking down on me by saying me as a fashionista.
I'm considering style check is important after using pep8, flake8 for python and cpplint for cpp for a while.

- https://www.python.org/dev/peps/pep-0008/
- http://google.github.io/styleguide/cppguide.html

Pros

* Guaranteed consistency, (-> so easy to read.)
* Auto-format, (-> so save time to review.)

Cons

* Coding style itself is n

[2015-12-17 02:27] k-okada commented on #1416
no one is looking down on others, Assume good faith See
http://wiki.ros.org/Support#Etiquette

My thought on this is; we should make this kind of effort on
upstream/stable packages, to maximize it's benefit, Apply roslint is good,
may be better to run within travis, but not marked as fail for a while.

--
◉ Kei Okada

On Thu, Dec 17, 2015 at 12:47 AM, Kentaro Wada <notifications@github.com>
wrote:

[2015-12-17 02:38] k-okada commented on #1416
for example https://github.com/ros-perception/vision_opencv/pull/56 is
upstream/stable packges for me, and if someone proposed that we have to
follow roslit for this package, everyone will agree.
So if we are able to move some of nodes to the pcl_ros package, then it ok.
The problem is how to choose node which should be moved from jsk_pcl_ros to
pcl_ros, in the opencv_apps, we choose sample progra

[2015-12-17 03:04] wkentaro commented on #1416
http://wiki.ros.org/Support#Etiquette

I see, that's the rule in ROS community.

upstream/stable packages, to maximize it's benefit, Apply roslint is good,
may be better to run within travis, but not marked as fail for a while.

That's an idea, I agree with you.
IMO, roslint should not be the limitation of fast developing, but help of that, and I think it can be by using it correctly. (even if for

[2015-12-17 04:26] wkentaro commented on #1413
@garaemon
I have done implementation to identify if downloaded file is latest by checking md5 hash. https://github.com/jsk-ros-pkg/jsk_recognition/pull/1419
Do you have any idea how to cache it?

[2015-12-17 05:28] garaemon opened #1421 "Release new version (timeout on buildfarm)"
Don't know why but failed on ros buildfarm.
http://jenkins.ros.org/view/IbinS64/job/ros-indigo-jsk-pcl-ros_binarydeb_saucy_amd64/100/

[2015-12-17 05:30] k-okada commented on #1421
[code]

--
◉ Kei Okada

On Thu, Dec 17, 2015 at 2:28 PM, Ryohei Ueda <notifications@github.com>
wrote:

[2015-12-17 05:40] garaemon commented on #1421
too large project...?

[2015-12-17 05:54] garaemon commented on #1421
Because of change of jsk_common, ccache misses cache?

[2015-12-17 05:54] garaemon commented on #1421
Anyway I released 0.3.10

[2015-12-17 05:59] garaemon commented on #1421
Idea
1. split into some packages. jsk_pcl_ros is too large. (But I like this style...)
2. Remove unused programs
3. Concatenate cpp files into one big cpp files

[2015-12-17 06:01] garaemon commented on #1421
4. Send to upstream (best)

In order to send to upstream, we need to move to indigo at least...

[2015-12-17 06:26] garaemon opened #1423 "Failed to release jade from bloom_release task"
http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/bloom_release/5886/console

[code]

[2015-12-17 06:31] garaemon commented on #1421
I found compiler are different.

When it exceeds 120 minutes, `/usr/lib/ccache/x86_64-linux-gnu-g++` is used.
If it run in 120 minutes, `/usr/lib/ccache/c++` is used.

[2015-12-17 06:36] garaemon commented on #1421
Compiler version is updated from 4.8.1 to 4.8.4

[2015-12-17 06:45] garaemon commented on #1421
It is not because of difference of compiler.

http://jenkins.ros.org/view/IbinS64/job/ros-indigo-jsk-pcl-ros_binarydeb_saucy_amd64/97/consoleFull
Here jenkins uses 4.8.1 but it fails.

[2015-12-17 06:49] k-okada commented on #1423
robot_self_filter is not released on jade, and I created issue for that,
but I'm afraid this just assign  new job to @wkentaro and @garaemon.....
https://github.com/PR2/robot_self_filter/issues/11

--
◉ Kei Okada

On Thu, Dec 17, 2015 at 3:26 PM, Ryohei Ueda <notifications@github.com>
wrote:

[2015-12-17 07:00] garaemon commented on #1421
Capability of node are different?

http://jenkins.ros.org/computer/

`_sync` node looks inferior than other nodes

[2015-12-17 09:01] garaemon commented on #1421
I reported
https://github.com/ros-infrastructure/buildfarm/issues/220

[2015-12-17 09:09] garaemon commented on #1423
Wait for next shadow-fixed release

[2015-12-18 04:54] garaemon commented on #1421
We need to separate package into few packages...

[2015-12-18 05:04] garaemon opened #1430 "Separate jsk_pcl_ros package"
the package is too large and cannot be compiled on ros buildfarm.

Today I will separate it to two or three packages.

- [x] use jsk_recognition_utils package directly from jsk_pcl_ros -> https://github.com/jsk-ros-pkg/jsk_recognition/pull/1431
- [x] refine modules of libjsk_pcl_ros_util -> https://github.com/jsk-ros-pkg/jsk_recognition/pull/1433
- [x] separate jsk_pcl_ros into jsk_pcl_ros_utils -

[2015-12-19 05:55] garaemon commented on #1421
Failed to release.

http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/bloom_release/5889/console

[code]

[2015-12-19 08:14] #1430 closed

[2015-12-19 08:15] #1423 closed

[2015-12-19 10:11] garaemon commented on #1421
@k-okada Could you fix this issue?

[2015-12-19 10:19] garaemon opened #1436 "Support tf2"

[2015-12-20 03:46] k-okada commented on #1421
[code]
do we remove them from 3rdparty? i think it was not a good idea to remove
something within same rosdistro....

--
◉ Kei Okada

On Sat, Dec 19, 2015 at 7:11 PM, Ryohei Ueda <notifications@github.com>
wrote:

[2015-12-20 03:47] k-okada commented on #1421
sorry, it was jade, so they are not released on them, I can fix this.

--
◉ Kei Okada

On Sun, Dec 20, 2015 at 12:46 PM, Kei Okada <k-okada@jsk.t.u-tokyo.ac.jp>
wrote:

[2015-12-20 08:21] wkentaro opened #1444 "Is there way to change dynamic parameter with timestamp?"
I'd like to use dynamic_reconfigure for recognition with timestamp.
Currently, the config callback does not see the timestamp https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/src/organized_multi_plane_segmentation_nodelet.cpp#L172
and dynamic_reconfigure seems to be not designed to do so.

Any idea to fix this issue?
I think there are two solutions:

1. Change the `configCall

[2015-12-20 08:23] wkentaro commented on #1444
The first option may break current system and the nodes' behavior will change, so I think it's not good idea.

[2015-12-20 08:23] wkentaro commented on #1444
Could you please give me some advice? @garaemon @k-okada

[2015-12-20 09:06] garaemon commented on #1444
It depends on your purpose.

Whey you need timestamp on dynamic_reconfigure?

[2015-12-20 09:11] wkentaro commented on #1444
Yes, so I don't want to break current system.

To change the parameter from **now** (the time I changed the parameter), not the time the `configCallback` is called in each recognition node.

[2015-12-20 09:23] garaemon commented on #1444
hmm, it sounds difficult.
Your problem is latency between rqt_dynamic_reconfigure event callback and service call?

[2015-12-20 09:27] garaemon commented on #1308
I confirmed this issue.

[2015-12-20 09:29] garaemon commented on #1308
Is it easy to rewrite it with scikit image?

[2015-12-20 12:33] garaemon commented on #1421
finally, jsk_recognition deb will be back to normal in a day.

![screenshot_from_2015-12-20 21 32 20](https://cloud.githubusercontent.com/assets/40454/11917984/3efe8c3c-a761-11e5-9388-e45419395079.png)

[2015-12-20 14:58] wkentaro commented on #1308
Probably, but I don't have the motivation for that now, because I'm not using `slic` currently.
And `slic` seems used with other algorithms and in that case it does not need to be a standalone node.
http://scikit-image.org/docs/dev/api/skimage.segmentation.html?highlight=slic#skimage.segmentation.slic

[2015-12-20 15:03] wkentaro commented on #1444
Maybe no, the problem is a node cannot know that what data with what timestamp other node processing.

What I want to do is to specify the timestamp and parameter for a processing, this can be significant in dynamic environment.
At this time, I'm in not so dynamic environment so maybe current dynamic reconfigure system does work.

[2015-12-20 23:53] wkentaro opened #1448 "[jsk_pcl_ros_utils] fatal error: jsk_recognition_msgs/SetPointCloud2.h: No such file or directory"
[code]

[2015-12-21 05:33] garaemon commented on #1448
Latest master should be fixed

[2015-12-21 05:33] garaemon commented on #1421
Finally, done

[2015-12-21 05:33] #1421 closed

[2015-12-21 06:19] wkentaro commented on #1448
thanks, now it seems to be fixed.

[2015-12-21 06:19] #1448 closed

[2015-12-23 17:01] wkentaro opened #1456 "[jsk_perception] build error at building calc_flow"
[code]

Failed to build package 'jsk_perception' because the following command:

[2015-12-26 03:05] wkentaro opened #1467 "Is there a node to decompose point cloud with label image?"
like label_decomposer.py in jsk_perception which decompose image.

[2016-01-01 04:23] eisoku9618 opened #1482 "60秒以内に同じlaunchを再び上げるとnodeletが上がらない"
1. 以下のようなjsk_pcl_rosのnodeletを使ったlaunchフィアルを一回上げる（ちゃんと上がる）
1. C-cで止める
1. その後 n秒 待って再び同じlaunchファイルを上げる

ということを良くやるかと思うのですが，n > 60秒 のときは問題なく上がるのですが，n < 60秒のときはnodeletが起動できないです．

[code]

roscoreを含め一旦全て落としても，やはり前回上げた時から60秒間待たないとnodeletが上がらないです．

これはそういうものなのでしょうか？それとも僕のlaunchの書き方が悪いでしょうか？
（関係あるかわかりませんが，pcl/PassThroughを2つ上げるものは待たずとも正常に上がりました．）

---

以下確認用スクリプト

---

以下のスクリプトで確認したところ，
１分間以上間隔を開けると大丈夫なのですが

[2016-01-01 08:00] garaemon commented on #1482
おかしいですね。

1. roslaunchがちゃんと死んでいるか
2. pluginlibとlibrospackが怪しいのでソースから入れてデバッグする

[2016-01-01 16:13] wkentaro commented on #1467
closes via https://github.com/jsk-ros-pkg/jsk_recognition/pull/1470

[2016-01-01 16:13] #1467 closed

[2016-01-02 05:20] k-okada commented on #1482
60秒の間に
[code]
したらなにか分かるかな．

--
◉ Kei Okada

2016-01-01 17:00 GMT+09:00 Ryohei Ueda <notifications@github.com>:

[2016-01-04 05:01] eisoku9618 commented on #1482
ありがとうございます．

``ps aux | grep roslaunch``では出てきませんでしたので，死んでいそうです．

[code]

- nodeletがうまく上がっているとき： https://gist.githubusercontent.com/eisoku9618/f3ad45914ec1639a2964/raw/c5ebc936a723a425f508f147e8065518a24bb8ba/success_lsof_grep_ros.log
- 失敗しているとき： https://gist.githubusercontent.com/eisoku9618/f3ad45914ec1639a2964/raw/c5ebc936a723a425f508f147e8065518a24bb8ba/fail_lsof_grep_ros.log

や

[code]

- nodel

[2016-01-04 05:27] eisoku9618 commented on #1482
補足ですが，standalone_complexed_nodeletを使わずに以下のようにしても同じ現象が起きますので，standalone_complexed_nodeletには問題なさそうです．

また，同じjsk_pclのnodeletでも，例えばjsk_pcl/TiltLaserListenerは問題なく動きます．

[code]

[2016-01-04 14:17] garaemon commented on #1482
pluginlibの中のdlopenで死んでいるのか，dlsymで死んでいるのか，それともコンストラクタの呼び出しで死んでいるのかonInitの呼び出しで死んでいるのかを見極めるとデバッグできる気がします．

TfTransformCloudはシングルトン作ったりしているので，ちょっと怪しいと言えば怪しい．

loadじゃなくて，standaloneだと動く?

[2016-01-04 15:25] eisoku9618 commented on #1482
pluginlibをソースから入れるのがまだ出来ていませんが，
少なくとも，TfTransformCloud（とその親クラスのDiagnosticNodelet）のコンストラクタやonInitにprint文入れても，nodeletがうまく起動しない時は表示されませんでした．

以下のようにstandaloneにしてもダメでした．

[code]

jvrcのときには動いていたはず，，，と思っていたら，

jsk_pcl_rosのCMakeに

``jsk_pcl_nodelet``

と書かれている方は動くけれども

``jsk_pcl_util_nodelet_deprecated``

と書かれている方は動かない気がしてきました．
以下のようなlaunchで``jsk_pcl_util_nodelet_deprecated``のものを6個くらい確認して，全部nodeletが死んでしまい

[2016-02-09 13:15] knorth55 opened #1530 "色ヒストグラムのマッチングプログラムを使いたい"
PolygonArrayColorLikelihood のサンプルプログラム(launch)がありますでしょうか

@k-okada
@kimhc6028

[2016-03-07 09:51] kochigami opened #1542 "hsi_color_filter_launch somehow fails on deb ros-indigo-jsk-pcl-ros (0.3.16-0trusty-20160216-210341-0800)"
I installed ros-indigo-jsk-pcl-ros from deb (0.3.16-0trusty-20160216-210341-0800) , executed ```catkin build``` and tried hsi_color_filter, but it fails.
I referred to  https://github.com/jsk-ros-pkg/jsk_recognition/issues/1313, but I couldn't figure out what I have to do. Sorry for my trouble.

I tried to launch hsi_color_filter.launch as follows: (robot: turtlebot, pc: ubuntu 14.04, ros: indigo)

[2016-03-07 10:33] k-okada commented on #1542
please check pcl version

and your source list

--
◉ Kei Okada

On Mon, Mar 7, 2016 at 6:51 PM, Kanae Kochigami
<notifications@github.com> wrote:

[2016-03-07 10:50] kochigami commented on #1542
Thank you very much for your help.

1. ```aptitude show libpcl-common-1.7 ``` returns
[code]
2. The result of ```ls /etc/apt/sources.list.d/``` is below:

```kazam-team-stable-series-trusty.list  ros-latest.list  ros-latest.list.save```

[2016-03-07 11:33] kochigami commented on #1542
This error says that the version of ```jsk_recognition_utils``` is old.
[code]
and when I updated
```sudo apt-get install ros-indigo-jsk-recognition-utils```, this program worked.

[2016-03-07 11:33] #1542 closed

[2016-03-20 08:46] wkentaro commented on #1456
I could not find the cause, but it is fixed now.

[2016-03-20 08:46] #1456 closed

[2016-03-21 16:22] dirk-thomas opened #1558 ".cfg files need to be fixed and released"
Recently you fixed some of the dynamic reconfigure files in this repo (b79ec0a1f8638a87aea774629e465cc38ef7bd94).Other files still need the same fix: e.g. https://github.com/jsk-ros-pkg/jsk_recognition/blob/edc9d417753fec6b1705aaa7ab83e6c888663649/jsk_perception/cfg/PolygonArrayColorLikelihood.cfg#L4-L10 https://github.com/jsk-ros-pkg/jsk_recognition/blob/edc9d417753fec6b1705aaa7ab83e6c888663649/j

[2016-03-22 01:23] k-okada commented on #1558
Thanks, fixed in #1559

[2016-03-22 01:23] #1558 closed

[2016-03-30 14:10] wkentaro opened #1565 "[jsk_perception/selective_search.py] The input image should be rgb"
It seems the input image encoding is supposed to be RGB for `dlib.find_candiate_object_locations`.
https://github.com/davisking/dlib/blob/master/python_examples%2Ffind_candidate_object_locations.py

[2016-03-31 09:19] #1565 closed

[2016-03-31 09:31] wkentaro opened #1571 "Coverage of testing ROS nodes"
## jsk_pcl_ros
- [ ] add_color_from_image_nodelet
- [x] attention_clipper_nodelet
- [ ] bilateral_filter_nodelet
- [ ] border_estimator_nodelet
- [ ] bounding_box_filter_nodelet
- [ ] boundingbox_occlusion_rejector_nodelet
- [ ] capture_stereo_synchronizer_nodelet
- [ ] cluster_point_indices_decomposer_nodelet
- [ ] cluster_point_indices_decomposer_z_axis_nodelet
- [ ] collision_detector_nodelet
-

[2016-03-31 09:39] wkentaro opened #1572 "[bug] Build status of deb does not appear in README"
And the links is dead, too.
Anyone who knows how to fix this?

## Status
http://jenkins.ros.org/job/ros-indigo-jsk-recognition_binarydeb_saucy_i386/

<img width="498" alt="screen shot 2016-03-31 at 6 36 51 pm" src="https://cloud.githubusercontent.com/assets/4310419/14171761/9e4b0b1c-f76f-11e5-8e10-2718f3e5a413.png">

[2016-03-31 10:50] k-okada commented on #1572
build farm has moved to jenkins.ros.org to build.ros org ->  to
http://build.ros.org/job/Ibin_uT64__jsk_perception__ubuntu_trusty_amd64__binary/

--
◉ Kei Okada

On Thu, Mar 31, 2016 at 6:39 PM, Kentaro Wada <notifications@github.com>
wrote:

[2016-03-31 14:08] wkentaro commented on #1572
Thank you. #1573

[2016-04-04 11:05] #1572 closed

[2016-04-06 10:35] kochigami opened #1582 "[jsk_recognition/point_pose_extractor.cpp] SetTemplateサービスの使い方が分かりません"
point_pose_extractor.cppでは，
SetTemplateサービスを使うことでテンプレートの数を増やしていけるのだと思うのですが，
カラー画像データのdata数の指定でエラーが出てしまい困っています．

width: 205
height: 290 (２つは画像ファイルを画像ビューワーで開いて確認)
step: width * byte_depth * num_channels = 205 * 1 * 3 = 615
data: step * height = 615 * 290 = 178350
このように設定すると，以下のエラーが出ます．

[code]
なぜ全体のデータ数が6になるのか分かりません．
このサービスの正しい使い方やエラーの意味が分かる方はいらっしゃいませんか．

空のサービスの中身は以下です．
[code]
以下が私の入力です．
[code]

st

[2016-04-06 10:50] wkentaro commented on #1582
6になるのは、`data: '178350'`が6文字だからではないでしょうか。

[2016-04-06 11:05] wkentaro commented on #1582
どうなると正解なのかわかりませんが、(`~debug_image`はでない）
https://github.com/wkentaro/20160406_point_pose_extractor
でサービスを呼ぶことはできるようです。

[2016-04-07 01:47] kochigami commented on #1582
dataについて勘違いしていました．
(☓　data数を書く
◯  178350個分画素値が入る)
テンプレートを増やすことができました．

ありがとうございます．

[2016-04-07 01:47] #1582 closed

[2016-04-08 07:40] wkentaro commented on #1582
@kochigami
今後このノードを使う人が同じような問題に当たらないために，[サンプル](https://github.com/jsk-ros-pkg/jsk_recognition/tree/master/jsk_perception/sample), [テスト](https://github.com/jsk-ros-pkg/jsk_recognition/tree/master/jsk_perception/test)または[ドキュメント](http://jsk-docs.readthedocs.org/en/latest/jsk_recognition/doc/jsk_perception/index.html)があるといいと思うのですが，
簡単に作っていただくことはできないでしょうか．

[2016-04-10 09:14] kochigami commented on #1582
お返事が遅くなり申し訳ないです．
了解しました．

[2016-04-19 09:06] xMutzelx opened #1594 "[error] Cannot build jsk_recognition"
Hello,
I want to try/use JSK-Recognition, so I tried to build jsk_recognition with these steps:
[code]
After some errors, I succsesfully ran: `rosdep install --from-paths src -r -y -i`
and `catkin_make` again.

Now I have the following errors:
[code]

After this error there are like 100 times similar errors.
Here is my CMakeError.log:
[code]

I checked libpthread and it is installed:
[code]
I am u

[2016-04-19 09:20] wkentaro commented on #1594
The test passes with the version ec21810 .
https://travis-ci.org/jsk-ros-pkg/jsk_recognition/builds/124022356
In the travis test, it uses catkin_tools not catkin_make.

[2016-04-19 09:23] k-okada commented on #1594
please try apt-get install ros-indigo-jsk-recognition

--
◉ Kei Okada

On Tue, Apr 19, 2016 at 6:20 PM, Kentaro Wada <notifications@github.com>
wrote:

[2016-04-19 11:16] xMutzelx commented on #1594
Thank you very much for your help.
@k-okada When I use `apt-get install ros-indigo-jsk-recognition` some folders are missing compared to the git source (example: jsk_recognition/jsk_perception/scripts). That is the reason why I want to install it from source.
@wkentaro I tried to build it again with this version and now I have some different errors:
[code]
As it seems you are using OpenCV 2.4.8 an

[2016-04-19 11:21] wkentaro commented on #1594
it should be fixed in the next release.

now the repo supports opencv2 only, so some patches are necessary.

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com/

2016年4月19日 20:16 +0900 に xMutzelx<notifications@github.com>は書きました:

[2016-04-20 08:07] xMutzelx commented on #1594
Okay, I switched my OpenCV version to 2.4.11 and all the OpenCV related errors are solved. Now I have one error left:
[code]
Thank you so much for your help. Your support is great!

[2016-04-20 08:12] k-okada commented on #1594
On Tue, Apr 19, 2016 at 8:16 PM, xMutzelx <notifications@github.com> wrote:

That should be fixed in 0.3.20 (
https://github.com/jsk-ros-pkg/jsk_recognition/releases/tag/0.3.20) and
alreday released into shadow-fixed (
http://repositories.ros.org/status_page/ros_indigo_default.html?q=jsk_perception)
, and will be releasead release repository soon.

If you can not wait, please try using shadow-fixe

[2016-04-20 09:34] xMutzelx commented on #1594
@k-okada I tried your suggestion, but there are still missing folders (example: jsk_recognition/jsk_perception/scripts).
[code]

[2016-04-20 11:32] wkentaro commented on #1594
@xMutzelx the scripts in `jsk_recognition/jsk_perception/scripts/` directory is located in `/opt/ros/indigo/lib/jsk_perception` when you install it via apt.

[2016-04-20 12:52] k-okada commented on #1594
btw, we're testing on opencv3 environment and it seems working -> https://travis-ci.org/jsk-ros-pkg/jsk_recognition/jobs/124450393

[2016-04-21 07:21] xMutzelx commented on #1594
@wkentaro I fixed my problem with the installation from source. My pip version was 1.5.4, after I upgraded it to 8.1.1 and ran: `rosdep install --from-paths src -r -y -i`. After this is tried `catkin build` again and it worked perfectly. Thank you very much for all of your help.
@k-okada I found all of the "missing" folders after ```apt-get install ros-indigo-jsk-recognition```. Thank you very muc

[2016-04-21 10:38] #1594 closed

[2016-04-25 11:00] xMutzelx opened #1616 "[Problem] Bag of Features for Object Recognition"
Hello,
I am following this example: http://jsk-recognition.readthedocs.org/en/latest/jsk_perception/bof_object_recognition.html

When I type:` rosrun jsk_perception create_sift_dataset.py 20150428_collected_images` I get the following error:
[code]
I succssfully installed jsk-recognition and jsk-3rdparty. I am using Ubuntu 14.04 and Ros Indigo. I installed OpenCV 2.4.11. Do you have any ideas how

[2016-04-25 11:11] wkentaro commented on #1616
This seems problem in `libsiftfastpy`. https://github.com/jsk-ros-pkg/jsk_3rdparty/tree/master/3rdparty/libsiftfast
because the `siftfastpy.so` should be installed and properly loaded after installed via apt.

[2016-04-25 11:16] xMutzelx commented on #1616
I installed it from source and not via apt.
I can find siftfastpy.o by hand:
[code]

[2016-04-25 11:17] wkentaro commented on #1616
Ok, if so, it should be installed at:
[code]

[2016-04-25 11:22] xMutzelx commented on #1616
Here is no siftfastpy.so and I also cant find it in subfolders.
[code]
I also found a link at: `/home/marcel/jsk_ws/devel`

[2016-04-25 11:29] wkentaro commented on #1616
There is a condition in `build/libsiftfast/libsiftfast_svn/CMakeLists.txt` as below:
[code]
there is some missing dependencies in your environment.

[2016-04-25 11:30] wkentaro commented on #1616
Please check the message on built time.

[2016-04-25 12:54] wkentaro commented on #1616
I found catkin_tools 0.4.0 does not run execute_process cmake function, and it may cause the bug.

[2016-04-25 13:10] wkentaro commented on #1616
Ah, it's my misunderstanding, https://github.com/jsk-ros-pkg/jsk_3rdparty/blob/master/3rdparty/libsiftfast/CMakeLists.txt#L33-L35 line fails because of changed catkin_tools api.

[2016-04-25 13:19] wkentaro commented on #1616
https://github.com/jsk-ros-pkg/jsk_3rdparty/pull/62 should fix the problem of wrong location of siftfastpy.so.

[2016-04-26 06:45] xMutzelx commented on #1616
Your fix works fine. Thank you for your help, I really appreciate it.

[2016-04-26 06:45] #1616 closed

[2016-04-27 11:17] xMutzelx opened #1620 "[question] Bag of Features for Object Recognition"
I have a question about the "Bag of Features for Object Recognition" example (http://jsk-docs.readthedocs.org/en/latest/jsk_recognition/doc/jsk_perception/bof_object_recognition.html). I followed the example and everything worked fine (no errors or critical warnings) but I do not get such output windows, like shown in the example. I tried to edit the launch file and add one "image_view" without su

[2016-04-27 12:35] wkentaro commented on #1620
see #1622

[2016-04-28 08:59] xMutzelx commented on #1620
Thank you very much it looks awesome! I have a problem with the histogram:
[code]
This happens when I subscribe to the topic: `/bof_histogram_extractor/output`
Is this the wrong topic? I do not have another topic from `bof_histogram_extractor`

[2016-04-28 10:35] wkentaro commented on #1620
See the picture crefully.

[2016-04-28 11:19] xMutzelx commented on #1620
Okay, I found my error ... `/bof_histogram_extractor/output/data`
I did not look at the picture, I just checked `rostopic list`. Thank you for your advice.

[2016-04-29 06:48] knorth55 opened #1631 "[doc] No Documentation Nodes"
There is no document about nodes below.
Author or people familiar with node should write doc, or no one reuse it and others duplicate similar node.

[code]

[2016-04-29 07:47] #1620 closed

[2016-05-02 12:19] xMutzelx opened #1643 "How to learn and recognize Objects"
I would like to learn and recognize 3D-objects with the Kinect camera. I read the documentation from jsk_pcl_ros and I couldn't find some informations.
Here are my questions:
- Which DB are you using to store the models from "IncrementalModelRegistration" or "LINEMODTrainer" ?
- Do you have any tutorials which guide me through the first steps (Training and Detection)
- Is "LINEMODDetector" the onl

[2016-05-02 15:53] #1530 closed

[2016-05-03 10:33] xMutzelx opened #1644 "[Documentation] Rename "PolygonToMaskImage""
Can you please rename: [link](http://jsk-docs.readthedocs.io/en/latest/jsk_recognition/doc/jsk_perception/nodes/robot_to_mask_image.html)?
This name is already used by another nodelet: [link](http://jsk-docs.readthedocs.io/en/latest/jsk_recognition/doc/jsk_perception/nodes/polygon_to_mask_image.html).

[2016-05-03 12:50] mmurooka commented on #1644
Thank you for letting us know that.
[1] is the instruction of  [2].
[1] http://jsk-docs.readthedocs.io/en/latest/jsk_recognition/doc/jsk_perception/nodes/robot_to_mask_image.html
[2] https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/src/robot_to_mask_image.cpp
Only the nodelet name in the document is mistaken and I fixed that.

[2016-05-06 01:47] k-okada commented on #1631
@chiwunau @YuOhara @iory @furushchev @wkentaro @otsubo @kochigami @mmurooka @iKrishneel とりあえず関係ありそう，勉強したら良さそう，という人にアサインしたので，中身をみてドキュメントを書いてみて下さい．ドキュメントの書き方は @knorth55 か @wkentaro に聞いて下さい．

[2016-05-06 02:38] wkentaro commented on #1631
Alright.

[2016-05-06 04:22] k-okada opened #1648 "[doc/jsk_perception] add documentation"
- [ ] jsk_perception/EdgeDetector @mizo-hana (if http://wiki.ros.org/opencv_apps#edge_detection	is ok, please remove) @mizmizo
- [ ] jsk_perception/SparseImageEncoder  https://github.com/jsk-ros-pkg/jsk_recognition/pull/62 @yuyu2172
- [ ] jsk_perception/SparseImageDecoder  https://github.com/jsk-ros-pkg/jsk_recognition/pull/62 @yuyu2172
- [ ] jsk_perception/BackgroundSubstraction https://github.co

[2016-05-06 04:23] k-okada commented on #1648
@mizomizo, @himlen1990 @ishiguroJSK @Horisu @mukuact  とりあえず関係ありそう，勉強したら良さそう，という人にアサインしたので，中身をみてドキュメントを書いてみて下さい．ドキュメントの書き方は @knorth55 か @wkentaro に聞いて下さい．

[2016-05-06 08:41] YuOhara commented on #1643
For now, it may be better to use http://wg-perception.github.io/object_recognition_core/ which has linemod functions. It has good tutorials.
The performance of linemod in this repo is poor and the reason may because
* the performance of incremental registration(which uses icp) is not good, it does not have loop closing function.

also, I think it is better to use mesh file instead of point data fo

[2016-05-06 08:43] wkentaro commented on #1648
@mukuact create_feature0d_dataset.py is deprecated. : https://github.com/jsk-ros-pkg/jsk_recognition/pull/1655

[2016-05-06 08:55] furushchev commented on #1648
@k-okada maybe @yuyu2172 -> @furushchev ?

[2016-05-07 01:03] wkentaro commented on #1413
This is fixed via
- https://github.com/jsk-ros-pkg/jsk_recognition/commit/cc275d4bfbdabd515b1e794e5eee96ecb85ab6a0
- https://github.com/jsk-ros-pkg/jsk_travis/pull/220

[2016-05-07 01:03] #1413 closed

[2016-05-07 01:04] wkentaro commented on #1411
Fixed via https://github.com/jsk-ros-pkg/jsk_recognition/issues/1410#issuecomment-165045631

[2016-05-07 01:04] #1411 closed

[2016-05-07 01:38] wkentaro opened #1656 "jsk_travis is still old: 0.4.2"
## Issue

0.4.2 has below issues, so we need fix it.

- https://github.com/jsk-ros-pkg/jsk_travis/issues/254
- https://github.com/jsk-ros-pkg/jsk_travis/issues/253

## Solution

Upgrade jsk_travis submodule.

**PRs**

- https://github.com/jsk-ros-pkg/jsk_recognition/pull/1640
- https://github.com/jsk-ros-pkg/jsk_recognition/pull/1641

[2016-05-07 02:06] k-okada commented on #1656
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1640

[2016-05-07 03:30] #1656 closed

[2016-05-09 04:24] k-okada commented on #1648
@horisu ping

[2016-05-09 04:30] wkentaro commented on #1631
担当分送りました: https://github.com/jsk-ros-pkg/jsk_recognition/pull/1653 https://github.com/jsk-ros-pkg/jsk_recognition/pull/1652 https://github.com/jsk-ros-pkg/jsk_recognition/pull/1650 https://github.com/jsk-ros-pkg/jsk_recognition/pull/1649  https://github.com/jsk-ros-pkg/jsk_recognition/pull/1647

[2016-05-09 04:31] wkentaro commented on #1648
担当分送りました: https://github.com/jsk-ros-pkg/jsk_recognition/pull/1651 https://github.com/jsk-ros-pkg/jsk_recognition/pull/1655

[2016-05-09 06:44] iory commented on #1631
こちら見落としていました．
とりかかります．

[2016-05-09 08:29] k-okada commented on #1631
上のチェックボックスonにできないかな？ > @ekentaro

[2016-05-09 08:51] wkentaro commented on #1631
@k-okada マージ願います。

[2016-05-13 08:23] mizmizo commented on #1648
担当4つ中、一旦2つまで書きました。#1664

[2016-05-13 09:10] mmurooka commented on #1631
担当分マージされましたので，チェックボックス付けました．https://github.com/jsk-ros-pkg/jsk_recognition/pull/1654

[2016-05-15 09:47] himlen1990 commented on #1648
I have pull requests in #1666, I am not sure whether #1426 is use for
training a model or use a exist model to classify data. I think this code
is wrote by @wkentaro <https://github.com/wkentaro>  and he knows more.

2016-05-13 17:23 GMT+09:00 Hiroto MIZOHANA <notifications@github.com>:

[2016-05-15 09:56] wkentaro commented on #1648
@himlen1990
Actually, I just migrated `sklearn` ros package  to `jsk_perception` with #1426 and https://github.com/jsk-ros-pkg/jsk_3rdparty/pull/53.
So I'm not the author and does not have answer for your question, but maybe you can try the [sample launch](https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/sample/random_forest_sample.launch).

[2016-05-15 10:36] wkentaro commented on #1648
ちなみにですが、ローカルでのドキュメントの生成方法は[ここ](https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/doc%2FREADME.md)にあります。

[2016-05-15 10:37] wkentaro commented on #1631
ちなみにですが、ローカルでのドキュメントの生成方法はここにあります。

[2016-05-16 10:18] wkentaro opened #1669 "[jsk_perception] bof_feature_extractor.py with old pickle does not work"
If you install sklearn with pip, it raise error with old pickled data. (because of changed api)
[code]

[2016-05-17 01:14] k-okada commented on #1669
on ubuntu, we're expected to use sklearn from apt -> https://github.com/ros/rosdistro/blob/master/rosdep/python.yaml#L2007

[2016-05-17 08:46] wkentaro commented on #1669
Sometimes I and others need latest scikit-learn.

[2016-05-18 10:01] kochigami opened #1675 "[jsk_pcl_ros] I don't know how to use depth_error_calibration.py"
I'm following [this tutorial](http://jsk-docs.readthedocs.io/en/latest/jsk_recognition/doc/jsk_pcl_ros/calibration.html)  in order to learn how to calibrate kinect sensor.
(In the future, I'd like to try it on pepper.)

However, when I executed ``` rosrun jsk_pcl_ros depth_error_calibration.py --model quadratic-uv-quadratic-abs```, I got stuck.

My environment is ubuntu 14.04 and ros indigo. I use

[2016-05-18 10:27] wkentaro commented on #1675
File "/home/kochigami/catkin_ws/src/jsk_recognition/jsk_pcl_ros/scripts/check_depth_error/depth_error_calibration.py", line 434, in <module>
    main()
  File "/home/kochigami/catkin_ws/src/jsk_recognition/jsk_pcl_ros/scripts/check_depth_error/depth_error_calibration.py", line 414, in main
    c = classifier.coef_
AttributeError: 'LinearRegression' object has no attribute 'coef_'

The error seems

[2016-05-19 05:58] kochigami commented on #1675
Thank you very much for your help.

It may relate to my kinect version.
Once I can find kinect one, I will try it with ```openni2_local (remote).launch```.
Thank you very much again.

------------------------------------
What I found

1. unpublished ```depth_image_error/output``` topic from depth_error.launch
I found in order to draw graph in this program, ```depth_image_error/output``` topic from

[2016-05-19 05:58] #1675 closed

[2016-05-19 13:52] #1669 closed

[2016-05-20 02:37] kochigami commented on #1648
Hi, I'm preparing sample, test and doc for point_pose_extractor.cpp (#1582),
but I haven't sent pull-request yet.
(It is not included here though.)

[2016-05-20 12:18] wkentaro opened #1682 "Test fails on hydro if jsk_topic_tools / jsk_recognition_utils are installed via apt"
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1681#issuecomment-220589893

@k-okada This is fixed in indigo via https://github.com/jsk-ros-pkg/jsk_recognition/pull/1512
But maybe needs passing --ignore-src in rosdep install on travis.

[2016-05-20 12:21] wkentaro commented on #1682
Reported https://github.com/jsk-ros-pkg/jsk_travis/issues/265

[2016-05-20 12:28] wkentaro opened #1683 "Proposals of introducing mention-bot"
https://github.com/facebook/mention-bot#mention-bot-

The bot automatically assign people for reviews.
Currently, there is few reviewers and GitHub flow is too slow for me. (after graduation of garaemon)
I hope this works well.
Any idea?

[2016-05-21 09:32] k-okada commented on #1682
This is the detailed log
[code]
The problem was '/opt/ros/hydro/include' is listed before `${catkin_INCLUDE_DIR}`, the problem was `OpenCVConfig.cmake` has
[code]
and on hydro `${OpenCV_INSTALL_PATH}` is `/opt/hydro` and on indigo it is `/usr/` (from kinetic it might be /opt/kinetic` again for OpenCV3, so we need care about it )

This problem is introduced in https://github.com/jsk-ros-pkg/jsk_rec

[2016-05-21 09:43] wkentaro commented on #1682
Thank you. I updated https://github.com/jsk-ros-pkg/jsk_recognition/pull/1685 .

[2016-05-22 22:32] wkentaro opened #1690 "Travis CI test fails on Hydro"
Found at https://github.com/jsk-ros-pkg/jsk_recognition/pull/1646#issuecomment-220849844

It won't fix...

### Summary
In build log, the apt-get installation fails. Because of that, all of the dependencies are not installed, and them the catkin build fails.
[code]

### Work around
I googled for a while..

- http://answers.ros.org/question/107821/why-does-install-of-ros-hydro-joystick-drivers-fail/

[2016-05-22 22:34] wkentaro commented on #1690
Is this a Jenkins specific problem? Or it happens in all Hydro + Ubuntu 12.04 environments?

[2016-05-23 00:03] k-okada commented on #1690
I can not reproduce this with docker used in jenkins, may be something goes wrong within jsk_travis?
[code]

[2016-05-23 00:08] wkentaro commented on #1690
But no error at this time: https://travis-ci.org/jsk-ros-pkg/jsk_recognition/jobs/131734256
(at the commit I upgraded the jsk_travis)

[code]

[2016-05-23 00:09] wkentaro commented on #1690
I'm going to just restart it.

[2016-05-23 12:16] wkentaro commented on #1690
Fixed now.

[2016-05-23 12:16] #1690 closed

[2016-05-25 15:19] wkentaro commented on #1682
This is fixed on indigo via https://github.com/jsk-ros-pkg/jsk_recognition/pull/1512.
And hydro users can avoid installing jsk ros packages via apt. Closing now.

[2016-05-25 15:19] #1682 closed

[2016-05-25 15:20] wkentaro commented on #1644
Fixed via #1645

[2016-05-25 15:20] #1644 closed

[2016-05-27 07:06] wkentaro opened #1701 "MaskImageGenerator's mask size is different from the assigned parameter"
in this picture, I assign height, width of mask image as 256, but it seems different. (it is not square but rectangle)
the meaning of the parameter is described in https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/doc/jsk_perception/nodes/mask_image_generator.md#parameters

<img width="1440" alt="screen shot 2016-05-27 at 16 05 21" src="https://cloud.githubusercontent.com/assets/4310419/1

[2016-05-28 15:24] #1701 closed

[2016-05-29 03:21] knorth55 commented on #1683
i support @wkentaro

[2016-05-29 03:55] k-okada commented on #1683
if that bot analyze blame for mention, all mention goes to garaemon so I
think this will not change the situation, only solution for this is to
increase number of people who understand this package.

--
◉ Kei Okada

On Sun, May 29, 2016 at 12:21 PM, Shingo Kitagawa <notifications@github.com>
wrote:

[2016-05-29 04:39] wkentaro commented on #1683
That can be prevented by creating blacklist.

Anyway, could you please add this to [start-jsk/jsk_apc](https://github.com/start-jsk/jsk_apc) first? @k-okada

[2016-05-31 12:39] kochigami opened #1717 "[jsk_pcl_ros] OrganizedMultiPlaneSegmentationの使い方についてのご相談"
Pepperで机の平面を認識したいのですが，認識することができません．
机からは60cm~1mくらい離れて斜め方向に机が見えます．

![pepper_sees_three_objects](https://cloud.githubusercontent.com/assets/7259671/15673761/ba583e4a-2773-11e6-9276-f615f5bdb256.png)

平面に対して直角に顔が向かないと，認識できないのでしょうか．
他のロボットで，覗きこむようにしなくても机が認識できるのか知りたいです．

床だと認識ができます．
![pepper_plane_extraction](https://cloud.githubusercontent.com/assets/7259671/15673977/2db849ce-2775-11e6-9c36-d82388fba

[2016-05-31 13:20] k-okada commented on #1717
これは，キネクトのカメラだと平面がでているけど，Pepper備え付けのカメラだと平面が出ないということを言っている？
となると，平面性が足りない，ということになりますね．おそらくカメラ−のデータの質があまり良くない．（僕は圧縮しているんじゃないかと穿っている部分）

min_size: 200 を可能な限り小さくして
max_curvature: 0.3 を可能な限り大して，

正解を含んでいるけど，不正解が大量にはいっている平面候補が出るか調べてみてください．

--
◉ Kei Okada

2016-05-31 21:39 GMT+09:00 Kanae Kochigami <notifications@github.com>:

[2016-05-31 14:05] iory opened #1718 "[jsk_recognition_msgs] jsk_recognition_msgs's RectArray and opencv_apps's RectArrayStampled are the almost same"
which should we use?

[code]

[2016-05-31 14:46] wkentaro commented on #1718
I created an proposal of creating common package for ROS messages to solve this issue: https://github.com/ros-perception/opencv_apps/issues/10.

[2016-05-31 14:47] iory commented on #1718
Thank you!

[2016-06-01 10:21] k-okada commented on #1718
packages in jsk_recognition uses jsk_recognitoin_msgs, at least for now.

[2016-06-02 10:14] kochigami commented on #1717
ペッパーが見えている範囲は一般のxtionの1/4なので，
（pepper: height*width = 240*320に対し，xtion: 480*640）
物にできるだけ近づくと平面性が保たれることが分かりました．
きちんと理解しておらずすみません．データシートを見直してみます．
パラメータはかなりminを小さく，curvatureを大きくしないと駄目でした．
他のロボットと同じようにはいかないみたいです．

近視用でなく，実は遠視用のカメラを新たにつける必要があるかもしれません．
ご教示ありがとうございました．

60cm 机から離れて首ピッチ角0度（まっすぐの姿勢）で見た時
min_size: 20 curvature: 1.0
認識されません．
![pepper_plane_extraction_min_20_curvature_1 0_neck-p_30](https://c

[2016-06-02 10:14] #1717 closed

[2016-06-02 11:02] wkentaro opened #1724 "Deprecated nodes/nodelets are not deprecated in actual"
@iory
You changed the documentation for deprecated nodes/nodelets by this [PR](https://github.com/jsk-ros-pkg/jsk_recognition/pull/1696).
Maybe you should also update as below for `edge_detector`:

- `jsk_perception::EdgeDetector` to `edge_detector::EdgeDetector` at [here](https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/jsk_perception_nodelets.xml#L189)
- `jsk_perception/

[2016-06-06 04:21] k-okada commented on #1717
2016-06-02 19:14 GMT+09:00 Kanae Kochigami <notifications@github.com>:

これは確認して欲しいんだけど，間引いたら画像サイズは小さくなるけど，画角は同じ，というのはでいるんだけど，ちがうかな．

--
◉ Kei Okada

[2016-06-06 09:19] kochigami commented on #1717
アドバイスありがとうございます．xtion pro live （QVGA 320*240, 30fps）で見てみたら，
サイズは小さくなり，画角は変わりませんでした．

見える面積は1/4になったが，ペッパーみたいな点群の凸凹はないことから可能性は次の２つかなと思いました．
- 体内でxtionに何かしていると思われる（体内でのコードはまだ探せていない（そもそも見えないようになっている？））
- pepperが持っているのは，xtion pro live ではなくxtion なので，性能が違う？

xtion pro live　QVGA (320*240) 30fps の画像　（ペッパーはQVGA 20fps）：
正面
![xtion](https://cloud.githubusercontent.com/assets/7259671/15816994/ab10429c-2c10-11e

[2016-06-15 09:39] wkentaro opened #1746 "Travis testing is unstable"
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1745 fails even if it changes the documentation only.

[2016-06-15 11:13] knorth55 opened #1748 "[jsk_perception] download train data is slow"

[2016-06-17 08:16] Horisu opened #1751 "[jsk_pcl_ros]cluster_decomposer in hsi_color_filter.launch doesn't publish mask image"
Original point cloud has width and height.
But after processed color_filter, height is 1 and width seems to be the length of point cloud.
Color_filter uses cloud's height and width to make mask image , so it can't make correct mask image.
How can we fix it?

[2016-06-17 08:36] k-okada commented on #1751
please write all information that we can reproduce your problem. One of the bast way is to put launch file here.

[2016-06-17 08:37] k-okada commented on #1751
you can use https://gist.github.com/ to put launch file and add link to here

[2016-06-17 09:07] Horisu commented on #1751
You need to do is only to make cloud topic and to launch hsi_color_filter.launch .
[code]
![screenshot from 2016-06-17 18 04 12](https://cloud.githubusercontent.com/assets/9003596/16145864/f9b5ac18-34b5-11e6-9f73-2f412d737c1a.png)

[2016-06-17 09:57] iory commented on #1751
@Horisu
Please fetch and try https://github.com/jsk-ros-pkg/jsk_recognition/pull/1752

[2016-06-17 11:41] Horisu commented on #1751
awesome!

[2016-06-22 09:11] wkentaro opened #1759 "USE_DEB:=true in .travis.yml for indigo"
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/.travis.yml#L21-L24

https://github.com/jsk-ros-pkg/jsk_recognition/pull/1750#discussion_r68013427

[2016-06-22 09:11] wkentaro commented on #1759
After the release of https://github.com/jsk-ros-pkg/jsk_common/pull/1417

[2016-06-22 09:16] wkentaro commented on #1746
Fixed via https://github.com/jsk-ros-pkg/jsk_recognition/pull/1750

[2016-06-22 09:16] #1746 closed

[2016-06-23 08:02] #1748 closed

[2016-07-11 12:15] wkentaro commented on #1751
Fixed via https://github.com/jsk-ros-pkg/jsk_recognition/pull/1752

[2016-07-11 12:15] #1751 closed

[2016-07-13 09:49] mizmizo opened #1778 "Build failed with opencv-3.x"
indigo,opencv-3.1.0でjsk_perceptionをbuildすると、
[code]
といったようなエラーが出てbuildに失敗します。

http://stackoverflow.com/questions/33400823/opencv-3-0-0-cvvector-missing
を参考に
d592a1c
のようにするとbuildが通るのですが、この方法で解決法として正しいでしょうか？

[2016-07-13 14:15] k-okada commented on #1778
[code]
bounding_rect_mask_image.cpp の 73行目のcv::vectorをstd::vectorにかえるのでいいんじゃないかな．

--
◉ Kei Okada

On Wed, Jul 13, 2016 at 6:49 PM, Hiroto MIZOHANA <notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>> wrote:

--
--
◉ Kei Okada

[2016-07-15 17:54] wkentaro commented on #1778
Fixed via #1779

[2016-07-15 17:54] #1778 closed

[2016-08-01 12:17] wkentaro commented on #1724
@iory What status is this?

[2016-08-01 12:21] iory commented on #1724
I'm waiting for this.
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1726

also https://github.com/ros-perception/opencv_apps/pull/17

[2016-08-01 12:22] wkentaro commented on #1648
@yuyu2172 @mizmizo @himlen1990 @ishiguroJSK @Horisu @mukuact @iKrishneel Have you finished writing the documents?

[2016-08-01 14:07] yuyu2172 commented on #1648
@wkentaro
not yet, sorry.

[2016-08-04 20:27] tfoote opened #1816 "build disables ssl verification globally"
disabling ssl verification globally for anyone that builds this is a very bad side effect.

https://github.com/jsk-ros-pkg/jsk_recognition/blob/e85db7790a312af4f45c029c08d255f28dc56e8a/jsk_perception/Makefile.slic#L16

This will cause any future git checkout by that user to not check the ssl certificate.

You should only disable the verification for the urls that are known using `-c http.sslVerify

[2016-08-04 20:40] tfoote opened #1817 "jsk_preception build is unstable due to cloning during the build process"
This job is failing frequently due to cloning SLIC-Superpixels during the build. http://build.ros.org/view/Ibin_arm_uThf/job/Ibin_arm_uThf__jsk_perception__ubuntu_trusty_armhf__binary/

It's strongly recommended not to fetch resources during the build process as that means that your build process is reliant on having network connectivity as well as the remote server being available at the time of

[2016-08-05 05:58] k-okada commented on #1817
thanks, I originally designed jsk_3rdparty repository to support this type
of external library...
Other solution is if we can use submodule (
https://github.com/ros-infrastructure/bloom/issues/217), we can apply
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1425 patch

--
◉ Kei Okada

On Fri, Aug 5, 2016 at 5:40 AM, Tully Foote <notifications@github.com>
wrote:

[2016-08-07 09:37] #1759 closed

[2016-08-07 14:33] k-okada opened #1831 "remove box_array_to_box.py"
there are C++ version and python version for same purpose:
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1799/commits/25060c3e517b2a433060762f4afa4e9d2baa7597
https://github.com/jsk-ros-pkg/jsk_recognition/commits/master/jsk_pcl_ros/scripts/box_array_to_box.py

we first find the use case of box_array_to_box.py and consider if it is possible to move to C++ version.

[2016-08-07 15:35] wkentaro commented on #1831
I sent PR: https://github.com/jsk-ros-pkg/jsk_recognition/pull/1833
But this breaks current API, so it needs to be merged for a major release.
Do you have any idea about the rule about release and breaking API? @k-okada
For example

|                                    | BugFix | New Node/Nodelets | Break API |
|------------------------------------|--------|-------------------|-----------|
| Major

[2016-08-08 00:07] k-okada commented on #1831
I think the best timing is when we decided to drop hydro support, currently
hrp2 and pr2 is blocker,

--
◉ Kei Okada

On Mon, Aug 8, 2016 at 12:35 AM, Kentaro Wada <notifications@github.com>
wrote:

[2016-08-08 01:43] wkentaro commented on #1831
I think breaking API and supporting hydro is unrelated.
For example, currently jsk_recognition is already released to hydro, indigo and jade, and
if we break the API the effect is not limited to hydro but indigo and jade.
For this kind of problem, I thought controlling tag version number is most popular solution.
What do you think?

[2016-08-08 05:47] k-okada commented on #1831
api change and distro upgrade is not related, I just want to push major
 release with some evens, like dropping hydro, start new semester, finished
some event, so users thinks it is reasonable even if they can not
compile/run their program.

--
◉ Kei Okada

On Mon, Aug 8, 2016 at 10:43 AM, Kentaro Wada <notifications@github.com>
wrote:

[2016-08-08 06:08] wkentaro commented on #1831
For usual softwares, api change and version number is related, isn't it?
But I understood that for this package they are unrelated.

[2016-08-09 01:54] k-okada commented on #1831
Oh I mean api change and dropping hydro is not related as you said. and
since we do not create distro specific branch, our software do not have
normal "distro upgrade" process, we'll support newer distro while everyone
(or most of people) using old one. Dropping old distro is only event that
effects to users and that is "distro upgrade" process for us.

--
◉ Kei Okada

On Mon, Aug 8, 2016 at 3:08

[2016-08-09 09:51] wkentaro opened #1834 "Sample of OctomapServerContact does not work: voxel is not updated with contact?"
@mmurooka I think we encountered this problem last month. Is this fixed?

[2016-08-10 03:46] mmurooka commented on #1834
ちょっと調べたのですがすぐに分からなくて，少し時間がかかるかもしれないです．．

[2016-08-10 06:48] wkentaro commented on #1834
了解です。

[2016-08-10 14:07] mmurooka opened #1838 "SegmentationFault in OrganizedMultiPlaneSegmentation"
カメラの前で静かに地面を映しているときは起きないで，
カメラの前で箱を激しく動かしたりすると置きますが確実な再現条件は分かっていないです．

SegmentationFaultのときのgdbの出力を最後に貼ります．
[code]
とあるので，
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/src/organized_multi_plane_segmentation_nodelet.cpp#L256-L273
のあたりではないかと思います．
[code]

[2016-08-10 15:04] mmurooka commented on #1838
Ubuntu14.04, indigo pcl version1.8をソースから入れています．

[2016-08-10 15:06] mmurooka commented on #1838
@iory の環境（Ubuntu 14.04, indigo, pclはaptから1.71）では再現しませんでした．
@oshiroy の環境（Ubuntu 14.04, indigo, pclはソースから1.8）では同じエラーが再現しました．

ちなみにソースのPCLはOrganizedEdgeDetectorを試したくて入れていました．
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/CMakeLists.txt#L241-L244

[2016-08-11 00:39] YuOhara commented on #1838
ちなみに、もしまだ治ってなければ、時間あるときに私のpcでも起こっているか試してもらえると助かります。
もし起こってなければ、

* どこかの層からコンパイルしなおす(indigo or indigo_parentをcatkin clean?)
* pcl のバージョンを1.8.1 とかにする

とかで治ったりしないでしょうか？

[2016-08-11 01:40] mmurooka commented on #1838
はい，試してみます．
書き忘れていましたが，以下のようにして再現するか確かめていました．
https://gist.github.com/mmurooka/0e66da9a6f830e0b0e30fcc2fc9bf084

[2016-08-18 10:48] YuOhara commented on #1838
私のPCでは（今は）問題なく動いているように見えます。

[2016-08-18 16:26] YuOhara commented on #1838
@wkentaro に聞いたら、pcl上流の該当箇所で、1.7.2のタイミングで変更があったそうです。
ひょっとしたら、私の環境の方が間違ってるのかもしれないですが、
とりあえず
develなど以下のjskpcl関連をきれいにして、もう一度コンパイルして、試してみていただけますでしょうか？

[2016-08-19 03:48] mmurooka commented on #1838
devel, buildを消して再コンパイルしたら，セグフォらなくなりました．ありがとうございました．

[2016-08-19 04:06] mmurooka commented on #1838
というのは，たぶんhttps://github.com/PointCloudLibrary/pcl/pull/618 ですね，ありがとうございます．

[2016-08-22 14:39] rawalkhirodkar commented on #1669
Sorry I am new to this. I am still facing this problem.
I woould appreciate some help, thank you

[2016-08-23 04:09] wkentaro commented on #1831
I agree your idea that the best timing of breaking API is the time of dropping distro in the lab.
But it seems once in 4 year, and it is too few times I think.

Generally speaking, how do you plan to manage this jsk_recognition package for API changes?
Do you have idea like I commented in https://github.com/jsk-ros-pkg/jsk_recognition/issues/1831#issuecomment-238089223 .

[2016-08-23 04:11] wkentaro commented on #1817
Fixed?

[2016-08-23 04:11] wkentaro commented on #1816
Fixed?

[2016-08-23 04:38] wkentaro commented on #1669
@rawalkhirodkar Please open a new issue with error logs and the outputs of `pip show scikit-image` and `rosversion jsk_perception`.

[2016-08-23 07:28] tfoote commented on #1817
I don't think there's been any changes. The failure is intermittent, it looks to be ~ 75% of builds fail.

[2016-08-23 07:29] tfoote commented on #1816
#1818 looks to fix this.

[2016-08-23 07:29] #1816 closed

[2016-08-25 02:49] k-okada commented on #1831
On Tue, Aug 23, 2016 at 1:09 PM, Kentaro Wada <notifications@github.com>
wrote:

I agree that dropping distro is very rare situation, but we'll almost able
to drop hydro very soon ( @mmurooka, @iroy, @furushchev )

this is very general and reasonable idea for version number rule

--
◉ Kei Okada

[2016-08-25 03:31] k-okada commented on #1817
@tfoote do you have plan to release new version of vcstools https://github.com/vcstools/vcstools ? if so, we can fix this very soon.

[2016-08-26 18:42] tfoote commented on #1817
@k-okada released

[2016-08-30 02:03] k-okada commented on #1817
thanks, create pr to solve this problem, thanks https://github.com/jsk-ros-pkg/jsk_recognition/pull/1851

[2016-08-30 02:03] #1817 closed

[2016-08-30 07:30] wkentaro commented on #1831
Ok, so the process would be below, and current status is **1**? If so, could you please release jsk_recognition minor minor version, 0.4.0 as a final version of supporting hydro?

1. Release jsk_recognition as version which supports hydro
2. Remove testing hydro and remove suppot on hydro
3. hrp2 user and pr2 user migrate to indigo
4. Keep developing jsk_recognition without support of hydro

[2016-08-30 11:14] k-okada commented on #1831
1. hrp2 user and pr2 user migrate to indigo
2. Release jsk_recognition as version which supports hydro
3. Remove testing hydro and remove suppot on hydro
4. Keep developing jsk_recognition without support of hydro

so now @Furushchev is the blocker
--
◉ Kei Okada

On Tue, Aug 30, 2016 at 4:30 PM, Kentaro Wada <notifications@github.com> wrote:

[2016-08-30 11:19] wkentaro commented on #1831
I think it takes about 1 year, and we can't wait, and if you agree the releasing rule at https://github.com/jsk-ros-pkg/jsk_recognition/issues/1831#issuecomment-238089223, why not release final version of jsk_recognition for hydro first?
Because this kind of API breaking is not limited to box_array_to_box.py and we will have many similar cases, and I can't wait for the next distro at each time.

[2016-08-30 11:20] mmurooka commented on #1831
Also, we need to care about all HRP2 in other buildings.

[2016-08-30 11:45] k-okada commented on #1831
btw how about @yuki-asano

--
◉ Kei Okada

On Tue, Aug 30, 2016 at 8:20 PM, Masaki Murooka <notifications@github.com>
wrote:

[2016-08-30 12:07] k-okada opened #1854 "release 0.4.0"
0.3.22
- [x] https://github.com/jsk-ros-pkg/jsk_recognition/pull/1849
- [x] https://github.com/jsk-ros-pkg/jsk_recognition/pull/1835
- [x] https://github.com/jsk-ros-pkg/jsk_recognition/pull/1829
- [x] https://github.com/jsk-ros-pkg/jsk_recognition/pull/1828

~~0.4.0~~ 1.0.0
- [x] https://github.com/jsk-ros-pkg/jsk_recognition/pull/1833
- [x] https://github.com/jsk-ros-pkg/jsk_recognition/pull/182

[2016-09-05 09:43] furushchev opened #1856 "test failed on travis"
travis failed https://travis-ci.org/jsk-ros-pkg/jsk_recognition/jobs/157575814

At log:

[code]

Some test env seems to be run on container-based infrastructure.
Is there any change recently? @wkentaro

[2016-09-05 09:45] furushchev commented on #1856
@wkentaro Oh, sorry. I mistook the system of this repository.

[2016-09-05 09:45] #1856 closed

[2016-09-13 08:22] k-okada commented on #1854
0.3.22 done  https://github.com/ros/rosdistro/pull/12681

[2016-09-13 08:50] ban-masa opened #1870 "jsk_pr2_startupがpackage.xmlに含まれていない"
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/launch/organized_multi_plane_segmentation.launch
のSELF_FILTER_PARAMにおいてjsk_pr2_startupが使用されているのですが、package.xmlに含まれていないためjsk_pr2_startupがない場合、エラーがでて終了します。
デフォルトではSELF_FILTER_PARAMはfalseであり、実行に必須ではないため
[code]
とすることで実行できたのですが、package.xmlにjsk_pr2_startupを含めなくてよいのでしょうか。

[2016-09-13 11:19] ban-masa commented on #1870
和田さんに教えてもらい、
[code]
を
[code]
のあとに移動させることによってエラーなく実行できました。

[2016-09-13 11:24] wkentaro commented on #1870
変更をPRで送っておいてください :pray:

[2016-09-13 12:23] k-okada commented on #1870
reopened until PR is merged

[2016-09-15 07:12] ban-masa commented on #1870
#1873
遅くなりましたがPR送りました

[2016-09-15 13:50] k-okada opened #1874 "need to remove apt cython and install pip cython"
installing fcn requires cython>=0.21, where apt version of cython is 0.20 and `rosdep resolve cython` returns apt. removing  cython and install `pip install cyton` manually solved problem but is there cleaner way to do this?
[code]

[2016-09-16 12:09] wkentaro commented on #1874
On my pc (Ubuntu 14.04.5, indigo), it tries to install **apt** for `python-skimage` rosdep key in jsk_recognition_utils.
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_recognition_utils/package.xml#L35
[code]

[2016-09-17 12:47] wkentaro commented on #1724
Once this issue is closed, but why is it reopened?

[2016-09-17 12:48] wkentaro commented on #1874
@k-okada Possibly, you need to run `rosdep update`.

[2016-09-18 09:33] wkentaro opened #1882 "List of rostest that is unstable on Travis/Jenkins testing"
## Format

- test name (fixer): log url

## List

- [x] jsk_pcl_ros/color_based_region_growing_segmentation.test:
https://s3.amazonaws.com/archive.travis-ci.org/jobs/160671742/log.txt
[code]

- [x] jsk_perception/sklearn_classifier.test: https://s3.amazonaws.com/archive.travis-ci.org/jobs/160671743/log.txt
[code]

- [x] jsk_pcl_ros_utils/cluster_point_indices_to_point_indices.test (@wkentaro): htt

[2016-09-21 00:08] k-okada commented on #1724
i thought this was wrongly closed by @iory, because there is comment on why you close this,
but found this was solved in https://github.com/jsk-ros-pkg/jsk_recognition/pull/1859

[2016-09-21 00:08] #1724 closed

[2016-09-21 00:21] k-okada commented on #1874
thanks, I already have python-skimage
[code]

but pip insatll fcn try to install skimage-pip
[code]
and failed at
[code]

I

[2016-09-21 00:22] k-okada commented on #1874
I also have cython in
[code]

I'm not sure how pip works, but if you can control fcn package, could you install python library with version compatible with ubuntu 14.04?

[2016-09-21 00:33] wkentaro commented on #1874
Thank u for the sharing the error messages in detail.
I think `fcn` package depends on the latest `scikit-image` package and that's why the rosdep installs `scikit-image` with apt even if it is installed via `apt`.
I can check if the version of `scikit-image` is being downgraded.

[2016-09-21 00:34] wkentaro commented on #1874
BTW, the `sudo pip install -U scikit-image` fails? I think it is not supposed thing..

[2016-09-21 07:41] k-okada commented on #1874
`pip install -u scikit-image` is ok
https://gist.github.com/k-okada/295951890599c8fe7e4c6d5937b0b45b
but `pip -H install -U fcn` still failing
https://gist.github.com/k-okada/91cc1b2d98d8af915f66f000b356e390

--
◉ Kei Okada

2016-09-21 9:34 GMT+09:00 Kentaro Wada <notifications@github.com>:

[2016-09-21 10:10] wkentaro commented on #1874
I released `fcn==0.4.0` to pypi, and I think below works.
Could u please try it?
[code]

[2016-09-28 15:25] k-okada opened #1888 "can not compile"
can not compile https://travis-ci.org/jsk-ros-pkg/jsk_recognition/jobs/163112491
[code]

[2016-09-29 03:57] k-okada commented on #1882
another example https://s3.amazonaws.com/archive.travis-ci.org/jobs/163112491/log.txt
[code]

[2016-09-29 04:00] k-okada commented on #1888
these are just a warnings, and the reason for travis failure is test failures.
https://github.com/jsk-ros-pkg/jsk_recognition/issues/1882#issuecomment-250364656

[2016-09-29 04:00] #1888 closed

[2016-10-01 08:00] k-okada opened #1889 "could not run rostest-test_label_image_decomposer.xml"
[code]

[2016-10-01 08:03] k-okada commented on #1889
https://docs.scipy.org/doc/scipy-0.13.0/reference/generated/scipy.misc.fromimage.html#scipy.misc.fromimage
http://docs.scipy.org/doc/scipy/reference/generated/scipy.misc.fromimage.html#scipy.misc.fromimage
seems `fromimage(mode='RGB') is not wok on deb version of scipy.

[2016-10-01 08:14] k-okada commented on #1889
travis ないではpipがつかわれているんだろうか＿
[code]
rosdistro/rosdep$ grep scipy python.yaml  | grep trusty
    trusty: [python-scipy]
    trusty_python3: [python3-scipy]
[code]

[2016-10-01 08:50] k-okada commented on #1874
[code]

[2016-10-01 08:58] k-okada commented on #1874
http://stackoverflow.com/questions/26575587/cant-install-scipy-through-pip
it seems we need latest pip, but it produced another error.
[code]

[2016-10-01 09:29] k-okada commented on #1874
I see,
[code]
so if you run rosdep install, it installs cython from apt and that is version 0.20, which did not work on installing scikit-image and that also happens on travis
[code]
https://s3.amazonaws.com/archive.travis-ci.org/jobs/163738513/log.txt

The reason we run `rosdep` with `-r`  is because some packages has deprecated tag to keep one branch for different distros, so if you're confident

[2016-10-01 11:02] k-okada commented on #1874
Summarize,

1. pip install of latest scipy depends on latest pip (http://stackoverflow.com/questions/26575587/cant-install-scipy-through-pip), even 0.6.7 of jsk_travis did not work. btw can we write pip to build_depends or requirements.txt?
[code]

2. pip install of scikit-image requires cython 0.23, but ubuntu 13.03 installs cython 0.20 ( http://packages.ubuntu.com/search?keywords=cython) and it

[2016-10-01 11:41] k-okada commented on #1874
Proposed solutions

1. do not write code depends on latest pip code
2. add depends to cython pip in jsk_perception, or ask scikit-image maintainer to  specify cython>=0.23 to requirement.txt
3. add pip to rosdep entrry if possible (this will run code like pip install -U pip)

[2016-10-01 13:38] wkentaro commented on #1889
多分travis内ではscikit-imageがscipyをhttps://github.com/scikit-image/scikit-image/blob/master/requirements.txt#L3
入れていそうです。
fcn -> scikit-image -> scipy
という依存関係で。

[2016-10-01 17:53] wkentaro commented on #1874
Thanks, I will look around them.

[2016-10-03 00:20] k-okada commented on #1882
[code]
any idea?
https://travis-ci.org/jsk-ros-pkg/jsk_recognition/jobs/164358073

[2016-10-05 07:43] wkentaro commented on #1882
[code]

[2016-10-05 16:07] wkentaro opened #1894 "[jsk_pcl_ros] extract_indices: keep_organized:=true sometimes won't work"
~~I'm not sure why..~~

Maybe the old function, which is a template, is sometimes used rather than new function.
Even with https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/include/jsk_pcl_ros/pcl/extract_indices_patch.h
I needed to install PCL-1.8.0 to get stable output.

[2016-10-06 05:33] mmurooka commented on #1882
https://s3.amazonaws.com/archive.travis-ci.org/jobs/165166786/log.txt
https://travis-ci.org/jsk-ros-pkg/jsk_recognition/jobs/165166786
[code]

[2016-10-06 05:45] wkentaro commented on #1882
Please update the top comment, also.

[2016-10-06 05:59] mmurooka commented on #1882
added.

[2016-10-09 08:48] YuOhara commented on #1838
再発してしまいました・・・
buildしなおしても同じです．(stat上げてるPCで再発しました．)

sourceからコンパイルしたpclだけでなく，aptでpclが入ってるのがダメなのでしょうか？

[code]

[2016-10-09 14:44] mmurooka commented on #1838
というのは，このPC（leus@himのことかな）では，pclがソースでは入っていなくてaptのみということでしょうか．

[2016-10-09 20:12] YuOhara commented on #1838
いえ、ソースからコンパイルしてmake installしていて(usr/local以下)、それとは別にaptのpclが入っているまま、特にaptitude removeとうはしていないということです。
なので、たぶんこれまでの議論と同じことだと思います。(leus@himです)

その場合にpclが二つあるため、includeしてコンパイルするときはpclのソースを見ていて、
.soを読み込んだりするときはpclのaptの方を読み込んじゃったりするのかなと想像していました。（だから依然のときは、pclを入れたあとコンパイルしなおしたら治るのかと思いました）

[2016-10-09 22:03] wkentaro commented on #1838
lddすると、1.7の方になっているということですか？

[2016-10-09 22:04] wkentaro commented on #1838
CMakeLists.txtの中でPCL_INCLUDE_DIRSを見るとどちらでしょうか。
リンクもincludeも1.8になっていれば問題なさそうですが、、

[2016-10-10 00:12] wkentaro commented on #1838
apcデモでもPCL1.8を使っているので
@mmurooka スクリプトで試しましたが、baxter@sheetaでは起こらないですね。
ちなみにlddの結果は以下でした。

[code]

[2016-10-10 04:44] mmurooka commented on #1838
leus@himでの結果です．1.7と1.8が混在しているからこれが原因みたいですね．

[code]

baxter@sheeta にはaptのpcl-1.7は入っているでしょうか．

@YuOhara

は，buildとdevelを両方消してcatkin buildしなおしたのかな．

[2016-10-10 06:02] YuOhara commented on #1838
すいません。そういえばdevelのjsk_pcl_ros, jsk_pcl_ros_utils しか消してなかった気がしました。

ただ、私の机のpcではcatkin clean までしてみたのですが、そちらでもエラーが出ていたと記憶しています。

[2016-10-10 06:15] mmurooka commented on #1838
そっちでもlddしてみるといいかもね．

[2016-10-10 07:36] YuOhara commented on #1838
himと同じように、1.7と1.8が混ざってるようにみえます。
[code]

[2016-10-10 07:37] YuOhara commented on #1838
pcl_rosは上手くいってるように見えます。（直上と同じパソコンです）
[code]

[2016-10-10 10:36] wkentaro commented on #1838
[code]

[2016-10-10 11:09] YuOhara commented on #1838
https://gist.github.com/YuOhara/dbb9d3680176ff3a3b460c4cb18de485

[2016-10-10 11:13] wkentaro commented on #1838
1.7のやつがあるのでそれを直せばいいのではと思うのですが、
それともそれがどれかわからないという状況でしょうか。

[2016-10-10 13:09] YuOhara commented on #1838
あまりわかってないので申し訳ないのですが，
直すって，CMakeListsをちゃんと書くってことでしょうか

[2016-10-10 13:17] wkentaro commented on #1838
1. 多分、どれがpcl1.7とリンクされているのかを調べる。
2. 1.で見つけた link (L) または executable (E) がソースで入っている pkg (P) のコンパイルによって生成されたことを確認。
3. L, Eを削除する。or catkin clean -a をするのがいいかと。
3. P を再ビルドする。

[2016-10-13 08:26] k-okada commented on #1838
[code]
して.1.7という文字列を探すのが、pclの1.8を使わない、というアイデアを１番とすると、２，３，をぬいて４番目ぐらいに良いと思います．

--
◉ Kei Okada

2016年10月10日 22:17 Kentaro Wada <notifications@github.com>:

[2016-10-13 08:28] furushchev commented on #1838
[code]

という感じにするのはどうでしょうか？

[2016-10-13 08:31] wkentaro commented on #1838
あれ、これまだ解決してませんか？

[2016-10-13 10:45] #1889 closed

[2016-10-13 13:29] YuOhara commented on #1838
@wkentaro　くんが、新たな1番目の方法を探してくれて、解決しました。
jsk_pcl_ros_utills > OctoMap/octomap_mapping > pcl
の順に依存していて、octomapがaptで入っていてsourceになかったのが原因でした。
octomapをsourceからコンパイルするようにすれば、pcl1.7が消えて、エラーがでなくなりました。
ありがとうございます。

[2016-10-13 13:34] #1838 closed

[2016-10-13 14:04] wkentaro commented on #1894
## Solution

- Install pcl 1.8
- Merge https://github.com/jsk-ros-pkg/jsk_recognition/pull/1902

[2016-10-13 14:16] #1894 closed

[2016-10-13 17:17] mmurooka commented on #1838
@YuOhara , leus@himでも直しておいてもらえると嬉しいです．

[2016-10-13 17:21] YuOhara commented on #1838
はい、明日確認します

2016年10月14日金曜日、Masaki Murooka<notifications@github.com>さんは書きました:

--
JSK in the University of Tokyo
Yu Ohara
ohara@jsk.imi.i.u-tokyo.ac.jp
+81-3-5841-7416

[2016-10-14 15:17] wkentaro commented on #1870
Closed via https://github.com/jsk-ros-pkg/jsk_recognition/pull/1873

[2016-10-14 15:17] #1870 closed

[2016-10-15 12:54] YuOhara commented on #1482
治ってると思われます．
[code]
上のコードで，特にエラーは出ませんでした

[2016-10-16 08:49] k-okada commented on #1482
どこで治ったんでしょうね．

--
◉ Kei Okada

2016-10-15 21:54 GMT+09:00 Yu Ohara <notifications@github.com>:

[2016-10-17 09:55] wkentaro commented on #1882
Seems fixed.

[2016-10-17 09:55] #1882 closed

[2016-10-17 09:57] wkentaro commented on #1874
Actually, I tried to remove the dependency on the latest scikit-image by fcn, but realized that it is hard.
And I prefer the third option, because the trouble in jsk-ros-pkg/jsk_travis#208 was caused by Travis not pip, I think.

[2016-10-18 10:44] k-okada commented on #1874
is there any tools that display pip/python dependencies?

https://github.com/ros-visualization/rqt_robot_plugins/pull/112#issuecomment-254031001

its ok to use latest scikit-image, my concern is whether that module brings
other python module which conflicts with deb provided package.

--
◉ Kei Okada

2016-10-17 18:57 GMT+09:00 Kentaro Wada <notifications@github.com>:

[2016-10-18 15:37] YuOhara commented on #1482
#1499　の前後だと思います。
60秒sleepしないとあがらない、という当初の問題についても、
 #1499で治ってることを確かめました。
前後で比較して、#1499直前は失敗して、1499後は成功しているログです。

（そもそも
問題が二つあって、
* 60秒いないにjsk_pcl_nodeletを含むlaunchをあげるとしぬ
* jsk_pcl_util_nodelet_deprecatedなどはそもそも上がらない。

でした。
#1499 は、後者の問題を解決するものでしたが、
前者の問題も、治っていました。）

なぜこの問題が起こったかについては、 #1499 で考察していただいています。

[code]

[2016-10-19 04:03] k-okada commented on #1482
なるほど
これは重要情報かも知れないですね

2016年10月19日水曜日、Yu Ohara<notifications@github.com>さんは書きました:

--
--
◉ Kei Okada

[2016-10-19 04:41] YoheiKakiuchi commented on #1482
そもそもの問題の原因に関わるかわからないのですが、
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1499
を見て思ったのは、同じバイナリを指すと思われる記述が jsk_pcl_rosとjsk_pcl_ros_utilsのnodelets.xml
２箇所にされているけれども、これはなにか理由があるんだろうか？

https://github.com/jsk-ros-pkg/jsk_recognition/pull/1499 以前は、それが同じ名前で登録されているように見える。（たぶん片方の記述が間違ったクラスを指している？？）
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1499 は正しいクラスを指す、名前の異なるnodeletが２つあるように見える (たとえばPointC

[2016-10-19 04:59] orikuma commented on #1482
これは後方互換性のためで, もともとjsk_pcl_rosにあったnodeletの一部をjsk_pcl_ros_utilsに移動した後,
過去のプログラム(drc関連のプログラムなど)でjsk_pcl_ros/Hogeで定義されているnodeletを変更しなくても良いよ
うにしたいという意図がありました.

2016年10月19日 13:41 Yohei Kakiuchi <notifications@github.com>:

[2016-10-19 05:11] YoheiKakiuchi commented on #1482
別々のファイルに、何の説明もなく重複した記述があるのは気持ち悪いですね。
今後の方針としては、jsk_pcl_rosのものはpcl_rosに記述して、pcl_ros_utilのものはpcl_ros_utilに記述するようにするということでいいんだよね。

[2016-10-19 05:15] orikuma commented on #1482
はい, 後方互換性を担保する必要がない新しいnodeletはそうするのが正しいと思います.

[2016-10-24 08:58] wkentaro opened #1919 "Compile error on checkerboard_detector"
Related to https://github.com/jsk-ros-pkg/jsk_recognition/pull/1893

@mmurooka Could you please fix this? I think we should declare dependency on `XX_gencfg` before building the executable.

[code]

[2016-10-24 09:25] mmurooka commented on #1919
Sorry for trouble. Fixed in https://github.com/jsk-ros-pkg/jsk_recognition/pull/1920.

[2016-10-26 10:20] tongtybj opened #1932 "Rectified fisheye image"
@wkentaro
The goal is to achieve the virtual gimbal as the [parrot bebop](http://gigazine.net/news/20140603-parrot-bebop-drone/) does.

Aright Now, [jsk_perception/fisheye_to_panorama.cpp](/https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/src/fisheye_to_panorama.cpp) has functions of: 1) panorama, 2) rectification which is orthogonal with center(optical) axis.

I want to e

[2016-10-26 10:47] tongtybj commented on #1932
Right now I send a pull request #1931 which is related to this issue.

I tested with a fisheye camera(pointgrey chamelon3, 1280x0124, 220deg)
[2016-10-21-fisheye-rectified-opencv3-fisheyemodel](https://drive.google.com/open?id=0BwphddqBjVJ_MnRzUFNobWdidlE)

[code]

[2016-10-26 12:17] wkentaro commented on #1932
After googling for a while, it seems that we need to calibrate the fisheye camera to get more rectified region of the frame, but camera_calibration ROS package does not support it currently.

- OpenCV3 supports fisheye camera model:
  - http://docs.opencv.org/master/db/d58/group__calib3d__fisheye.html
  - https://github.com/opencv/opencv/blob/05b15943d6a42c99e5f921b7dbaa8323f3c042c6/samples/cpp/tu

[2016-10-27 08:59] #1831 closed

[2016-10-27 10:13] k-okada commented on #1874
@wkentaro  still have error

[code]

[2016-10-27 12:09] wkentaro commented on #1874
ros-visualization/rqt_robot_plugins#112 (comment)

[code]

[2016-10-30 23:10] wkentaro commented on #1009
Can this issue be closed?
It seems too old and the condition is changed with the current code.

[2016-10-30 23:10] wkentaro commented on #1101
I think it works.
Can this be closed?

[2016-10-30 23:11] wkentaro commented on #1313
Is this fixed for current apt version?

[2016-10-30 23:12] wkentaro commented on #1643
@xMutzelx Please comment or reopen issue when you have additional questions.

[2016-10-30 23:12] #1643 closed

[2016-10-30 23:12] wkentaro commented on #1919
Closed via #1920

[2016-10-30 23:12] #1919 closed

[2016-10-31 01:43] #1101 closed

[2016-11-09 03:03] h-kamada opened #1951 "jsk_recognition_msgs の boundingbox.msg からeusのオブジェクトを作りたい"
いい関数はありますか？

[2016-11-09 03:34] h-kamada commented on #1951
ありがとうございます。自分が求めていたものはeus のboundingbox ではなくcubeでした。

[2016-11-09 03:34] #1951 closed

[2016-11-11 04:07] wkentaro opened #1958 "Mis-spelled node name: x background_substraction o background_subtraction in jsk_perception"
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_perception/CMakeLists.txt#L186

https://www.google.co.jp/search?espv=2&q=substraction+%E6%84%8F%E5%91%B3&oq=substraction+%E6%84%8F%E5%91%B3&gs_l=serp.3..0i10k1j0i8i7i30k1.5517.5517.0.5739.1.1.0.0.0.0.80.80.1.1.0....0...1.1.64.serp..0.1.79.CGhLlK_Z9yw

[2016-11-11 07:58] wkentaro opened #1962 "Unstable test on CI: test-bing"
[code]

[2016-11-21 08:51] h-kamada opened #1966 "boxのみでpointcloudをclipするnodeが欲しい"
attention clipperは、inputにcamera_infoを必要とするが、laser scanなどを起源とするような点群に対してもboxを指定して切り取るようなことが可能であると良い

[2016-11-21 08:56] h-kamada commented on #1966
rosbag file: https://drive.google.com/open?id=0B8bpI9nrQ7y3UjQyRUpDY2gxb2s

[2016-11-21 09:05] h-kamada commented on #1966
https://drive.google.com/open?id=0B8bpI9nrQ7y3VkcwTHZJWElOYkk

[2016-11-21 11:03] k-okada commented on #1966
box を clip して何がしたいのでしょうか．

--
◉ Kei Okada

2016-11-21 17:51 GMT+09:00 h-kamada <notifications@github.com>:

[2016-11-21 11:13] wkentaro commented on #1966
There is no boxes, and the frame_id is base_link.. Why?

![image](https://cloud.githubusercontent.com/assets/4310419/20480675/e1ce726e-b026-11e6-9da3-f80cf0efbbbb.png)

[2016-11-21 11:22] wkentaro commented on #1966
Done.
![image](https://cloud.githubusercontent.com/assets/4310419/20480967/1ad7d9be-b028-11e6-8b66-adad05d29803.png)
https://github.com/wkentaro/jsk_recognition/commits/h-kamada

[2016-11-25 06:02] h-kamada commented on #1966
base_scanの点群を使ってテーブルの位置認識を行うeusのコードを用いようとしていますが、テーブル周辺に人の足や椅子が多数あるとテーブルの位置に関する誤認識が起こります。
それを防ぐために、/mapにおいてテーブル周辺のみの点群を切り取り、誤認識を防ぐことを考えています。

[2016-11-25 09:17] wkentaro commented on #1966
@h-kamada ドキュメントでCameraInfoが必要と書いてあるのは間違っていて、PointCloudを使う場合はPointCloudが来ていればOKということだったと思うので、そのように更新お願いします。
http://jsk-docs.readthedocs.io/en/latest/jsk_recognition/doc/jsk_pcl_ros/nodes/attention_clipper.html#subscribing-topic

[2016-11-25 09:45] h-kamada commented on #1966
PR -> #1971

[2016-11-25 09:45] #1966 closed

[2016-12-02 18:05] wkentaro opened #1977 "Time to migrate well-defined nodelets to ros-perception"
## Summary

@jsk-ros-pkg/developers cc: @k-okada
Hi all, now the [`nodelet_topic_tools::NodeletLazy`](https://github.com/ros/nodelet_core/commit/e5cb1982fbb73e8b2887c2b5740d0d11fd5cf78a) which is very similar to `jsk_topic_tools::ConnectionBasedNodelet` is merged and released to indigo/jade/kinetic. :tada:

So we can migrate most of our nodelets in jsk_recognition to [packages under ros-perception

[2016-12-03 06:07] k-okada commented on #1977
nice, can you list up nodes we can/should sent to upstream?

kinetic ...

I think this is the default behavior of package with ros-distro based
branch, usually people wring a code to next version, so writing code to
K-turtle or L-turtle and  indigo/jade should be stable code so only
critical bug will be backport-ed from latest branch. If they wan to release
latest feature to current release, they

[2016-12-05 09:20] wkentaro opened #1980 "Migrate srv files from jsk_pcl_ros to jsk_recognition_msgs"
Moved from https://github.com/jsk-ros-pkg/jsk_recognition/pull/1827#issuecomment-264796837

## TODOs for migration

- [x] (by https://github.com/jsk-ros-pkg/jsk_recognition/pull/1914) Copy .srv files to jsk_recognition_msgs
- [x] (by https://github.com/jsk-ros-pkg/jsk_recognition/pull/1827#issuecomment-256150923) Migrate all jsk_pcl_ros/*.srv to jsk_reocgnition_msgs/*.srv for codes under jsk-ros-p

[2016-12-06 07:22] k-okada commented on #1980
https://github.com/jsk-ros-pkg/jsk_recognition/pull/1983 I think this is the goal of this work, currently we have same file in different location and this is not a good situation.
 and  jsk-ros-pkg/jsk_visualization#623 is side effect

[2016-12-13 01:22] k-okada commented on #1980
Proposed process was not correct -> http://build.ros.org/job/Ibin_uT32__jsk_pcl_ros_utils__ubuntu_trusty_i386__binary/74/console

[code]

[2016-12-15 12:05] k-okada commented on #1980
something wrong on jsk_demos
http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/trusty-travis-jsk-ros-pkg-jsk_demos-indigo-deb-true-ros-indigo-convex-decomposition-ros-indigo-ivcon-true/82/console
[code]

[2016-12-15 12:15] k-okada commented on #1980
need https://github.com/jsk-ros-pkg/jsk_demos/pull/1210 ??

[2017-02-04 08:37] wkentaro opened #1997 "CI test won't pass"
**It fails even on master branch.**

![evidence_0](https://cloud.githubusercontent.com/assets/4310419/22617141/9a28ee52-eb00-11e6-96fc-2665ecb9c646.png)
![evidence_1](https://cloud.githubusercontent.com/assets/4310419/22617142/9a2bbaba-eb00-11e6-88e8-f1abe207c811.png)

[2017-02-06 04:10] wkentaro opened #2007 "jsk_pcl_ros/test_people_detection.test won't pass"
![image](https://cloud.githubusercontent.com/assets/4310419/22634481/91c5244c-ec6d-11e6-9649-3bc1b9ee04b6.png)

[2017-02-06 04:29] wkentaro commented on #2007
For https://github.com/jsk-ros-pkg/jsk_recognition/pull/2008

[2017-02-06 08:26] #1997 closed

[2017-02-08 12:19] wkentaro commented on #1854
It's done. https://github.com/jsk-ros-pkg/jsk_recognition/releases/tag/1.0.0

[2017-02-08 12:19] #1854 closed

[2017-02-08 12:22] wkentaro commented on #1980
This is done: https://github.com/jsk-ros-pkg/jsk_recognition/issues/1980#issue-193446350

[2017-03-04 00:09] tfoote opened #2022 "jsk_pcl_ros is failing to build in Kinetic"
It's blocking a bugfix sync. [Here's the thread](https://discourse.ros.org/t/need-to-sync-new-release-of-rqt-topic-indigo-jade-kinetic/1410/5?u=tfoote)

Details:

http://build.ros.org/view/Kbin_uW64/job/Kbin_uW64__jsk_pcl_ros__ubuntu_wily_amd64__binary/10/consoleFull
[code]

[2017-03-04 01:27] k-okada commented on #2022
Sorry for trouble, we're aware of this and working on this with @wkentaro
https://github.com/jsk-ros-pkg/jsk_common/pull/1506#issuecomment-283543973

[2017-03-04 03:37] k-okada commented on #2022
@wkentaro we can reproduce this by
[code]
and workaround described in  https://github.com/mariusmuja/flann/issues/214 will fix this, see #2023

[2017-03-04 08:32] #2022 closed

[2017-03-16 13:16] wkentaro opened #2033 "Travis test on Kinetic won't pass"
@k-okada do you have any idea?

https://s3.amazonaws.com/archive.travis-ci.org/jobs/211512793/log.txt
[code]

<img width="1476" alt="screen shot 2017-03-16 at 22 15 06" src="https://cloud.githubusercontent.com/assets/4310419/23997757/09cc72f6-0a96-11e7-8567-ff681504086a.png">

[2017-03-16 15:34] mmurooka opened #2034 "Convert local image topics to remote image topics"
@wkentaro

In my and @iory 's understanding, the following two programs try to publish remote image topics from local image topics. (Is that correct? In fetch program, topic name is local, but I think it should mean remote.)
What is difference and which is better?

HRP2 use relay to publish remote topoics.
https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/launch/openni2_remote

[2017-03-16 15:44] wkentaro commented on #2034
I'm not sure what do you mean with **remote**.
I mean **local** is the PC I use. **remote** is the PC on fetch.

[2017-03-16 15:54] wkentaro commented on #2034
Maybe
For you
- robot = **local**
- controller (pc) = **remote**

For me
- robot = **remote**
- controller (pc) = **local**

[2017-03-16 17:41] mmurooka commented on #2034
robot = local
    controller (pc) = remote

[the computer connected with camera] = [robot] = [local]
I thought that this is common, but I don't know source of that.
In other robot, baxter, PR2, etc.., which is remote and which is local? cc: @furushchev

another question (and this is main) is that,
does anyone know the difference between relay and image_transport republish? and which is better?
HRP

[2017-03-16 19:27] wkentaro commented on #2034
republish and relay is totally different.
relay does just copy the topic, but republish does decompress/compress images.

[2017-03-17 02:40] k-okada commented on #2033
Can we reproduce this on local environment?
2017年3月16日(木) 22:16 Kentaro Wada <notifications@github.com>:

--
--
◉ Kei Okada

[2017-03-17 02:47] wkentaro commented on #2033
I have not yet tried that.

2017年3月17日(金) 11:40 Kei Okada <notifications@github.com>:

--
和田 健太郎 / Kentaro Wada
http://wkentaro.com

[2017-03-17 10:45] k-okada commented on #2033
Related?

https://github.com/ros-perception/vision_opencv/issues/162

2017年3月17日(金) 11:47 Kentaro Wada <notifications@github.com>:

--
--
◉ Kei Okada

[2017-03-17 15:07] vrabaud commented on #2033
Why is your build installing OpenCV2 and not OpenCV3 ? To get a package unchanged between ROS distros and choose the right OpenCV, have it depend on cv_bridge  as explained at http://wiki.ros.org/opencv3#package.xml

[2017-03-18 09:59] k-okada commented on #2033
@wkentaro Timed out -> https://travis-ci.org/jsk-ros-pkg/jsk_recognition/jobs/211353102, but should be solved http://jenkins.jsk.imi.i.u-tokyo.ac.jp:8080/job/xenial-travis-jsk-ros-pkg-jsk-recognition-kinetic-deb-false-true/191/
@vrabaud we're not using opencv2 on kinetic, we basically depends on cv_bridge to avoid opencv version issue.

[2017-03-19 11:47] mmurooka commented on #2034
I talked @wkentaro locally, and understand that compressedDepth (which is used in republish) is lossless compression, so https://github.com/jsk-ros-pkg/jsk_recognition/blob/master/jsk_pcl_ros/launch/openni2_remote.launch#L119-L134 should be replaced with republish.

[2017-03-21 09:08] mmurooka commented on #2034
was not correct. https://github.com/jsk-ros-pkg/jsk_recognition/pull/2036#issuecomment-288012892

We add option to use republish. https://github.com/jsk-ros-pkg/jsk_recognition/pull/2036

[2017-03-21 09:08] #2034 closed

[2017-03-21 09:23] k-okada opened #2037 "release 1.1.2"
Waiting for https://github.com/jsk-ros-pkg/jsk_recognition/pulls?q=is%3Apr+is%3Aopen+label%3APR%2FForNextRelease

[2017-03-24 10:48] wkentaro commented on #2033
Now it passes.

[2017-03-24 10:48] #2033 closed

[2017-03-27 06:48] furushchev opened #2042 "[cluster_point_indices_decomposer] boundingbox orientation is not normalized"
just for memo:

published boudningbox orientation is not normalized. (norm is up to 1.000010)
This error will cause tf error when this value is used as tf rotation.

[2017-03-28 10:27] #1718 closed

[2017-03-28 12:07] #2042 closed

[2017-03-30 07:20] YoheiKakiuchi opened #2046 "Large size of height map may fail"
height map of 4000x4000 may stop nodelets.
(default size of height map is 800x800. 2000x2000 can be used)

[2017-04-10 03:11] furushchev opened #2048 "Clusterpointindicesdecomposer crashes?"
[code]

looks like `vital_checker_` is null pointer at this point, but this is initialized `DiagnosticNodelet::onInit` which is called on `ClusterPointIndicesDecomposer::onInit`.
Strange....

[2017-04-11 07:20] k-okada opened #2050 "add matchTemplate"
@mizmizo 今日使っていたテンプレートマッチのプログラムをjsk_perceptionにいれてもらえると嬉しいです．
こういう風に使い回しが効くプログラムは重要なので．

[2017-04-12 05:59] mizmizo commented on #2050
承知しました．
今はeuslibに置いてあって，私としてもこちらに移植したいと考えていたので，
- cudaがないとbuildできないのでcpuだけでも動くようにする．
- documentをつける
の作業が終わり次第PRを出します．

[2017-04-14 07:45] furushchev opened #2052 "Reject polygons from polygonarray by likelihood"
I found a nodelet that extracts 1 top likelihood polygonstamped from polygonatrray.
Is there any nodelet that has a function to extract top N polygonarray from original array?
If no, I'll send a pull request.
@wkentaro @k-okada ?

[2017-04-14 07:49] wkentaro commented on #2052
I'm not sure.

[2017-04-17 04:23] furushchev commented on #2052
@wkentaro Thanks! Created https://github.com/jsk-ros-pkg/jsk_recognition/pull/2054.

[2017-04-19 23:49] wkentaro commented on #2048
If you provide the set of roslaunch and rosbag, someone may help.

[2017-04-23 09:29] k-okada opened #2069 "add bag files for color space detection"
@tongtybj, @chibi314
please upload your bag files for color space detection which you used in  https://github.com/ros-perception/opencv_apps/pull/61#issuecomment-296366004
If you have several bag files with different lighting condition, that's fine.
If you can provide bag file taken by real drone, with IMU data, that's much better. If not, bagfile with only images is fine for now.

@wkentaro will

[2017-04-23 09:33] wkentaro commented on #2069
Please refer to

- https://github.com/jsk-ros-pkg/jsk_recognition/pull/1991#issuecomment-291492999
- http://jsk-docs.readthedocs.io/en/latest/jsk_common/doc/jsk_data/scripts/jsk_data_cli.html

[2017-04-24 01:42] tongtybj commented on #2069
@wkentaro

I got following error when trying to upload:
[code]

[2017-04-24 01:44] wkentaro commented on #2069
@tongtybj Have you done this?

[code]

[2017-04-24 02:41] tongtybj commented on #2069
@wkentaro
Thx! WFM

[2017-04-24 03:00] tongtybj commented on #2069
@k-okada
I upload 5 rosbags with different scenes and image sensors.

Image Sensor: [pointgrey chameleon3](https://www.ptgrey.com/chameleon3-13-mp-color-usb3-vision-on-semi-python1300-3), [web camera](http://www2.elecom.co.jp/products/UCAM-DLE300TNBK.html).

**Scene1: hongo sanshiro forest with pointgrey chameleon3**
rosbag: [2017-04-16_uav_with_marked_tree_hongo_sanshiro_forest_light_industrial_c

[2017-04-24 03:11] tongtybj commented on #2069
@k-okada
All rosbag files contains the imu and odometry  data of UAV, along with the range sensor(ultrasonic) to the ground.
[code]

Also note that the odometry is obtained from IMU + downwards optical flow + GPS, and recently the GPS is really suck, because US army add undecryptable noise on the GPS data([NEWS](http://biz-journal.jp/2017/04/post_18725.html)). So the accuracy of position is very b

[2017-04-24 04:51] k-okada commented on #2069
Nice, could you create smaller version? may be only image and color info, or (+ dji_sdk... + guidance)

[code]

When you integrate multiple sensor data, you need check accuracy and characteristics in step-by-step manner. And before you merge data, you have to image how each data compensate each other.
For example, usually optical flow is not s accurate at least in-house environment, it may work we

[2017-04-24 04:59] tongtybj commented on #2069
@k-okada
Thank you for your advice!

I will check step by step.
As for the optical flow sensor, it is a mature product form DJI, called guidance, which has their own fusion system inside the black box using IMU + Stereo Optical Flow + Ultra-sonic.
![dji-guidance](https://cloud.githubusercontent.com/assets/3666095/25322895/2e118f38-28f6-11e7-9e99-e09f3011a66a.jpg)

[2017-04-25 05:08] mukuact opened #2070 "libsiftfast build error (1回目のみ)"
libsiftfastを`catkin build`するとき，一度目には必ず失敗し，再び`catkin b`をするとうまく行きます．
[code]

[2017-04-25 05:11] furushchev commented on #2070
うーん、おかしいですね。これはjsk-ros-pkgなので、travisでチェックされている気がするんだけどなあ。
jsk-ros-pkg/jsk_3rdpartyにissueを出してもらえるとうれしいです。

[2017-04-25 05:11] furushchev commented on #2070
失礼しました。これすでにjsk-ros-pkgでした。

[2017-04-25 05:12] furushchev commented on #2070
失敗するときに`catkin build -v`をして詳細を教えてくれると嬉しいです。

[2017-04-25 05:13] wkentaro commented on #2070
これはjsk_3rdpartyの話？

[2017-04-25 05:16] mukuact commented on #2070
失礼しました，jsk_3rdpartyですね．

[2017-04-25 05:17] #2070 closed

[2017-04-25 05:53] mukuact commented on #2070
https://github.com/jsk-ros-pkg/jsk_3rdparty/issues/93
に開き直しました

[2017-04-28 09:10] Horisu opened #2073 "rosrun can't find image_publisher.py"
on ubuntu 14.04
ros-indigo-jsk-perception 1.1.0-0trusty-20170415-232441-0800

 I found that image_publisher is not found.
[code]

but image_publisher.py exists like below
[code]
Why rosrun searches into /opt/ros/indigo/share/jsk_perception although it's actually in /opt/ros/indigo/lib/jsk_perception?

[2017-04-28 09:21] wkentaro commented on #2073
On my env, it works without any problems:

[code]

[2017-04-28 09:22] wkentaro commented on #2073
The important thing is

[code]

which is the way of rosrun to find executables.

[2017-04-28 09:30] Horisu commented on #2073
I did't notice some files remained in catkin_workspace.
[code]
I removed jsk_~~ from catkin workspace  and everything goes well. Thanks!

[2017-04-28 09:32] #2073 closed

[2017-05-01 20:25] wkentaro opened #2077 "Documentation of nodes in jsk_recognition_utils is missing"
http://jsk-docs.readthedocs.io/en/latest/jsk_recognition/jsk_recognition_utils/

[2017-05-01 21:01] wkentaro commented on #2077
Requested at https://github.com/start-jsk/jsk_apc/pull/2057#discussion_r114156732

[2017-05-02 05:34] #2077 closed

[2017-05-02 10:52] wkentaro commented on #2037
@iory @furushchev PRs you opened are blocking the release, please respond to @k-okada if they are ready to be merged.

[2017-05-02 10:55] furushchev commented on #2037
For my PRs please skip, I'll not be able to respond till end of GW.

2017年5月2日(火) 19:52 Kentaro Wada <notifications@github.com>:

--
-- ⌘ Yuki Furuta

[2017-05-15 16:05] wkentaro opened #2087 "Error on octomap_server_contact_nodelet with source installed octomap/octomap_mapping"
@mmurooka do you have any idea?

[code]

My workspace is:

[code]

[2017-05-15 17:36] wkentaro commented on #2087
I found the way to fix.
I overlooked the dependencies, and now it is fixed.

[code]

[2017-05-15 17:39] #2087 closed

[2017-05-15 17:40] mmurooka commented on #2087
I tested in clean Ubuntu14.04/indigo environment in my VirtualBox and that error was not reproduced and octomap_server_contact was generated.

I think linking with octomap library fails in your environment and I have no idea about the reason.
Could you check following?

1. `OcTree::OcTree(double resolution)` is defined in `rosls octomap/src/OcTree.cpp`

2. there is `liboctomap.so` under `catkin_ws

[2017-05-15 17:45] mmurooka commented on #2087
入れ違いでした．
https://github.com/jsk-ros-pkg/jsk_recognition/issues/2087#issue-228764609
だけでも（octomap_rosやoctomap_msgsはaptでいれていても），僕の今試した環境では大丈夫だったんだけれど，どうしてだろう．

[2017-05-15 18:46] wkentaro opened #2091 "Proposal of introducing docker image ros:indigo + pcl1.8 to make test pass at one time"
The CI test fails because of build time of PCL1.8 at the first build, and it passes if we restarted the build thanks to the ccache.

In order to fix this, I propose the use of docker image with ros:indigo + pcl1.8.
We already have the feature of using custom docker image on jsk_travis thanks to @furushchev (https://github.com/jsk-ros-pkg/jsk_travis/pull/307),
so this should be easy to accomplish,

[2017-05-15 18:53] wkentaro commented on #2087
ありがとうございます。

octomap_msgsは多分大丈夫ですが、octomap_rosはoctomapに依存しているので本来はソースで入れないといけないのだと思います。
微妙な環境の差で変わるのかもしれないので、dockerで試してみます。

[2017-05-15 19:06] wkentaro commented on #2087
**Update**

Below also works.

[code]

[2017-05-15 20:13] wkentaro commented on #2037
@iory /ping

[2017-05-15 21:04] wkentaro commented on #2087
ビルドは通りましたが、下のようになっているので、実行時に問題になると思われます。

[code]

[2017-05-16 04:48] mmurooka commented on #2087
は，https://github.com/jsk-ros-pkg/jsk_recognition/issues/2087#issuecomment-301573088 の環境での話かな． https://github.com/jsk-ros-pkg/jsk_recognition/pull/2089, https://github.com/jsk-ros-pkg/jsk_recognition/pull/2090 は反映してないというので合ってるよね．

実行時に問題になるのは，sourceからできたoctomap.soよりもaptのoctomap.soが上にあるからということかな？

[2017-05-16 04:52] mmurooka commented on #2087
ちなみに、最初のエラー https://github.com/jsk-ros-pkg/jsk_recognition/issues/2087#issue-228764609 ですが、 https://github.com/jsk-ros-pkg/jsk_recognition/issues/2087#issuecomment-301549745 の通り、以下の環境でもbuildは通ったから（実行時の問題はあるかもしれないけれど）、最初の指摘のエラーは起きなかったんだけれど、それについて思い当たる理由はあるかな。

[code]

[2017-05-16 05:04] mmurooka commented on #1834
One possible reason is https://github.com/jsk-ros-pkg/jsk_recognition/issues/2087#issuecomment-301604262

[2017-05-16 06:02] wkentaro commented on #2087
は，#2087 (comment) の環境での話かな． #2089, #2090 は反映してないというので合ってるよね．

いえ、以下で、docker ros:indigoからでビルドした場合です。

[code]

そうです。

[2017-05-16 06:05] wkentaro commented on #2087
それに関してはわかりません。aptのパッケージのbuild versionの日付などで微妙に違うのかもしれません。ちがいはros-indigo-octomap-rosにあるはずですが。

[2017-05-16 06:14] mmurooka commented on #2087
octomap_rosをソースからいれないと、 https://github.com/jsk-ros-pkg/jsk_recognition/issues/2087#issuecomment-301604262 の問題が起きて、いれればその問題は起きない、ということを確認しました。
ちなみにどちらの環境でも（lddでaptのoctomap.soが上に来ていても）、https://github.com/jsk-ros-pkg/jsk_recognition/issues/1834 の問題は再現しませんでした。（cubeのマーカの入った領域がunknownからemptyになりました。）

[code]
[code]

[2017-05-16 06:15] mmurooka commented on #1834
Now I could not reproduce the problem that voxel is not updated with contact.
https://github.com/jsk-ros-pkg/jsk_recognition/issues/2087#issue-228764609

Is this problem still occur in your environment?

[2017-05-16 09:23] mmurooka commented on #2087
octomap_server_contact was also built and worked correctly in the following environment.
So any package related to octomap is not ncessary to be installed from source.
[code]

[2017-05-16 09:29] wkentaro commented on #1834
Fixed. Thanks .

[code]

[2017-05-16 09:29] #1834 closed

[2017-05-16 09:42] mmurooka commented on #1834
And I also confirmed that octomap source is no longer necessary. https://github.com/jsk-ros-pkg/jsk_recognition/issues/2087#issuecomment-301725696

[2017-05-18 03:27] k-okada opened #2092 "extend mmurooka's detection and tracking method to round shaped objects"
1. @mmurooka how can we use current detection and tracking method ?  is that already merged ? https://github.com/jsk-ros-pkg/jsk_recognition/pull/2027 ?
2. do we have doc for that ? if not, assign @Affonso-Gui
3. extend to round shaped objects, i.e. dishes.

[2017-05-18 03:34] mmurooka commented on #2092
1 It is not merged yet. I'd like to merge but current progress is 20% because many discussions are necessary for merging.
2 I have doc under euslib doc.
I updated install instruction of README yesterday and confirmed that rosbag tracking sample was worked correctly with this instruction in @ban-masa and @itohdak 's desktop PC. HRP2 model is not necessary for this sample, so it should work on @Affo

[2017-05-18 04:45] wkentaro commented on #2091
@k-okada Do you have deb package of PCL1.8?

[2017-05-18 06:44] k-okada commented on #2091
https://github.com/k-okada/pcl_1_8-release/releases ?

--
◉ Kei Okada

2017-05-18 13:45 GMT+09:00 Kentaro Wada <notifications@github.com>:

[2017-05-18 07:40] mmurooka commented on #2092
Also, I talked with @Affonso-Gui directly after Monday meeting, and in my understanding, his research topic is task transfer between single-arm robot and dual-arm robot. So I advised him that using simple method for visual recognition for the time being (color filter or table top), and try to make first simple task for single, dual-arm task transfer.

[2017-05-18 07:58] k-okada commented on #2092
OK, @Affonso-Gui please share what you're doing.

--
◉ Kei Okada

2017-05-18 16:40 GMT+09:00 Masaki Murooka <notifications@github.com>:

[2017-05-18 09:39] Affonso-Gui commented on #2092
This week I was focused on May Festival preparation, so wasn't able to really do anything remarkable.
For now I loaded the eus model for the plate being used and displayed it on irt according to subscribed topic position.

[2017-05-21 03:02] furushchev commented on #2048
@wkentaro Thanks for response. Unfortunately, now I could not reproduce this error any more.
I'll re-open this issue when it happens once again.

[2017-05-21 03:02] #2048 closed

[2017-05-29 06:54] Affonso-Gui opened #2096 "[jsk_pcl] Typo in ColorBasedRegionGrowingSegmentation"
Noticed a typo in ColorBasedRegionGrowingSegmentation's parameters.

Wrong: thresho**u**ld
Correct: threshold

![rqt_reconfigure](https://cloud.githubusercontent.com/assets/20625381/26539275/8625b45a-4486-11e7-88c1-ee1bb3fadacb.png)
![terminal](https://cloud.githubusercontent.com/assets/20625381/26539279/8b203480-4486-11e7-9057-bb6f1f29f201.png)

Documentation on read_the_docs states correct spell

[2017-05-29 07:35] wkentaro commented on #2096
@Affonso-Gui Could you please fix this by a PR?

[2017-05-30 08:00] Affonso-Gui commented on #2096
@wkentaro Pull Request created at #2098

[2017-06-05 02:40] k-okada commented on #2096
thank you, closed via #2098

[2017-06-05 02:40] #2096 closed

[2017-06-16 15:41] knorth55 opened #2117 "cannot locate jsk_recognition_utils python nodes"
https://travis-ci.org/start-jsk/jsk_apc/builds/243660345?utm_source=github_status&utm_medium=notification
[code]